<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohoki.backoffice.sym.cnt.mapper.CentertInfoManagerMapper">
	
    <select id="selectCenterInfoManageListByPagination"  resultType="lmap">
		SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
	        TB.* FROM (
					    SELECT CENTER_ID  ,      
							   CENTER_NM  ,
						       CASE  WHEN  length(CENTER_IMG) > 0 THEN 
				  	               CENTER_IMG
							   ELSE 
						          'no_image.gif'
						       END CENTER_IMG, 
						       CENTER_ZIPCODE,
				               CENTER_ADDR1,
				               CENTER_ADDR2,
						       CENTER_USE_YN,      	
						       ADMIN_APPROVAL_YN   ,	        
						       DATE_FORMAT(a.CENTER_UPDATE_DATE,'%Y-%m-%d %H:%i:%s') CENTER_UPDATE_DATE,
						       CENTER_UPDATE_USER_ID	        
					    FROM  tb_centerinfo a
					    WHERE 1=1        
					        <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
							  AND (    CENTER_ID LIKE CONCAT('%',#{params.searchKeyword},'%')  OR CENTER_NM LIKE CONCAT('%',#{params.searchKeyword},'%')  )
							</if>		
					    ORDER BY a.CENTER_ID  DESC
	        ) TB  
	         ORDER BY TB.CENTER_ID  DESC
	        LIMIT   ${params.firstIndex},   ${params.recordCountPerPage}  		 	    
     </select>
    <select id="selectCenterInfoManageCombo" resultType="CenterInfo">
	       SELECT  CENTER_ID , CENTER_NM 
	       FROM tb_centerinfo
	       WHERE CENTER_USE_YN = 'Y'
	       ORDER BY  CENTER_NM  ASC
    </select>
    <select id="selectCenterInfoManageDetail"  resultType="lmap">
           SELECT  CENTER_ID, CENTER_NM, CENTER_ZIPCODE, CENTER_ADDR1,  CENTER_ADDR2, CENTER_TEL,
				   CENTER_FAX, CENTER_USER_ID, CENTER_REGDATE, CENTER_UPDATE_USER_ID, 
				   CENTER_UPDATE_DATE, CENTER_IMG, CENTER_URL, CENTER_SEAT_IMG, CENTER_USE_YN , 
				   REST_INFO, MEETINGROOM_INFO, CENTER_INFO,
				   SUBSTR(CENTER_ZIPCODE,0,3) AS center_zipcode1, SUBSTR(CENTER_ZIPCODE,4,6) AS center_zipcode2 ,     
				   ADMIN_APPROVAL_YN, FLOOR_INFO, START_FLOOR, END_FLOOR
		    FROM tb_centerinfo
		    WHERE CENTER_ID = #{centerId}		  
    </select>
    
    
    
     <insert id="insertCenterInfoManage" >
         <selectKey resultType="String"  keyProperty="centerId" order="BEFORE">
            SELECT FN_CENTERID()
         </selectKey>
        <![CDATA[
             INSERT INTO tb_centerinfo (CENTER_ID, CENTER_NM, CENTER_ZIPCODE, CENTER_ADDR1, CENTER_ADDR2, CENTER_TEL,CENTER_FAX, 
                                 CENTER_USER_ID, CENTER_REGDATE, CENTER_UPDATE_USER_ID, CENTER_UPDATE_DATE, CENTER_IMG, CENTER_URL, 
                                 CENTER_SEAT_IMG, CENTER_USE_YN, REST_INFO, MEETINGROOM_INFO, CENTER_INFO, ADMIN_APPROVAL_YN, 
                                 FLOOR_INFO, START_FLOOR, END_FLOOR
                                 )
             VALUES (#{centerId}, #{centerNm},    #{centerZipCode,jdbcType=VARCHAR}, #{centerAddr1,jdbcType=VARCHAR}, #{centerAddr2,jdbcType=VARCHAR}, #{centerTel,jdbcType=VARCHAR},  #{centerFax,jdbcType=VARCHAR},
             #{centerUserId,jdbcType=VARCHAR}, NOW(), #{centerUserId,jdbcType=VARCHAR}, NOW(),  #{centerImg,jdbcType=VARCHAR}, #{centerUrl ,jdbcType=VARCHAR}, 
             #{centerSeatImg,jdbcType=VARCHAR}, 'Y', #{restInfo,jdbcType=VARCHAR}, #{meetingroomInfo,jdbcType=VARCHAR},  #{centerInfo,jdbcType=VARCHAR} , 
             #{adminApprovalYn, jdbcType=VARCHAR}, #{floorInfo, jdbcType=VARCHAR}, #{startFloor, jdbcType=VARCHAR}, #{endFloor, jdbcType=VARCHAR}
             );
         ]]>
          <if test="floorlist != null">
          INSERT INTO tb_floorinfo (CENTER_ID, FLOOR_INFO, FLOOR_NAME, 
                                   REG_DATE, REG_ID, UPDATE_DATE, UPDATE_ID)
          SELECT #{centerId}, CODE, CODE_NM, NOW(), #{centerUserId,jdbcType=VARCHAR}, NOW(), #{centerUserId,jdbcType=VARCHAR}
          FROM lettccmmndetailcode
          WHERE CODE = 'CNETER_FLOOR'
                AND CODE_DC IN  
                <foreach collection="floorlist" item="item" index="index" open="(" separator="," close=")">
                  #{item}
                </foreach>
                ;
          </if>
         
                
     </insert>
     <update id="updateCenterInfoManage" >
	       UPDATE  tb_centerinfo SET CENTER_NM = #{centerNm} ,
	                                 CENTER_ZIPCODE = #{centerZipCode,jdbcType=VARCHAR} ,
	                                 CENTER_ADDR1 = #{centerAddr1},
	                                 CENTER_ADDR2 = #{centerAddr2},
	                                 CENTER_TEL = #{centerTel,jdbcType=VARCHAR} ,
	                                 CENTER_FAX = #{centerFax,jdbcType=VARCHAR} ,
	                                 CENTER_UPDATE_USER_ID =#{centerUserId, jdbcType=VARCHAR} ,
	                                 CENTER_UPDATE_DATE = NOW() ,
	                                 CENTER_URL = #{centerUrl ,jdbcType=VARCHAR} ,
	                                 CENTER_USE_YN = #{centerUseYn,jdbcType=VARCHAR} ,
	                                 REST_INFO = #{restInfo,jdbcType=VARCHAR} ,
	                                 MEETINGROOM_INFO = #{meetingroomInfo,jdbcType=VARCHAR} ,                                
	                                 CENTER_INFO = #{centerInfo,jdbcType=VARCHAR}   
	                                 <if test="centerImg != '' ">                                    
	                                 , CENTER_IMG = #{centerImg,jdbcType=VARCHAR}
	                                 </if>
	                                 <if test="centerSeatImg !=  '' ">                     
	                                 , CENTER_SEAT_IMG = #{centerSeatImg,jdbcType=VARCHAR}
	                                 </if>      
	                                 , FLOOR_INFO = #{floorInfo, jdbcType=VARCHAR}
	                                 , START_FLOOR = #{startFloor, jdbcType=VARCHAR}
	                                 , END_FLOOR    = #{endFloor, jdbcType=VARCHAR}                     
	                                 , ADMIN_APPROVAL_YN  = 'Y' 
	      WHERE CENTER_ID = #{centerId}  
	      
	      <if test="floorInfo != null">
	       ;
	       DELETE FROM  tb_floorinfo 
	       WHERE FLOOR_SEQ in (
			     SELECT  FLOOR_SEQ 
				 FROM tb_floorinfo 
				 WHERE CENTER_ID =#{centerId}
					    AND FLOOR_INFO NOT IN ( SELECT  CODE
										        FROM lettccmmndetailcode
										        WHERE CODE_ID = 'CNETER_FLOOR'
										                AND CODE_DC IN  (
										                  select  SUBSTRING_INDEX(SUBSTRING_INDEX(tb_centerinfo.FLOOR_INFO, ',', tb_numbers.n), ',', -1) name
														  FROM tb_numbers INNER JOIN tb_centerinfo 
															   ON CHAR_LENGTH(tb_centerinfo.FLOOR_INFO)
																  -CHAR_LENGTH(REPLACE(tb_centerinfo.FLOOR_INFO, ',', ''))>=tb_numbers.n-1
														  WHERE  CENTER_ID =#{centerId} 
										                )
										 )
	      ) ;
	      
          INSERT INTO tb_floorinfo (CENTER_ID, FLOOR_INFO, FLOOR_NAME, 
                                   REG_DATE, REG_ID, UPDATE_DATE, UPDATE_ID)
          SELECT #{centerId} , CODE, CODE_NM, NOW(), #{centerUserId,jdbcType=VARCHAR}, NOW(), #{centerUserId,jdbcType=VARCHAR}
          FROM lettccmmndetailcode
          WHERE CODE_ID = 'CNETER_FLOOR'
                AND CODE_DC IN  ( SELECT  SUBSTRING_INDEX(SUBSTRING_INDEX(tb_centerinfo.FLOOR_INFO, ',', tb_numbers.n), ',', -1) name
								  FROM tb_numbers INNER JOIN tb_centerinfo 
									   ON CHAR_LENGTH(tb_centerinfo.FLOOR_INFO)
										  -CHAR_LENGTH(REPLACE(tb_centerinfo.FLOOR_INFO, ',', ''))>=tb_numbers.n-1
								  WHERE  center_id =#{centerId}  
                )
          AND CODE NOT IN ( select FLOOR_INFO from tb_floorinfo where center_id = #{centerId}) ;
          </if>         
     </update>
     <update id="updateCenterFloorInfoManage" >
          UPDATE  tb_centerinfo SET FLOOR_INFO = #{floorInfo, jdbcType=VARCHAR}
          WHERE CENTER_ID = #{centerId}   
     </update>
     <delete id="deleteCenterInfoManage">
	       DELETE FROM tb_centerinfo
	       WHERE CENTER_ID = #{centerId}
     </delete>
</mapper>