/*all*/
html, body{font-size: 10px; background-color: #fafafa; }
.clear {clear: both;}
.float_left {float: left;}
.float_right {float: right;}
.padding_top30 {padding-top: 30px}
::-webkit-scrollbar {display: none;}
.w50 {width: 50% !important;}
.w100 {width: 100% !important;}
.whiteBack .scroll::-webkit-scrollbar {display: none !important;} 
/*login*/
.login, .main_back{width: 100%;
  height: 100vh;
  background: url(/front_res/img/login_back.jpg)no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
position: relative;}
.log_b{background: rgb(255 255 255 / 95%);border-radius: 4px;text-align: center;box-sizing: border-box;}
.login_reser_box {
    border: 1px solid #ccc;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
}
.log_b h1 {
    box-sizing: border-box;
    border-bottom: 1px dashed #eeeeee;
}
.log_b p {
    color: #444444;
}

.log_b span {
    color: #828282;
}
.main_back header {
    position: absolute;
    top: 0;
}
/*header*/
header {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    background-color: #ffffff;
    padding: 0 70px;
    border-bottom: 1px solid #eeeeee;
}
/*floor Btn*/
#allFloors {
    text-align: center;
    margin-left: 5px;
    box-sizing: border-box;
    padding: 10px 0;
    position: relative;
}
#allFloors a:first-child {
    margin-left: 0 !important;
}
#allFloors a {
    margin-left: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: white !important;
    color: #333333;
    box-sizing: border-box;
}
#allFloors a.active {
    border: none;
    background-color: #f39800 !important;
    color: white !important;
}
.inputSearch{
    outline: none;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
}



/*leftMenu*/
.back {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    overflow-x: hidden;
}

.sidenav {
    height: 100%;
    width: 0;
    background-color: #fff;
    position: relative;
    /*transition: 0.5s;*/
}

    .sidenav .closebtn {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 2.0rem;
        color: #818181;
        display: block;
        transition: 0.3s;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 3.6rem;
        margin-left: 50px;
    }

        .sidenav .closebtn:hover {
            color: #f1f1f1;
        }

/*rightMenu*/
.backRight {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    overflow-x: hidden;
}

.sidenavRight {
    height: 100%;
    width: 0;
    background-color: #fff;
    position: absolute;
    transition: 0.5s;
    right: 0;
}

    .sidenavRight .closebtn {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 2.0rem;
        color: #818181;
        display: block;
        transition: 0.3s;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 3.5rem;
        margin-left: 50px;
    }


        .sidenavRight .closebtn:hover {
            color: #f1f1f1;
        }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 1.8rem;
        }

    .sidenavRight {
        padding-top: 15px;
    }

        .sidenavRight a {
            font-size: 1.8rem;
        }
}

.leftMenu {
    width: 25px;
    position: absolute;
}

    .leftMenu span {
        font-size: 0;
        cursor: pointer;
        color: #747474;
        vertical-align: middle;
        display: block;
        z-index: 99;
        vertical-align: middle;
    }

.header {
    position: absolute;
    z-index: 999;
    width: 100%;
    background: #fff;
    padding: 16px 0;
}

.header_tit {
    width: 70%;
    z-index: 9;
    text-align: center;
    font-size: 2.0rem;
    top: 14px
}


.searchBtn {
    cursor: pointer;
    font-size: 1.6rem;
    background-color: #888888;
    color: white;
    height: 40px;
    display: block;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 4px;
}
.dateIcon{
    background: url("/front_res/img/dateIcon.png") no-repeat center 4px;
    width: 20px;
    height: 25px;
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}

.floorBtn {
    position: absolute;
    z-index: 9999;
    right: 5%
}

    .floorBtn span {
        display: block;
        background: #fff url("/front_res/img/floorImg.png")center no-repeat;
        font-size: 0;
        cursor: pointer;
        width: 50px;
        height: 50px;
        vertical-align: middle;
    }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.seatInfo span {
    font-weight: bold;
    font-size: 2.5rem;
    margin-right: 5px;
    color: #16a7be;
}

.usingSeat {
    background: url("/front_res/img/seatIcon01.png")left center no-repeat
}

.posSeatD {
    background: url("/front_res/img/seatIcon03.png")left center no-repeat;
}
.posSeatU {
    background: url("/front_res/img/seatIcon02.png")left center no-repeat;
}

.user_name {
    font-size: 1.8rem;
}

.seat_name {
    font-size: 1.2rem;
}

.logout a {
    font-size: 1.6rem;
    color: #505050;
    text-decoration: none;
}

.userBox {
    padding-top: 60px;
    width: 220px;
    margin: auto;
    border-bottom: 1px solid #ededed;
    padding-bottom: 24px;
    transition: 0.5s;
}


.gnb {
    padding-top: 35px;
    width: 200px;
    margin: auto;
}

    .gnb a {
        display: block;
        font-size: 1.8rem;
        color: #000;
        padding-bottom: 12px;
    }

.logo {
    position: absolute;
    bottom: 12%;
    width: 100%;
}

.logoBox {
    width: 200px;
    margin: auto;
    border-top: 1px solid #f1f1f1;
    padding-top: 14px;
}

.floorList {
    width: 200px;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 60px
}

    .floorList a {
        display: block;
        padding-bottom: 13px;
    }

        .floorList a:hover > .floor_icon {
            background: #feb143;
            border: 2px solid #feb143;
            color: #fff
        }

        .floorList a.active > .floor_icon {
            background: #feb143;
            border: 2px solid #feb143;
            color: #fff
        }

.floor_icon {
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.8rem;
    color: #b8b8b8;
    line-height: 2.2em;
    border: 2px solid #b8b8b8;
    border-radius: 50%;
}

.floor_txt {
    font-size: 1.8rem;
    color: #000;
    vertical-align: middle;
    padding-left: 20px;
}

.seatReser {
    background: #333333;
    color: white;
    font-weight: 400;
    font-size: 1.0rem;
    vertical-align: middle;
    display: inline-block;
    border-radius: 4px;
}

.blueBtn {
    background: #007ac3;
    color: white;
    font-weight: 400;
    vertical-align: middle;
    display: inline-block;
}

.grayBtn {
    background: #999999;
    color: white;
    font-weight: 400;
    font-size: 1.0rem;
    vertical-align: middle;
    display: inline-block;
    border-radius: 4px;
}

    .seatReser a, .blueBtn a, .grayBtn a {
        color: white;
    }

.sel_txt {
    font-size: 1.0rem;
    color: #808080;
    font-weight: 400;
    line-height: 55px;
    background: url(/front_res/img/seat_message_icon.png)no-repeat left center;
    padding-left: 80px;
    height: 58px;
}

.rightBtn {
    position: absolute;
    right: 0;
    top: 0;
}
/*.map{
    position:relative;width:1300px; margin:0 auto; box-sizing: border-box;height:1034px; background-size:100% !important;
}*/
/*convenient facilities*/
.convenBox {
    width: 650px;
    padding-left: 5%;
}

    .convenBox a {
        display: block;
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 2px 4px 2px #eaeaea;
        border: 1px solid #eee;
        margin-right: 13px;
        font-size: 0;
    }

.convenIcon01 {
    background: #fff url("/front_res/img/floorIcon01.png")center no-repeat;
}

    .convenIcon01.select {
        background: #feb143 url("/front_res/img/floorIcon01_sel.png")center no-repeat;
    }

.convenIcon02 {
    background: #fff url("/front_res/img/floorIcon02.png")center no-repeat;
}

    .convenIcon02.select {
        background: #feb143 url("/front_res/img/floorIcon02_sel.png")center no-repeat;
    }

.convenIcon03 {
    background: #fff url("/front_res/img/floorIcon03.png")center no-repeat;
}

    .convenIcon03.select {
        background: #feb143 url("/front_res/img/floorIcon03_sel.png")center no-repeat;
    }

.convenIcon04 {
    background: #fff url("/front_res/img/floorIcon04.png")center no-repeat;
}

    .convenIcon04.select {
        background: #feb143 url("/front_res/img/floorIcon04_sel.png")center no-repeat;
    }

.convenIcon05 {
    background: #fff url("/front_res/img/floorIcon05.png")center no-repeat;
}

    .convenIcon05.select {
        background: #feb143 url("/front_res/img/floorIcon05_sel.png")center no-repeat;
    }

.convenIcon06 {
    background: #fff url("/front_res/img/floorIcon06.png")center no-repeat;
}

    .convenIcon06.select {
        background: #feb143 url("/front_res/img/floorIcon06_sel.png")center no-repeat;
    }
/*myreserve*/
.leftReser {
    height: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background: #fafafa;
    display: none;
}

.menuHeader {
    background: #1baec5;
    color: #fff;
    padding: 21px 0;
    font-size: 1.6rem;
    text-align: center;
}

.menuCon {
    padding-top: 20px
}

.menu_tit {
    font-size: 0.9rem;
}

.menu_box {
    box-shadow: 0 2px 5px rgb(207 207 207 / 32%);
    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eef4fa;
}

.sel_box .menu_box {
    padding: 7px 15px !important;
}

.menuClose {
    color: #fff;
    position: absolute;
    top: 2px;
    font-size: 2.0rem;
}

.date_tit {
    font-size: 1.4rem;
    color: #c9c9c9
}

.date {
    background: url("/front_res/img/date_icon.png") right center no-repeat;
    border-bottom: 1px solid #dedede;
    font-size: 1.8rem;
    float: left;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    margin-right: 20px;
    outline: none;
}

.reser_list span {
    padding-left: 25px;
    margin-right: 5px;
    display: inline-block;
}

.list_icon01 {
    background: url("/front_res/img/listIcon01.png")left center no-repeat;
}

.list_icon02 {
    background: url("/front_res/img/listIcon02.png")left center no-repeat;
}

.list_icon03 {
    background: url("/front_res/img/listIcon03.png")left center no-repeat;
}

.list_icon04 {
    background: url("/front_res/img/listIcon04.png")left center no-repeat;
}

.progress {
    margin-bottom: 5px
}

    .progress p {
        font-size: 1.8rem;
        padding-left: 30px;
        float: left
    }

.check {
    background: url("/front_res/img/check.png")left center no-repeat;
}

.canncel {
    background: url("/front_res/img/cancel.png")left center no-repeat;
}

.return {
    background: url("/front_res/img/return.png")left center no-repeat;
}

.finish {
    background: url("/front_res/img/stand.png")left center no-repeat;
}

.list_left {
    width: 30%;
    float: left;
    border-right: 1px solid #e1e1e1;
}

.list_tit {
    color: #c9c9c9;
    font-size: 0.8rem;
    ;
}

.list_txt {
    font-size: 0.9rem
}

.list_right {
    width: 62%;
    float: left;
}

.list_right {
    padding-left: 15px
}

.searchMeeting {
    display: block;
    position: absolute;
    z-index: 10000;
    cursor: pointer;
}

.reserTime {
    float: left;
    padding: 10px 0;
    padding-left: 5px;
}

    .reserTime select {
        float: left;
        border-bottom: 1px solid #dedede;
        font-size: 1.8rem;
        border-right: 0;
        border-top: 0;
        border-left: 0;
        outline: none;
        padding-top: 3px;
        background: #fff;
    }

.meeting_option input[type="checkbox"] {
    border: 1px solid #dedede;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 10px;
}

.meeting_option label {
    vertical-align: middle;
}

.meeting_option li {
    padding: 2px 15px;
}

.menuBtn {
    margin-top: 30px;
    text-align: center;
}

    .menuBtn .blueBtn {
        padding: 3px 32px !important;
    }

.menu_table {
    width: 100%;
    text-align: center;
}

    .menu_table th {
        border-bottom: 1px solid #323232;
        font-weight: 300
    }

    .menu_table td {
        color: #c3c3c3;
        border-bottom: 1px solid #c3c3c3;
        font-weight: 300
    }

    .menu_table th, .menu_table td {
        padding: 5px
    }

.seat li {
    position: absolute;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.8rem;
    text-align: center;
    line-height: 40px;
}

.meetingSeat li {
    width: 90px !important;
    height: 90px !important;
    color: #fff;
    background: #7294c7;
    box-sizing: border-box;
    border-radius: 50%;
}

    .meetingSeat li.use {
        background: url("/front_res/img/none_back.jpg")center;
    }

    .meetingSeat li span {
        font-size: 1.6rem !important;
        line-height: 84px !important;
    }

.seat li span {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2.0rem;
    line-height: 38px;
    text-align: center;
    font-weight: 500;
}

.seat li.select {
    background: #004771 !important;
    color: white;
}


.seat li.none {
    background: #959595;
    color: white;
}

.seat li.seatUse {
    background-color: #007ac3;
    color: white;
}

    .seat li.onSeat span {
        color: white
    }


.seat li.seatBlock {
    background: #3f6020;
    border: 2px solid #3f6020;
    color: white;
}

.noneSeat {
    background: url("/front_res/img/nonseat.png")left center no-repeat;
    margin-left: 10px;
    padding-left: 19px;
}

.meetingSelect {
    width: 100%;
    position: fixed;
    z-index: 99999;
    left: 0;
    height: 0;
    overflow-x: hidden;
    overflow-y: hidden
}

.meeting_contents {
    background: #f9fcff
}



.sel_list li {
    display: inline-block;
}

.sel_list .sel_list_txt {
    color: #c3c3c3;
    padding-left: 5px;
}

.sel_noti input[type="text"] {
    border: 0;
    font-size: 1.8rem;
    width: 250px;
    outline: none;
}

.sel_noti {
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    padding: 3px 0;
    margin-bottom: 11px;
}

.meeting_sleBtn {
    font-size: 1.8rem;
    padding: 5px 32px !important;
}

.meeting_reserDate .reserDate .date {
    margin-right: 10px !important;
}

.meeting_reserDate .menuBtn {
    margin-bottom: 30px;
}

.state {
    background: #f39800;
    border: 1px solid #f39800;
}

    .state li {
        float: left;
        width: 50%;
        padding: 6px 2px;
    }

        .state li a {
            text-align: center;
            color: #fff;
            font-size: 1.4rem;
            padding: 3px 0;
            display: block;
        }

            .state li a.active {
                background: #fff;
                color: #feb143;
                border-radius: 4px;
                box-shadow: 0px 2px 0px 1px #e2e2e2;
            }

        .state li:last-child {
            width: 98%;
        }
/*mypage*/
.loginB {
    position: relative;
    min-height: 100%;
    background: #ffffff;
}

.user_tit {
    font-size: 1.7rem;
}

.user_state {
    text-align: center;
    border-radius: 5px;
    width: 62%;
    border: 1px solid #fff;
}

.user_logout {
    font-size: 1.4rem;
    color: #c6cfd9;
    font-weight: 200;
    padding-top: 10px;
    display: inline-block;
}

.reser_b_txt {
    padding-top: 6px;
    font-size: 1.6rem;
}

    .login_reser_box .reser_b_tit {
        font-weight: 300;
        float: left;
        box-sizing: border-box;
    }

    .login_reser_box input {
        border: none;
        outline: none;
        background: none;
        font-weight: 200;
        box-sizing: border-box;
        border: none !important;
        padding: 0 !important;
    }

.login_auto_login_box {
    font-size: 1.6rem;
    color: black;
}

    .login_auto_login_box input[type="checkbox"] {
        position: relative;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0
    }

.user_state li {
    float: left;
    width: 48%;
    padding: 6px 2px;
}

    .user_state li a {
        text-align: center;
        color: #fff;
        padding: 5px 0;
        display: block;
        box-sizing: border-box;
    }

        .user_state li a.active {
            background: #fff;
            color: #003759;
            font-weight: 500;
            border-radius: 4px;
            box-shadow: 0px 2px 0px 1px #e2e2e2;
            margin-top: -1.5px;
        }

.reser_box .reser_b_tit {
    color: #c4c4c4;
    font-weight: 500;
    padding-bottom: 10px;
}

.reser_box a.reser_b_go {
    background: url("/front_res/img/user_reser.png")right center no-repeat;
    padding-right: 15px;
    color: #cacaca
}

.none_reser {
    color: #adadad
}

.log_footer {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 20px auto 0;
}

.log_f_btn {
    text-align: center;
    background: #ffb63b;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 15px 0;
    border-radius: 4px;
    display: block;
}

.reser_f_box {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.qrBtn {
    background: url("/front_res/img/qrBtn.png")left center no-repeat;
    font-size: 1.8rem;
    color: #feb143;
    padding: 11px 0 11px 51px;
    font-weight: 500;
    display: inline-block;
}

.reser_box input {
    width: 100%;
    outline: none;
    border-bottom: 1px solid #dfdfdf;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 1.8rem;
    padding: 9px 0;
}

.login_tit {
    font-size: 2.0rem;
    font-weight: 500;
    color: #606060;
}

.log_noti {
    text-align: center;
    padding: 10px 18px;
    font-size: 1.6rem;
}

    .log_noti a {
        color: #919191;
        text-decoration: underline;
        font-weight: 300;
        text-underline-position: under;
    }

iframe {
    width: 100%;
    min-height: 580px;
}

.notice table {
    table-layout: fixed;
    border-top: 2px solid #797979;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

    .notice table tr th:nth-child(1), .notice table tr td:nth-child(1) {
        width: 17%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .notice table tr th:nth-child(2), .notice table tr td:nth-child(2) {
        width: 53%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .notice table tr th:nth-child(3), .notice table tr td:nth-child(3) {
        width: 30%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .notice table th {
        border: 1px solid #e6e6e6;
        border-bottom: 1px solid #999;
        border-top: 0;
        background: #f9f9f9;
        padding: 9px 15px;
        font-size: 1.4rem;
        font-weight: 400;
    }

    .notice table td {
        cursor: pointer;
        border: 1px solid #ddd;
        padding: 11px 3px;
    }

    .notice table tr:hover td {
        position: static;
        background-color: #fcfcfc
    }

.inner_paging {
    margin-top: 15px;
    text-align: center;
}

    .inner_paging a, .inner_paging span {
        display: inline-block;
        vertical-align: middle;
    }

.link_page a {
    font-size: 0
}

.link_page_n a {
    font-size: 1.4rem;
    color: #ccc;
    font-weight: 200;
    margin: 0 2px;
}

.btn_fst, .btn_prev, .btn_next, .btn_last {
    width: 28px;
    height: 28px;
    margin: 3px;
    border: 1px solid #e6e6e6;
    text-align: center;
}

.btn_fst {
    background: url("/front_res/img/ico_corp_fst.png")center no-repeat;
}

    .btn_fst:hover {
        background: #000 url("/front_res/img/ico_corp_fst_a.png")center no-repeat;
    }

.btn_prev {
    background: url("/front_res/img/ico_corp_prev.png")center no-repeat;
}

    .btn_prev:hover {
        background: #000 url("/front_res/img/ico_corp_prev_a.png")center no-repeat;
    }

.btn_next {
    background: url("/front_res/img/ico_corp_next.png")center no-repeat;
}

    .btn_next:hover {
        background: #000 url("/front_res/img/ico_corp_next_a.png")center no-repeat;
    }

.btn_last {
    background: url("/front_res/img/ico_corp_last.png")center no-repeat;
}

    .btn_last:hover {
        background: #000 url("/front_res/img/ico_corp_last_a.png")center no-repeat;
    }

.link_page_n .active {
    color: #000
}

.bbs_tit {
    border-top: 2px solid #797979;
    border-bottom: 1px solid #d5d5d5;
    padding: 23px 25px;
    background: #f7f7f7;
}

    .bbs_tit h2 span {
        padding-right: 5px;
        display: inline-block;
    }

.bbs_date {
    font-size: 1.4rem;
    color: #9c9c9c;
    float: right;
}

.bbs_contents {
    padding: 40px 25px;
    border-bottom: 1px solid #d5d5d5;
    font-size: 1.4rem;
}

a.notice_btn_back {
    color: #707070;
    font-size: 1.4rem;
    display: block;
    border: 1px solid #989898;
    padding: 6px 24px;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}

    a.notice_btn_back:hover {
        background: #dfdfdf;
    }

.margin_b30 {
    margin-bottom: 30px
}

.meeting_reserDate {
    min-height: 430px
}

.leftReser_con {
    width: 90%;
    margin: auto
}

.feature_txt .date {
    float: none;
    color: #fff;
    font-size: 1.4rem;
    background: url("/front_res/img/date_icon_small.png") right center no-repeat
}
.sle_tit_nam {color: #007ac3;margin-left: 10px;font-weight:600;}


/*20200701
input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}*/

    input[type="checkbox"] + label {
        display: inline-block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        color: #007ac3;
        margin-left: 5px;
    }

  
    input:disabled[type="checkbox"] + label {
        display: inline-block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        color: #b7b7b7;
        margin-left: 5px;
    }


.sel_b_btn {
    border-top: 1px solid #e3e3e3;
    padding: 12px 0;
    margin-top: 15px;
    text-align: right;
}

    .sel_b_btn a {
        padding: 5px 22px !important;
    }

.time_sel {
    display: inline-block;
    background: #d7e1ea;
    padding: 3px 7px 3px 12px;
    font-size: 1.3rem;
    border-radius: 30px;
    text-align: center;
    color: #8998a8;
    margin-top: 7px;
    margin-right: 1px
}

.sel_del_icon {
    background: url("/front_res/img/del_icon.png")center no-repeat;
    display: inline-block;
    width: 10px;
    padding-left: 8px;
    margin-top: -4px;
    height: 10px;
    cursor: pointer;
    vertical-align: middle;
    font-size: 0;
}

/*20200710*/
.ui-widget.ui-widget-content {
    padding: 10px 5px;
    z-index: 9999 !important;
    box-sizing: border-box;
    width: 200px !important;
}

.ui-datepicker {
    padding-top: 0 !important;
}

.whiteBtn {
    display: inline-block;
    color: #fe9943;
    font-size: 1.6rem;
    background: #ffffff;
    padding: 3px 17px;
    border-radius: 30px;
    font-weight: 500;
}

.meeting_member {
    padding: 0 !important;
    margin-left: 0 !important;
    background: #f9fcff !important;
    font-size: 1.4rem
}

    .meeting_member select {
        border-bottom: 1px solid #dedede;
        border-right: 0;
        border-top: 0;
        border-left: 0;
        outline: none;
        padding-top: 3px;
        background: #fff;
    }

    .meeting_member input[type="text"] {
        border-bottom: 1px solid #dedede;
        border-right: 0;
        border-top: 0;
        border-left: 0;
        outline: none;
        padding-top: 3px;
        background: #fff;
    }

    .meeting_member .needpopup_remover {
        color: #fff !important;
    }

.pop_table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}

    .pop_table thead th {
        background: #f7fbff;
        color: #8998a8;
        padding: 8px 0;
        font-weight: 300;
    }

    .pop_table tbody td {
        padding: 8px 0;
        border-bottom: 1px solid #f3f3f3;
        color: #878787;
        border-top: 1px solid #f3f3f3;
    }

.tb_box {
    max-height: 205px;
    overflow-y: scroll;
    border-bottom: 1px solid #f3f3f3;
}

.fixed_top {
    display: inline-table;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 17px);
}

.tb_wrap {
    position: relative;
    padding-top: 40px;
    box-shadow: 0px 2px 4px 2px #eaeaea;
    background: #fff;
    margin-top: 10px;
    border: 1px solid #eef4fa;
}

    .tb_wrap .sel1 {
        width: 15%
    }

    .tb_wrap .sel2 {
        width: 30%;
    }

    .tb_wrap .sel3 {
        width: 35%
    }

.tab_f_btn {
    margin: 10px auto;
    text-align: center;
}

    .tab_f_btn a {
        padding: 5px 28px !important;
    }

.mem_moer {
    font-size: 1.4rem;
    color: #afafaf;
    margin-left: 5px;
}

/*ÃƒÆ’Ã‚Â­Ãƒâ€¦Ã‚Â½Ãƒâ€šÃ‚Â¸ÃƒÆ’Ã‚Â¬Ãƒâ€šÃ‚ÂÃƒâ€¹Ã…â€œÃƒÆ’Ã‚Â¬ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã‚Â¬ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¤*/
.posi li {
    position: absolute;
}

    .posi li span {
        width: 55px;
        height: 55px;
        display: block;
        background: url("/front_res/img/position.png")no-repeat;
        font-size: 0;
    }

.toilet_men {
    display: none
}

.toilet_girl {
    display: none
}

.toilet_ele {
    display: none;
}

.toilet_locker {
    display: none;
}

.toilet_cafe {
    display: none;
}

.toilet_meetinglounge {
    display: none;
}

.posi1 {
    left: 771px;
    top: 409px;
}

.posi2 {
    left: 813px;
    top: 482px;
}

.posi3 {
    left: 1107px;
    top: 410px;
}

.posi4 {
    left: 933px;
    top: 461px;
}

.posi5 {
    left: 1117px;
    top: 231px;
}

.posi6 {
    left: 759px;
    top: 616px;
}

.posi7 {
    left: 969px;
    top: 189px;
}

.posi8 {
    left: 780px;
    top: 708px;
}

.posi9 {
    left: 1600px;
    top: 159px;
}

.posi10 {
    left: 336px;
    top: 596px;
}

.posi11 {
    left: 1379px;
    top: 618px;
}

/*20200810*/
.notice table td a {
    color: #333;
    display: block;
    width: 100%;
}

.inner_paging a {
    color: #333
}

.sub_popup .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0 0;
    position: absolute;
    z-index: 1;
    height: 100px;
    bottom: 110%;
    line-height: 1.3rem;
    left: 50%;
    margin-left: -125px;
    font-weight: 200;
}

    .sub_popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.sub_popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.my_reser_box {
    text-align: center;
}

.reser_box {
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
    font-size: 1.6rem;
}

.reser_box_txt span {
    color: #7d7d7d;
    font-size: 1.6rem;
    padding-left: 40px;
}

.bbs_con img {
    width: 100%;
}

.full-size {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30vh;
}

    .full-size h1 {
        padding-top: 30px;
        font-size: 30px;
        margin-top: 45px;
        margin-bottom: 25px;
        border-top: 1px dashed gray;
    }

    .full-size p {
        margin-bottom: 5px;
        font-size: 22px;
    }

.seat_info05 {
    background: url(/front_res/img/seat_info05.png)no-repeat left center;
}

#app {
    background-color: #f8f8f8;
}

li.ui-menu-item {
    border-bottom: 1px dashed #eeeeee;
    padding-bottom: 10px;
}


.whiteBack h5{color: #686868;font-weight: 600;}
.none{background-color: gray;border-left: none!important;}
.now{background-color: #278fd0;}
.list_T a {
    float: left;
    border: 1px solid #eaeaea;
    background-color: #eaeaea;
    color: #5d5d5d;
    padding: 0 10px;
    box-sizing: border-box;
    height: 40px;
    font-size: 1.4rem;
    width: 75px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}

.list_T {margin-bottom: 0;margin-top: -20px;}
.calBtn {
    margin-left: -1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dayBtn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.list_T a.active {
    background-color: #5d5d5d;
    border: none;
    color: white;
}
.booking li{width: 50%;float: left;text-align: left;margin-bottom: 6px;}
.booking li.unuse:before{display: inline-block;content: '';width: 10px;height: 10px;border-radius: 5px;background-color: #898989;margin-right: 5px;}
.booking li.useD:before{display: inline-block;content: '';width: 10px;height: 10px;border-radius: 5px;background-color: #f39800;margin-right: 5px;}
.booking li.useU:before{display: inline-block;content: '';width: 10px;height: 10px;border-radius: 5px;background-color: #007ac3;margin-right: 5px;}
.booking:after{clear: both; display: block; visibility: hidden; content: '';}

/* Popup container - can be anything you want */
.meet_popup {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.meet_popup .popuptext {
  display: none;
  width: auto;
  min-width: 200px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 15px;
  font-weight: 400;
}

/* Toggle this class - hide and show the popup */
.meet_popup .show {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.m_title {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 500;
}
.my_T{    width: 100%;
    border-top: 2px solid #4a4a4a;
    font-size: 1.4rem;}
.my_T th, .my_T td {
    padding: 23px 0;
    border-bottom: 1px solid #f4f4f4;
    text-align: center;
}

.my_T th {
    width: 220px;
    text-align: center;
    padding: 15px;
}
.my_T tr td:last-child{text-align: center;padding:15px;}
.cancleBtn.active{
    cursor: pointer;
    background-color: #278fd0;
    color: white;
    }
    .cancleBtn{
    border: none;
    padding: 10px 15px;
    font-size: 1.3rem;
    border-radius: 4px;
    background-color: #a2a2a2;
    color: #b9b9b9;
    }

           /* a[data-needpopup-show] {
                display: inline-block;
                margin: 0 10px 10px 0;
                padding: 10px 15px;
                font-weight: bold;
                letter-spacing: 1px;
                text-decoration: none;
                color: #fff;
                background: #7B5207;
              border-radius: 3px;
              box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
            }*/
            .needpopup {
              border-radius: 4px;
              box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.4);
              font-size: 1.6rem;
              text-align: center;
              font-weight: 600;
            }

            .needpopup p {
                margin: 0;
            }
            .needpopup p + p {
                margin-top: 10px;
            }
           .pop_tit {
    font-size: 2rem;
}
.form {
    margin-top: 25px;
    border-top: 2px solid #278fd0;
    padding-top: 20px;
    font-size: 1.5rem;
    max-height: 60vh;
    overflow: auto;
}

  .form::-webkit-scrollbar {
    display: block !important;
    width: 10px;
  }
  .form::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 5px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .form::-webkit-scrollbar-track {
    background-color: #b1b1b1;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
.form li {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: left;
    padding-top: 20px;
    border-top: 1px dashed #d6d6d6;
}

.form li select {
    font-size: 1.5rem;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    background: white;
}
input[type="text"] {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
.pop_text {
    margin-bottom: 10px !important;
    display: block;
}

.startTime, .endtime {width: 36% !important;}

.form li:first-child {
    border-top: none;
    padding-top: 5px;
}
.footerBtn button{border:none;width: 49%;float: left;}
.footerBtn .grayBtn {
    float: right;
}
.seatSel {background: #fff;color: #979797;font-size: 14px;padding: 0;font-weight:200;border-bottom: 1px solid #e9e9e9;}
.sle_tit{padding-bottom: 17px;font-size: 18px;color: #2a2c2e;font-weight:400;}
.sel_box {width: 100%;margin: auto;padding: 15px 0;text-align: left;overflow-y: scroll;margin:auto;height: calc(100vh - 210px) !important;} 
.sel_box::-webkit-scrollbar {
    display: block !important;
    width: 10px;
  }
  .sel_box::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 5px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .sel_box::-webkit-scrollbar-track {
    background-color: #b1b1b1;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
div#time_popup {
    width: 435px;
    padding: 20px;
    top: 25%;
}
.pop_meeting_btn{position: absolute;left: 0;bottom: 0;width: 100%;}
.pop_meeting_btn .blueBtn{width: 100%;}
.join{
    text-align: center;
    background: #eaeaea;
    color: #676767;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 15px 0;
    border-radius: 4px;
    display: block;
    }
.joinArea h1 {
    text-align: center;
}

.joinform {
    margin-top: 45px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.joinform input[type="checkbox"] {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.joinform p {
    display: inline-block;
    margin-left: 10px;
    vertical-align: bottom;
    font-size: 1.6rem;
    font-weight: 600;
}

.blueFont {
    color: #238dd1;
}

.scroll {
    margin-top: 15px;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ededed;
    height: 120px;
    overflow-y: scroll;
    font-size: 1.2rem;
    border-radius: 5px;
    word-break: keep-all;
    line-height: 19px;
}
.scroll::-webkit-scrollbar {
    display: block !important;
    width: 10px;
  }
  .scroll::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 5px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .scroll::-webkit-scrollbar-track {
    background-color: #b1b1b1;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
.joinArea table {
    width: 100%;
    margin-top: 20px;
}

.joinArea table th {
    width: 100%;
    display: block;
    font-size: 1.4rem;
    text-align: left;
    padding-bottom: 15px;
}

.joinArea table td {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.joinArea select {
    font-size: 1.5rem;
    width: 100%;
    border: 1px solid #ededed;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.joinArea table section {margin-bottom: 5px;}

.w500 {
    width: 500px;
}

.joinArea table section button {
    border: 1px solid #eaeaea;
    background-color: #5eacdc;
    border-radius: 5px;
    height: 50px;
    box-sizing: border-box;
    vertical-align: bottom;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}
.joinBtn {
    margin-top: 25px;
    width: 100%;
    padding: 15px 0;
    font-size: 1.4rem;
}

.darkBtn {
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main_titB {
    text-shadow: 0 2px 20px rgb(0 0 0 / 30%);
    color: #fff;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 15px;
}
.main_tit {
    font-size: 3.8rem;
    font-weight: 500;
}
.slider_box { position: relative; }
.swiper-container {
     width: 85%;
     height: 370px;
}
.swiper-slide {
    background: #fff;
    border-radius: 5px;
    position: relative;
    min-height: 370px;
} 
.slider_box {padding: 20px 30px;}
.padding_box { padding:0 30px; }
.slide_tit {font-size:  30px;background: url("/front_res/img/slider_back.png ")left 85% no-repeat;padding-bottom: 35px;font-weight: 600;margin-bottom: 25px;}
.meeting_ing { background: url("/front_res/img/meeting_ing.png")left bottom no-repeat; }
.meeting_noti {color:#424242;font-weight: 500;font-size: 1.5rem;}
.meeting_btn { position: absolute;width: 100%; bottom:30px}
.start_btn {
    display: block;
    border:1px solid #bdbdbd;
    background: #fff;
    color: #262626;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 8px;
    font-size: 1.5rem;
}
.booking_btn {
    display: block;
    background: #5d5d5d;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
}
.view_pop{
    font-size: 1.7rem;
    font-weight: 500;
    color: #000;
}
.main-noti{
    background:rgba(0, 0, 0, 0.8);
    position:absolute;
    bottom:0;
    width:100%;
    height:65px;
    font-size: 1.4rem;
    }
.main-noti-con{padding-top: 20px;text-align: center;}
.main-noti h3{font-weight: 300; display: inline-block;}
.main-noti span{padding-left: 40px;}
.noti-down{background: url(/front_res/img/notice_down.png) no-repeat 10px;
    margin-left: 12px;}
    .meet .scroll {
    height: 675px;
    border: none;
    padding: 0;
}
.main-noti a {
    color: white;
}
.box_2{margin-bottom: 20px;}
.seat_info {
    line-height: 70px;
    border-bottom: 1px solid #f4f4f4;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 70px;
    box-sizing: border-box;
    font-size: 1.8rem;
    font-weight: 600;
    background: url(/front_res/img/seat_message_icon.png) no-repeat 15px 15px;
    background-size: 40px;
    padding-left: 65px;
    background-color: white;
}

#mySidetime .closebtn {
    top: 10px;
    z-index: 100;
    right: 10px;
}

.select_time {
    margin-top: 70px;
}

#mySidetime .sidenav {
    padding: 20px !important;
    background-color: #fafafa;
    width: 390px !important;
}
#mySidetime .blueBtn {
    bottom: 0 !important;
    border-radius: 0 !important;
}
.select_time p {
    font-size: 1.5rem;
}
.needpopup{top: 15vh !important;}

.listBtn{background: url(/front_res/img/list.png)no-repeat center #eaeaea;border-top-left-radius: 4px;border-bottom-left-radius: 4px;margin-right: -3px;}
.listBtn.active{background: url(/front_res/img/list_A.png)no-repeat center;background-color: #5d5d5d;}
.blockBtn{background: url(/front_res/img/block.png)no-repeat center #eaeaea;border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.blockBtn.active{background: url(/front_res/img/block_A.png)no-repeat center;background-color: #5d5d5d;}
.btnHidden{visibility: hidden;}
.meet_list ul.list{width: 100%; border-top: 2px solid #4a4a4a;}
.meet_list ul.list li {
    padding: 20px 10px;
    border-bottom: 1px solid #eaeaea;
    font-size: 1.5rem;
}

.my_T td {
    padding: 15px 0;
}
.meet_tit {
    font-weight: 600;
}



.meetD {
    margin-top: 15px;
    color: gray;
}
.page_num{width: 100%; font-size: 1.4rem; text-align: center; margin-top: 20px;}
.page_num li{display: inline-block; margin:0 5px; cursor: pointer;}
.page_num li.active{color: white;font-weight:600;width: 20px;height: 20px;border-radius: 20px;background-color: #007ac3;line-height: 20px;text-align: center;}
.notice tr td{cursor: pointer;}
.my_T.noticeV tr td {
    text-align: left;
    height: 210px;
    padding: 15px;
    vertical-align: top;
}
.backBtn{margin-top: 15px !important; cursor: pointer;}
button{cursor: pointer;}
.needpopup textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #eaeaea;
}
.profile .darkBtn {
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    margin-top: 20px;
}

.profile ul {
    margin-left: 25px;
    font-size: 1.4rem;
}

.profile ul li {
    margin-bottom: 5px;
    color: #717171;
}

.profile ul li .tit {
    font-weight: 600;
    min-width: 75px;
    display: inline-block;
}
.credit p {
    font-size: 1.5rem;
    color: #808080;
    margin-top: 25px;
}
.credit {
    margin-top: 10px;
}

.credit h5 {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.credit .res {
    margin-left: 20px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #808080;
}

.credit .res .blueFont {
    font-size: 4rem;
}
.modiBtn {
    border: 1px solid #eaeaea;
    background-color: #5eacdc;
    border-radius: 5px;
    height: 45px;
    box-sizing: border-box;
    vertical-align: bottom;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
.margintop15{margin-top: 15px;}
.log_footer hr {
    margin: 10px 0;
    border-bottom: 1px solid #d8d8d8;
    border-top: none;
}

.log_footer > span {
    font-size: 1.3rem !important;
    text-align: left;
    display: block;
    margin-top: 5px;
}
.slider_box span {
    display: block;
}
.slider_box a.view_pop {
    line-height: 25px;
}
.userBox .join{
    background: url(/front_res/img/icon_join.png)no-repeat left 2px;
    font-size: 1.4rem;
    text-align: left;
    display: block;
    color: #828282;
    padding: 0 0 0 20px;
    margin-top: 15px;
    }
.waiting{background-color:#f39800; }
#secession p {
    text-align: center;
}
.w50_cor{width: 50% !important;float: left;padding: 0 3px;}
#cor_reserve_popup ul:after{clear: both;}
.date_cor {
    width: 48% !important;
    display: inline-block;
}
#cor_reserve_popup section div {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.4rem;
}
.cor_text{font-size: 1.3rem;font-weight: 400;margin-top: 5px !important;}
.margintop10{margin-top: 10px !important;}
.noti {
    color: #007ac3;
    font-size: 1.4rem !important;
    font-weight: 400 !important;
    margin-top: 5px;
}
#seat_booking_pop {
    min-width: 120px;
    top: -66px;
    left: -50px;
    text-align: center;
    padding: 10px;
}
.seat_fast {
    height: 40px;
    display: block;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 4px;
    background-color: #007ac3;
    color: white;
    font-size: 1.5rem;
    margin-top: -15px;
    margin-left: 15px;
}
#seat_fastR_popup ul li span {
    margin-right: 5px;
}
#seat_fastR_popup li.dis{color: #ababab;}
.reserve_seat{    position: absolute;
    right: 10px;
    margin-left: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: white !important;
    color: #333333;
    box-sizing: border-box;
    font-size: 1.6rem;
    height: 40px;
    width: 80px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    margin-top: -10px;
}