/*webfont*/
@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url('/front_res/font/NANUMSQUARER.eot');
 src: url('/front_res/font/NANUMSQUARER.eot?#iefix') format('embedded-opentype'),
      url('/front_res/font/NANUMSQUARER.woff') format('woff');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url('/front_res/font/NANUMSQUAREB.eot');
 src: url('/front_res/font/NANUMSQUAREB.eot?#iefix') format('embedded-opentype'),
      url('/front_res/font/NANUMSQUAREB.woff') format('woff');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url('/front_res/font/NANUMSQUAREEB.eot');
 src: url('/front_res/font/NANUMSQUAREEB.eot?#iefix') format('embedded-opentype'),
      url('/front_res/font/NANUMSQUAREEB.woff') format('woff');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url('/front_res/font/NANUMSQUAREL.eot');
 src: url('/front_res/font/NANUMSQUAREL.eot?#iefix') format('embedded-opentype'),
      url('/front_res/font/NANUMSQUAREL.woff') format('woff');
}

/* All */

header,footer,section,article,aside,nav,menu,hgroup,figure,figcaption{ display:block; margin:0; padding:0}
html,body{ height:100%; margin:0; padding:0; background: #fff; line-height:normal;}
body,html,table,input,number,password,textarea,select,button{ font:10px 'NanumSquare', sans-serif; color:#333333;font-weight: 500; word-wrap: break-all; letter-spacing: -0.4px;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{margin:0; padding:0; border:0; border-collapse:separate; border-spacing:0; font-style:inherit; text-decoration:none; list-style:none; letter-spacing:-0.36px}
img,object{ border:0}
img{ height:auto}
article, aside, hgroup, header, footer, figure, figcaption, nav, section,time, mark, canvas, video, audio, details, summary {
     display:block;
}