.contents {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.back {
    display: none;
}

.log_b{width: 515px;height: 480px;padding: 35px 30px;}
.login_reser_box {padding: 15px;}
.log_b h1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.log_b p {
    font-size: 2.6em;
    font-weight: 700;
    margin-bottom: 5px;
}

.log_b span {
    font-size: 1.6rem;
}
/*header*/
header {
    height: 70px;
}

    header h1 {
        z-index: 9999;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 15px;
        padding: 0;
        height: 40px;
        width: 185px;
    }

        header h1 img {
            width: 100%;
        }

.menu {
    left: 0;
    top: 0;
    line-height: 68px;
    width: 100%;
    margin: 0 auto;
    min-width: 100%;
    text-align: center;
    position: relative;
}

    .menu ul li:first-child {
        margin-left: 0 !important;
    }

    .menu ul li {
        display: inline-block;
        height: 69px;
        padding: 0 30px;
    }

        .menu ul li a {
            font-size: 1.6rem;
            font-weight: 400;
            color: #686868;
            height: 100%;
            display: block;
        }

.sidenav .userInfo {
    width: 100%;
    margin-top: 90px;
    font-size: 1.6rem;
    padding-left: 0;
    border-top: 1px dashed #eeeeee;
    padding-top: 20px;
}

.userInfo .pass {
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    cursor: pointer;
}

.userInfo .logout {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    font-size: 1.6rem;
}





    #allFloors a {
        font-size: 1.6rem;
        height: 40px;
        width: 80px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        line-height: 40px;
    }

.leftMenu {
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
}

.mapBox {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.mapArea {
    /*width: 1200px;*/
    /*height: 715px;*/
    /* width: 100%; */
    /* height: calc(100vh - 300px); */
    background-size: 100% !important;
}

.map {
    width: 100%;
    height: 970px;
    margin: 0 auto;
    box-sizing: border-box;
    background-size: 100% !important;
}

.pinch-zoom-container {
    padding-top: 0;
    padding-bottom: 0;
}

.tabBox {
    width: 950px;
    margin: auto;
}

.infoContents {
    font-size: 1.4rem;
    margin: auto;
}

.conven {
    width: 1200px;
    margin: auto;
    padding-bottom: 5px
}

.menuClose {
    right: 3%;
    top: 20px;
}

.loginC {
    width: 438px;
    margin: auto;
    padding-top: 150px;
}

.login_reser_b {
    margin-top: 20px;
}

    .login_reser_box .reser_b_tit {
        color: #c4c4c4;
        width: 80px;
        font-size: 1.5rem;
        line-height: 20px;
    }

    .login_reser_box input {
        background: #fff;
        width: 75%;
        font-size: 1.4rem;
    }

.my_reser_box {
    float: left;
    width: 55%;
    background-color: #003759;
    background-size: cover;
    color: #fff;
    height: 330px;
}

.user_state {
    margin: 15px auto 0;
    width: 62%;
}

    .user_state li a {
        font-size: 1.5rem;
    }

.user_reser_b {
    width: 45%;
    float: left;
    background: #fff;
    height: 330px;
    overflow: hidden;
}

.user_info {
    padding-top: 100px;
}



.seatReser, .grayBtn, .blueBtn {
    border-radius: 4px;
    text-align: center;
    font-size: 1.6rem;
    padding: 15px 70px;
    box-sizing: border-box;
    cursor: pointer;
}

.sel_txt {
    font-size: 1.8rem;
}

.cd-stretchy-nav {
    top: 397px;
}

.meeting_reserDate .reserDate {
    padding: 3px 0 11px 100px !important;
}

.reserDate {
    background: url("../img/dateImg.png")25px center no-repeat;
}

.date {
    width: 115px;
}

.meeting_reserDate .reserDate .date {
    margin-right: 25px !important;
}

.reserTime select {
    width: 80px;
    margin-right: 3px;
}

.menu_box {
    padding: 15px 30px
}

.meeting_contents {
    position: relative;
    width: 730px;
    box-shadow: 0px 2px 8px 1px #d2d2d2;
    margin: auto;
}

.meetingSelect {
    top: 20%
}

.floorBtn {
    top: 346px;
}

.sel_box {
    padding: 15px 0;
    margin-bottom: 31px;
}

.w_m_20 {
    margin-bottom: 20px
}

.reserDate {
    padding: 11px 0 11px 95px;
}

.link_page_n a {
    padding: 9px
}

.notice table td {
    font-size: 1.4rem;
}

.bbs_tit h2 {
    font-size: 2.0rem;
    float: left;
}

.line {
    top: 0;
    height: 25px;
    padding: 30px 0 10px 0;
    position: relative;
    border-top: 1px dashed #f1f1f1;
}


    .leftMenu span {
        width: 23px;
        height: 23px;
        background: url("../img/menuIcon.png")no-repeat;
    }

.leftMenu {
    padding: 7px 0 0;
}

.dateBox {
    height: 40px;
    width: 200px;
    position: relative;
    margin-top: -20px;
    }

    .searchBox {
    height: 40px;
    width: 200px;
    position: absolute;
    right: 75px;
    top: -50px;
    }
.inputSearch {
    font-size: 1.5rem;
    padding: 8px 0 8px 10px;
    width: 100%;
    height: 100%;
}
.searchIcon {
    position: absolute;
    text-align: center;
    top: 0;
    right: -75px;
}

.dateIcon {
    position: absolute;
    text-align: center;
    top: 6px;
    right: 10px;
}

.searchMeeting {
    width: 125px;
    padding: 0 0 0 13px;
    height: 35px;
    color: #5f5f5f;
    border: 1px solid #eaeaea;
    line-height: 2.3em;
    font-size: 1.4rem;
    background: #fff url("../img/meeting_w.png")90% center no-repeat;
    right: 365px;
    top: 10px;
}

.floorBtn span {
    border-radius: 0;
    border: 1px solid #ededed;
}

.cd-stretchy-nav .stretchy-nav-bg {
    /* this is the stretching navigation background */
    border-radius: 0;
    border: 1px solid #ededed;
}

.leftReser {
    width: 665px;
    right: 0 !important;
    left: unset;
}

.sub_popup .popuptext {
    visibility: hidden;
    width: 160px;
    height: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0 7px;
    position: absolute;
    z-index: 1;
    bottom: 112%;
    left: 50%;
    margin-left: -80px;
    font-weight: unset;
    line-height: 20px;
    font-size: 1.4rem;
}

    .sub_popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.sub_popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.swal-text {
    text-align: center;
    line-height: 17px;
    font-weight: 300;
}

.swal-footer {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.swal-button:focus {
    box-shadow: none;
}

.sear_box select {
    margin-right: 5px;
    height: 39px;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 1.3rem;
    color: #404040;
}


/*20200710*/
.ui-widget.ui-widget-content {
    height: auto;
    overflow-y: scroll;
    font-size: 1.3rem;
}

.needpopup_wrapper {
    padding: 0 31% !important;
}

.meeting_member input[type="text"] {
    padding-right: 15px;
    margin: 0 10px;
}

.meeting_member select {
    padding-right: 15px;
}

.mapArea {
    width: 100%;
    min-height: 100%;
    height: auto;
}

.wrap_m {
    width: 1200px;
    margin: 0 auto;
}

    .wrap_m .float_left {
        width: 865px;
    }
/*meeting*/
.meeting {
    margin-top: 20px;
}

    .meeting .rightBox {
        width: 100%;
        height: 840px;
        border: 1px solid #cccccc;
        box-sizing: border-box;
        overflow: hidden;
    }

.schedule {
    position: relative;
}

.meet_info {
    height: 83px;
    color: white;
    border-radius: 3px;
    text-align: left;
    box-sizing: border-box;
    padding: 17px 0;
    cursor: pointer;
    text-align: center;
}

    .meet_info.before {
        background-color: #bababa;
    }

    .meet_info.now {
        background-color: #358cfc;
    }

    .meet_info.after {
        background-color: #9ac1f3;
    }

    .meet_info p {
        color: white;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .meet_info p:last-child {
            font-size: 1.5rem;
        }

#result_list tr {
    border-bottom: 1px solid #dedede;
    transform: none !important;
    height: 94px;
}

.tb_wrap {
    position: relative;
    padding-top: 85px;
    overflow: hidden;
    width: 100%;
    margin: 50px 0;
}

.tb_box {
    overflow-x: hidden;
    max-width: 3000px;
    width: 100%;
    overflow-x: scroll;
    border-bottom: 1px solid #dedede;
    max-height: 755px;
    -ms-overflow-style: none;
}

.tb {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    width: 3000px;
}

.cell1 {
    width: 150px;
    font-weight: 500;
    font-size: 1.5rem;
    height: 85px;
}

.cell2 {
    width: 55px !important;
    height: 105px;
    padding: 0 1px;
    box-sizing: border-box;
}

.fixed_top {
    display: inline-table;
    position: absolute;
    top: 0;
    height: 85px;
    width: 3000px;
}

    .fixed_top th {
        border-bottom: 1px solid #dedede;
        font-size: 1.5rem;
        font-weight: 500;
        height: 85px;
    }

        .fixed_top th.cell1 {
            width: 155px !important;
            display: block;
            line-height: 83px;
        }

.time_Line {
    width: 100%;
    border: 1px solid #f48781;
    position: absolute;
    top: 505px;
    z-index: 9999;
}

    .time_Line::before {
        content: "ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â";
        color: #f48781;
        position: absolute;
        font-size: 1.5rem;
        left: -2px;
        top: -11px;
    }

.fixed_col {
    box-shadow: 1px 0 3px 0px #e4e4e4;
    position: relative;
    background: white;
    padding: 10px 0;
    box-sizing: border-box;
}

.cross {
    background-color: #fec143;
    color: white;
}

.roomCon {
    height: 235px;
    border: 1px solid #dedede;
}

.rightBox {
    width: 320px;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 90px;
    background: #ffffff;
}

.dateCon {
    position: relative;
}

.tb tbody tr {
    transform: none !important;
}

.tb tbody td {
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
    padding: 5px 1px;
}


.tb tbody tr:nth-child(1) th {
    color: #ff9f60;
}

.tb tbody tr:nth-child(2) th {
    color: #8bb0f3;
}

.tb tbody tr:nth-child(3) th {
    color: #f7c52f;
}

.tb tbody tr:nth-child(4) th {
    color: #fba4a4;
}

.tb tbody tr:nth-child(5) th {
    color: #b6d69f;
}

.tb tbody tr:nth-child(6) th {
    color: #77e6bb;
}

.tb tbody tr:nth-child(7) th {
    color: #a7d0ff;
}

.tb tbody tr:nth-child(8) th {
    color: #e0b0ec;
}

.dateCon .date_input {
    position: relative;
    margin-top: 10px;
}

    .dateCon .date_input input {
        width: 100%;
        border: 1px solid #eaeaea;
        font-size: 1.6rem;
        padding: 5px 0 5px 5%;
        box-sizing: border-box;
    }

span.date_icon {
    background: url(../img/dateIcon.png) no-repeat;
    width: 19px;
    height: 19px;
    display: block;
    position: absolute;
    right: 5%;
    top: 8px;
}

.dateCon .ui-datepicker-inline {
    width: 100% !important;
    box-sizing: border-box;
    padding: 3px !important;
    height: auto !important;
    -ms-overflow-style: none;
}

.dateCon a.ui-state-default {
    width: 41px;
    height: 41px;
    line-height: 32px;
    box-sizing: border-box;
    text-align: center !important;
}

.dateCon table.ui-datepicker-calendar {
    margin: 0;
}

.leftReser_con .password {
    border-top: 2px solid #797979;
}

    .leftReser_con .password ul li {
        padding: 15px 10px;
        box-sizing: border-box;
        border-bottom: 1px dashed #eeeeee;
    }

        .leftReser_con .password ul li h5 {
            display: inline-block;
            min-width: 100px;
            border: 0;
            outline: none;
            vertical-align: middle;
            font-weight: 400;
        }

        .leftReser_con .password ul li input {
            display: inline-block;
            width: 79%;
            border: 1px solid #eaeaea;
            font-size: 1.6rem;
            padding: 5px 0 5px 3%;
            box-sizing: border-box;
            color: #999998;
            outline: none;
            vertical-align: middle;
        }

.btnBox {
    margin: 15px 0 0 0;
}

    .btnBox .btn_check {
        background-color: #1baec5;
        box-sizing: border-box;
        padding: 5px 15px;
        border-radius: 4px;
        color: white;
        border: none;
    }

.myC {
    margin: auto;
    width: 1200px;
    padding-top: 150px;
    height: 100vh;
}

.mypageB {
    background: #f6f6f6;
    position: relative;
    min-height: 100%;
}

.reser_box {
    padding: 18px 0;
}

    .reser_box span {
        display: block;
        padding-left: 0;
    }

.reser_icon01 {
    background: url("../img/mypage01.png")left center no-repeat;
    background-size: 30px;
}

.reser_icon02 {
    background: url("../img/mypage02.png")40px center no-repeat;
}

.reser_icon03 {
    background: url("../img/mypage03.png")40px center no-repeat;
}

.reser_icon04 {
    background: url("../img/mypage04.png")left center no-repeat;
    background-size: 30px;
}

.reser_iconGo {
    background: url("../img/reser_iconGo.png")right center no-repeat;
    font-size: 1.6rem !important;
    padding-bottom: 0 !important;
    background-size: 8px;
}

.meetList {
    margin-top: 0;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
}

    .meetList h4 {
        color: #2b2b2b;
        font-weight: bold;
        font-size: 1.6rem;
        background-color: #f4f4f4;
        border-bottom: 1px solid #e2e2e2;
        padding-left: 15px;
        line-height: 35px;
    }

    .meetList .list {
        padding: 15px 10px 0 10px;
        box-sizing: border-box;
    }

        .meetList .list p {
            color: #2b2b2b;
            font-weight: 500;
            font-size: 1.6rem;
            margin-bottom: 5px;
        }

        .meetList .list ul {
            border-bottom: 1px dashed #bcbcbc;
            padding-bottom: 10px;
        }

        .meetList .list:last-child ul {
            border-bottom: none;
        }

        .meetList .list ul li {
            display: inline-block;
            color: #595959;
            font-size: 1.4rem;
            font-weight: bold;
            height: 25px;
            line-height: 25px;
            margin-right: 10px;
            min-width: 100px;
            margin-bottom: 10px;
        }

.iconA {
    background: url(../img/iconA.png)no-repeat left center;
    padding-left: 30px;
}

.iconB {
    background: url(../img/iconB.png)no-repeat left center;
    padding-left: 30px;
}

.iconC {
    background: url(../img/iconC.png)no-repeat left center;
    padding-left: 30px;
}

.iconD {
    background: url(../img/iconD.png)no-repeat left center;
    padding-left: 30px;
}

.iconE {
    background: url(../img/iconE.png)no-repeat left center;
    padding-left: 30px;
}

.iconF {
    background: url(../img/iconF.png)no-repeat left center;
    padding-left: 30px;
}

.iconG {
    background: url(../img/iconG.png)no-repeat left center;
    padding-left: 30px;
}

.iconH {
    background: url(../img/iconH.png)no-repeat left center;
    padding-left: 30px;
}

.iconI {
    background: url(../img/iconI.png)no-repeat left center;
    padding-left: 30px;
}

.iconJ {
    background: url(../img/iconJ.png)no-repeat left center;
    padding-left: 30px;
}

.iconK {
    background: url(../img/iconK.png)no-repeat left center;
    padding-left: 30px;
}

.iconL {
    background: url(../img/iconL.png)no-repeat left center;
    padding-left: 30px;
}

.iconM {
    background: url(../img/iconM.png)no-repeat left center;
    padding-left: 30px;
}

.iconN {
    background: url(../img/iconN.png)no-repeat left center;
    padding-left: 30px;
}

.roomCon img {
    width: 100%;
}

#schedule #allFloors {
    position: absolute;
    left: 0;
    top: 75px;
}

#schedule {
    margin-top: 95px;
}

.menu_tit {
    font-size: 1.5rem;
}

.footer {
    height: 95px;
    box-shadow: 0 -2px 5px rgb(207 207 207 / 32%);
    padding: 20px 0;
    box-sizing: border-box;
}

.flooreArea {
    text-align: left;
}

.whiteBack {
    background-color: white;
    box-shadow: 0 2px 3px 1px rgb(207 207 207 / 32%);
    padding: 25px;
    height: auto;
    box-sizing: border-box;
}

.mapbottom {
    padding-bottom: 115px;
}

.unuse strong {
    font-size: 25px;
    font-weight: 600;
    margin-right: 5px;
}

.infoSeat {
    font-size: 1.6rem;
    line-height: 7px;
}

header > .content {
    position: relative;
}

.menu ul li.active {
    background-color: #f2f2f2;
}

.menu ul li.menu01 a {
    background-image: url(../img/header_menu01.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
}

.menu ul li.menu02 a {
    background-image: url(../img/header_menu02.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
}

.menu ul li.menu03 a {
    background-image: url(../img/header_menu03.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 32px;
}

.menu ul li.menu04 a {
    background-image: url(../img/header_menu04.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
}

.menuHeader {
    font-size: 1.8rem;
}

.sidenav {
    position: absolute;
    right: 0 !important;
    width: 360px !important;
    padding: 40px;
    box-sizing: border-box;
}

    .sidenav .closebtn {
        font-size: 3.0rem;
    }

.userBox {
    position: relative;
    width: 100% !important;
    padding-top: 0;
    margin-top: 30px;
}

.gnb {
    width: 100%;
    height: 62.5%;
    position: relative;
    padding-top: 0;
}

.seat_name {
    font-size: 1.6rem;
    margin-top: 5px;
    position: absolute;
    left: 0;
}

.state {
    margin: 15px auto 0;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

    .state li {
        float: left;
        width: 48% !important;
        padding: 6px 2px;
    }

        .state li a.active {
            font-weight: 500;
            margin-top: -1.5px;
        }

p.logout {
    background: #ababab;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}

a.user_logout {
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 10px 0;
    width: 100%;
}

.userInfo div span {
    font-size: 3.8rem;
    font-weight: 600;
    display: inline-block;
}

.userInfo p {
    display: inline-block;
}


.userInfo div span > span {
    color: #f39800;
}

.user_name {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 75px;
}

.menu_box {
    font-size: 1.6rem;
}

.posSeatU ,.posSeatD, .usingSeat {
    margin-left: 10px;
    padding-left: 21px;
}
.whiteBack h5{font-size: 1.5rem;margin-bottom: 20px;}
.day_T{width:100%; border-top:2px solid #4a4a4a; font-size:1.4rem}
.day_T thead tr{background-color:#f4f4f4;}
.day_T thead tr th, .day_T thead tr td{padding:15px 0;box-sizing:border-box;text-align: center;border-bottom: 1px solid #f4f4f4;}
.day_T tbody tr th, .day_T tbody tr td{box-sizing: border-box;border-bottom:1px solid #f4f4f4;}
.day_T tbody tr th{padding: 24px 0;text-align: center;border-left: 1px solid #f4f4f4;}
.day_T tbody tr td {width: 45px; border-left:1px solid #f4f4f4;}
.day_T tbody tr td:last-child {border-right: 1px solid #f4f4f4;}
.m_title {
    font-size: 1.6rem;
}
.mybooking{margin-top: 25px;}
.joinCon{width: 500px !important;}
.joinArea {
    margin-top: 60px;
}
.joinArea table section input {
    width: 370px;
}
.joinArea table section a{width: 125px;}
.resource {
    width: 110px !important;
    margin-top: -80px;
    border: 1px solid #e6e6e6;
    background-color: white;
    border-radius: 4px;
    height: 40px;
    font-size: 1.4rem;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #333333;
}
.user_reser_b {
    height: calc(100vh - 410px) !important;
    overflow-y: scroll !important;
}
.btnL{margin-top: -20px; margin-right: 10px;}
.btnL a{border: none;width: 40px;height: 40px;cursor: pointer;display: inline-block;}
.calendar-container {
    margin-top: 15px;
}
.mypage{position: absolute;
    left: 75px;
    top: 20px;}
    .w_half {
    width: 49%;
    margin-top: 25px;
    height: 220px;
}