<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.com.mapper.EgovCmmnCodeManageMapper">

	<select id="selectCmmnCodeListByPagination" resultType="CmmnCodeVO">
		
		SELECT
			SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
			
			R.*
		FROM
		(
			SELECT
				 A.CODE_ID as codeId, 
				 A.CODE_ID_NM as codeIdNm, 
				 A.USE_AT as useAt
			FROM lettccmmncode A				     
			WHERE A.USE_AT = 'Y' and A.CL_CODE = 'NHI'
				<if test="searchKeyword != ''">
							AND (A.CODE_ID LIKE  '%'|| #{searchKeyword} || '%'  or  A.CODE_ID_NM LIKE '%'|| #{searchKeyword} || '%')
				</if>					
			ORDER BY A.CODE_ID ASC
		) R
		
		limit #{firstIndex},#{recordCountPerPage}
		ORDER BY RNUM ASC
	</select>
	
	<select id="selectCmmnCodeList" resultType="CmmnCode">
		SELECT
			A.CL_CODE, A.CODE_ID, A.CODE_ID_NM, A.USE_AT
		FROM lettccmmncode A		   
		WHERE A.CL_CODE = 'NHI' AND A.USE_AT = 'Y'
	</select>
	
	<select id="selectCmmnCodeDetail" resultType="CmmnCode">
		SELECT A.CL_CODE,  A.CODE_ID, A.CODE_ID_NM, A.CODE_ID_DC, A.USE_AT, A.FRST_REGISTER_ID
		FROM lettccmmncode A		     
		WHERE A.CODE_ID = #{value} and A.CL_CODE = 'NHI'
	</select>
	<select id="selectIDCheck" resultType="java.lang.Integer">
	       SELECT ifnull(count(*),0)
			FROM lettccmmncode A				
			where CODE_ID = #{codeId}	
	</select>
	<select id="selectCmmnCodeListTotCnt" resultType="java.lang.Integer">
	        SELECT ifnull(count(*),0)
				FROM lettccmmncode A				     
				WHERE A.USE_AT = 'Y' and  A.CL_CODE = 'NHI'
					<if test="searchKeyword != ''">
								AND (A.CODE_ID LIKE  '%'|| #{searchKeyword} || '%'  or  A.CODE_ID_NM LIKE '%'|| #{searchKeyword} || '%')
					</if>					
	</select>

	<insert id="insertCmmnCode">
		INSERT INTO lettccmmncode
		(
			CODE_ID, CODE_ID_NM, CODE_ID_DC, USE_AT, CL_CODE, FRST_REGIST_PNTTM, FRST_REGISTER_ID
		)
		VALUES
		(
			#{codeId}, #{codeIdNm}, #{codeIdDc ,jdbcType=VARCHAR}, 'Y', 'NHI', now(), #{frstRegisterId ,jdbcType=VARCHAR}
		)
	</insert>	
	<update id="updateCmmnCode">
		UPDATE lettccmmncode   SET CODE_ID_NM = #{codeIdNm}, 
		                                                   CODE_ID_DC = #{codeIdDc ,jdbcType=VARCHAR}, 
		                                                   USE_AT = 'Y', 
		                                                   LAST_UPDUSR_ID = #{lastUpdusrId ,jdbcType=VARCHAR},
		                                                   LAST_UPDT_PNTTM = now()
		 WHERE CODE_ID = #{codeId}
	</update>	
	<delete id="deleteCmmnCode">
		DELETE FROM lettccmmncode WHERE CODE_ID = #{value}
	</delete>
</mapper>