<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohoki.backoffice.sts.hly.mapper.HolyworkInfoManageMapper">

    <select id="selectHolyManageListByPagination" resultType="lmap">     	      
		 	SELECT	* 
			FROM 		( SELECT	SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
			                        ROW_NUMBER() OVER (ORDER BY BOARD_SEQ DESC) AS RNUM, 
									TB.* 
					          FROM 	(	
					                 SELECT a.HOLY_SEQ, a.HOLY_DATE
							                , a.HOLY_NM, a.HOLY_GUBUN, a.ORG_ID
							                , a.EMP_NO, a.REG_DATE, a.REG_ID
							                , a.UPDATE_DATE, a.UPDATE_ID
							         FROM  TB_HOLYWORKINFO a
							         WHERE 	a.EMP_NO = b.USER_ID 
					                       <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
								        	<choose>
												<when test="params.searchCondition == 0 ">
													<![CDATA[						
													   and  a.EMP_NO LIKE CONCAT('%',#{params.searchKeyword, jdbcType=VARCHAR},'%') 
													 ]]> 	
												</when>
												<otherwise>
													<choose>
														<when test="params.searchCondition == 1">
														<![CDATA[
															and b.USER_NAME LIKE  CONCAT('%',#{params.searchKeyword, jdbcType=VARCHAR},'%')
														]]>
														</when>
														<otherwise>
														 
														<![CDATA[    
															and a.EMP_NO LIKE  CONCAT('%',#{params.searchKeyword, jdbcType=VARCHAR},'%')
														 ]]>  
														</otherwise>
													</choose>
												</otherwise>
											</choose>
										</if>		 
							                    
					                  		) TB 
					        ) 
		WHERE RNUM  BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}  
	    ORDER BY TB.HOLY_SEQ DESC 
   </select>

   <select id="selectHolyManageView" resultType="HolyworkInfoVO">
        SELECT a.HOLY_SEQ, a.HOLY_DATE, a.HOLY_NM , a.HOLY_GUBUN, a.ORG_ID, a.EMP_NO
			   , a.REG_DATE, a.REG_ID, a.UPDATE_DATE, a.UPDATE_ID
		FROM  TB_HOLYWORKINFO a
		WHERE 		a.HOLY_SEQ = #{holySeq}
   </select>
   <insert id="insertHolyManage">
       INSERT INTO 	TB_HOLYWORKINFO	(HOLY_DATE, HOLY_NM, HOLY_GUBUN, ORG_ID, EMP_NO, 
                                     REG_DATE, REG_ID, UPDATE_DATE, UPDATE_ID)
       VALUES (#{holyDate,jdbcType=VARCHAR}, #{holyNm,jdbcType=VARCHAR} , #{holyGubun,jdbcType=VARCHAR } , #{orgId,jdbcType=VARCHAR}, #{empNo,jdbcType=VARCHAR}
			  , getdate(), #{userId ,jdbcType=VARCHAR}, getdate(), #{userId ,jdbcType=VARCHAR})
   </insert>
   <update id="updateHolyManage">
      UPDATE TB_HOLYWORKINFO set HOLY_DATE = #{holyDate}
                             ,  HOLY_NM = #{holyNm,jdbcType=VARCHAR }
                             
                             ,  HOLY_GUBUN = #{holyGubun,jdbcType=VARCHAR }
                             ,  ORG_ID = #{orgId}
                             ,  EMP_NO = #{empNo}
                             ,  HOLY_UPDATEDATE = getdate()
                             ,  UPDATE_ID = #{updateId ,jdbcType=VARCHAR}                        
      WHERE HOLY_SEQ = #{holySeq}
   </update>


	
</mapper>