<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohoki.backoffice.sym.ccm.cde.mapper.EgovCmmnDetailCodeManageMapper">

	<select id="selectCmmnDetailCodeListByPagination" resultType="CmmnDetailCodeVO">
		SELECT R.*
		FROM
		(
			SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
			       ROW_NUMBER() OVER (ORDER BY A.CODE DESC) AS RNUM, 
				   A.CODE_ID, B.CODE_ID_NM, A.CODE, A.CODE_NM, A.CODE_DC, A.USE_AT
			FROM LETTCCMMNDETAILCODE A
			     INNER JOIN LETTCCMMNCODE B ON A.CODE_ID = B.CODE_ID				     
			WHERE B.USE_AT = 'Y'
		          AND B.CODE_ID = #{codeId}					
			
		) R
		WHERE 1=1
		ORDER BY CAST( REPLACE(CODE, CONCAT(CODE_ID, '_'), '') AS INT) ASC
	</select>
	
	<select id="selectCmmnDetailCodeDetail" resultType="CmmnDetailCode">
		SELECT C.CL_CODE as clCode, C.CL_CODE_NM as clCodeNm, B.CODE_ID as codeId, B.CODE_ID_NM as codeIdNm , A.CODE as code, A.CODE_NM as codeNm, A.CODE_DC as codeDc, A.USE_AT as useAt
		FROM LETTCCMMNDETAILCODE A
		     INNER JOIN LETTCCMMNCODE B ON A.CODE_ID = B.CODE_ID
		     INNER JOIN LETTCCMMNCLCODE C ON B.CL_CODE = C.CL_CODE
		WHERE A.CODE_ID = #{value}
		
	</select>
	
	<select id="selectCmmnDetailCombo" resultType="CmmnDetailCode">
		SELECT A.CODE as code, A.CODE_NM as codeNm, A.CODE_DC as codeDc, A.USE_AT as useAt
		FROM LETTCCMMNDETAILCODE A		    
		WHERE A.CODE_ID = #{code}
		
		ORDER BY CAST( REPLACE(CODE, CONCAT(CODE_ID, '_'), '') AS INT) ASC
	</select>
	<!--  신규 추가 -->
	<select id="selectCmmnDetailComboLamp" resultType="lmap">
		SELECT A.CODE as code, A.CODE_NM as codeNm, A.CODE_DC as codeDc, A.USE_AT as useAt
		FROM LETTCCMMNDETAILCODE A		    
		WHERE A.CODE_ID = #{code}
	</select>
	
	<select id="selectCmmnDetail" resultType="CmmnDetailCode">
		SELECT A.CODE as code, A.CODE_NM as codeNm, A.CODE_DC as codeDc, A.USE_AT as useAt
		FROM LETTCCMMNDETAILCODE A		    
		WHERE A.CODE = #{code}
	</select>
	<select id="selectCmmnDetailComboEtc" resultType="CmmnDetailCode">
		SELECT  A.CODE as code, A.CODE_NM as codeNm, A.CODE_DC as codeDc, A.USE_AT as useAt
		FROM LETTCCMMNDETAILCODE A		    
		WHERE A.CODE_ID = #{params.code}
		      <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.nowData)">
		        <![CDATA[
		          AND REPLACE(A.CODE_NM, ':','') >= #{params.nowData}
		         ]]>
		      </if>
		      <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.overData)">
		        <![CDATA[
		         AND REPLACE(A.CODE_NM, ':','') > #{params.overData}
		        ]]>
		      </if>
		      <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.startCode) and !@org.apache.commons.lang3.StringUtils@isEmpty(params.endCode)">
		         AND CAST(CODE_DC as int)  BETWEEN  REPLACE(#{params.startCode}, CONCAT(#{params.code},'_'), '')  AND REPLACE(#{params.endCode}, CONCAT(#{params.code},'_'), '')
		      </if>
		      <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.notIn)">
		         AND  CODE NOT IN 
				 <foreach collection="params.notlist" item="item" open="(" separator="," close=")">
		            #{item}
		         </foreach>
		      </if>
		      <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.notSearch)">
        	    AND REPLACE(a.CODE_NM, ':','') NOT LIKE CONCAT('%',#{params.notSearch})
        	  </if>
			  AND	USE_AT ='Y'
		<choose>
		   <when test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.startCode) and !@org.apache.commons.lang3.StringUtils@isEmpty(params.endCode)">
		       ORDER BY CAST(CODE_DC as int)  ASC
		   </when>
		   <otherwise>
		   ORDER BY CODE ASC
		   </otherwise>
		</choose>
	</select>
    <select id="selectCmmnDetailResTypeCombo" resultType="CmmnDetailCode">
		SELECT 	A.CODE as code
				      	, A.CODE_NM as codeNm
				      	, A.CODE_DC as codeDc
				      	, A.USE_AT as useAt 
		FROM 	LETTCCMMNDETAILCODE A 
		WHERE 	A.CODE_ID = #{codeId}
		        <if test="searchCodedc != ''">
		           AND A.CODE_DC = #{searchCodedc}
		        </if>
		        AND use_at ='Y' 
	</select>	
	
	<insert id="insertCmmnDetailCode">
	  <![CDATA[
		INSERT INTO LETTCCMMNDETAILCODE
		(
			CODE_ID, CODE, CODE_NM, CODE_DC, USE_AT, FRST_REGIST_PNTTM, FRST_REGISTER_ID
		)
		VALUES
		(
		
			#{codeId}, CAST( dbo.FN_DETAILCOODEID(#{codeId}) as varchar(25)) , #{codeNm}, 
			#{codeDc,jdbcType=VARCHAR}, 'Y', getdate(), #{lastUpdusrId,jdbcType=VARCHAR}
		)
		]]>
	</insert>
	
	<update id="updateCmmnDetailCode">
	    <![CDATA[
		UPDATE LETTCCMMNDETAILCODE
		   SET CODE_NM = #{codeNm}, CODE_DC = #{codeDc,jdbcType=VARCHAR}, USE_AT = 'Y', LAST_UPDUSR_ID = #{lastUpdusrId,jdbcType=VARCHAR},
		       LAST_UPDT_PNTTM = getdate()
		WHERE CODE = #{code}
		]]>
	</update>
	
	
	
	<delete id="deleteCmmnDetailCode">
		DELETE FROM LETTCCMMNDETAILCODE WHERE CODE = #{value}
	</delete>
	
	<delete id="deleteCmmnDetailCodeId">
		DELETE FROM LETTCCMMNDETAILCODE WHERE CODE_ID = #{value}
	</delete>

    
</mapper>