.clearfix { clear: both;  }
.main_back {background: url("../img/back.jpg") no-repeat;}
.contents { width: 1200px; margin: 0 auto; position: relative; }
#wrapper {
    position:relative;
    min-height:100%;
}
#container { position: relative; }
.left_box { float: left; }
.right_box { float: right; }
.box_padding{ padding:30px}
.border_box { border:1px solid #e8e8e8; }
.margin_left20 { margin-left: 20px }
#header {height: 78px;background-color: white;box-sizing: border-box;padding-top: 20px;}
.logo {width: 250px;height: 42px;background: url("../img/logo.jpg") no-repeat;float: left;margin-top: -2px;}
.nav {float: right;margin-top: 5px;}
.nav li {float: left;padding-left: 80px;}
.nav li a {font-size: 18px;color: #0e0e0e;font-weight: 500;}
.border-gradation {border-bottom: 3px solid; border-image: linear-gradient(to right, #12a845 0%, #0075c1 100%); border-image-slice: 1;}
/*main*/
.main_titB {color: #fff;font-size: 18px;text-align: center;padding-top: 130px;margin-bottom: 40px;text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);}
.main_tit { font-size: 54px; font-weight: 300}
.slider_box { position: relative; }
.main_slide .swiper-container {width: 85%;height: 100%;}
.main_slide .swiper-slide {background: #fff; border-radius: 5px; position: relative; min-height: 370px;} 
.main_slide .slider_box { padding:35px 30px; }
.padding_box {padding:0 30px;}
.slide_tit {font-size:  30px;background: url("../img/slider_back.png ")left 85% no-repeat;padding-bottom: 45px;font-weight:300;margin-bottom: 25px;}
.meeting_ing { background: url("../img/meeting_ing.png")left bottom no-repeat; }
.meeting_loading{background: url("../img/meeting_loading.png")left bottom no-repeat;}
.meeting_noti { color:#424242; font-weight: 300}
.meeting_btn {
  position: absolute;
  text-align: center; 
  width: 100%;top: 66%; 
  font-weight: 300;
}
.meeting_btn a{
  display: block;
  margin-bottom: 8px;
  border-radius: 2px;
  padding:5px 0;
}
.booking_btn, .start_btn {
  border:1px solid #bdbdbd;
  background: #fff;
  color: #262626;
}
.end_btn {
  background: #5d5d5d;
  color: #fff;
}
.join_btn{
  background: #0b89e7;
  color: white;
}
.view_pop{
  font-size: 14px;
  font-weight: 300;
  color: #000;
}
.main-noti{
  background:rgba(0, 0, 0, 0.8); color: white;
  position:absolute;bottom:0;
    width:100%; height:65px;}
.main-noti-con{padding-top: 20px; text-align: center;}
.main-noti h3{font-weight: 300; display: inline-block;}
.main-noti span{padding-left: 40px;}
.noti-down{background: url(../img/notice_down.png) no-repeat 10px;
  margin-left: 12px;}
/*20191008*/
a{color:inherit;}
/*20191021*/
#caleandar{margin-top: -30px;}
.cld-main{
  width: 100%;
  font-size: 18px;
  font-weight: 300; color:#222; }
.cld-main a{
  color: #333;
  font-weight: bold;
} 
  .cld-datetime{
    position: relative;
    width: 66%;
    min-width: 100px;
    overflow: hidden;
  }
  .day .cld-datetime{
    max-width: 184px;
    margin: auto;
  }
  .week .cld-datetime{
    max-width: 300px;
    margin: auto;
  }
   .cld-datetime .today{
    position: relative;
    float: left;
    margin: auto;
    text-align: center;
    line-height: 18px;
    }
    .day .cld-datetime .today{
    width: calc(100% - 20px);
    }
    .week .cld-datetime .today{
      margin-left: 30px;
    }
  .cld-nav{
    position: relative;
    width: 9px;
    height: 17px;
  }
  .cld-nav:hover{
    cursor: pointer;
  }
  .cld-rwd{
    float: left;
    background: url(../img/c_arr_left.png) no-repeat;
  }
  .cld-fwd{
    float: right;
    background: url(../img/c_arr_right.png) no-repeat;
  }
.cld-labels, .cld-days{
  padding-left: 0;
}
 .cld-label, .cld-day{
    display: inline-block;
    width: 14.28%;
    text-align: center;
  }

  .cld-day.disableDay{
    opacity: 0.5;
  }
  .cld-day.nextMonth, .cld-day.prevMonth{
    opacity: 0.33;
  }
    .cld-number{
      position: relative;
      margin: 5px;
      padding: 5px;
    }
      .cld-title{
        position: absolute;
        z-index: 5;
        display: none;
        top: 30px;
        left: 0;
        padding: 5px 10px;
        background: #fff;
        white-space: nowrap;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
      }
      .cld-number:hover .cld-title{
        display: block;
      }
      .cld-title::before{
        content: '';
        position: absolute;
        top: -7.5px; left: 7.5px;
        width: 0;
        height: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;

        border-bottom: 7.5px solid #ccc;
      }
      .cld-number.eventday{
        display: inline-block;
        height: 30px;
        width: 30px;
        border-radius: 50px;
        border: 1px solid #999;
      }
      .cld-number.eventday:hover{
        cursor: pointer;
        background: #eee;
      }
      .today .cld-number.eventday:hover{
        background: #888;
      }

.currMonth.today{ border:3px solid #528ecc; }
.cld-labels {
    border-top: 1px solid #585858;
    border-bottom: 1px solid #585858;
    padding:5px 0;
}
.cld-nav {
    text-indent: -9999px;
}
.meeting_info{margin-top: 20px;}
.meeting_info li {float: left; margin-right: 24px;}
.meeting_state{padding:13px 35px; display: inline-block;margin-left: 20px;}
.list_con_btn{
  display: inline-block;
  border-radius: 5px;
  padding:5px 0 ;
  width: 100px;
  text-align: center;
  margin-left:8px;
}
#main_userlist .user_tit{
  font-weight: 300;
  font-size: 1.3rem;
}
.host{margin-right: 6px;display: inline-block;}
.host_show{background-color:#c41e1b;color: white;padding: 0 6px;font-size: 0.7rem;width: 27px;height: 27px;/* display: block; */text-align: center;line-height: 25px;}
/*20191022*/
.week_slide .swiper-container{
width:90%; margin: 0 auto;
}
.week_top{width:90%; margin: 0 auto;
}
.week_slide .pe_005T{
 display: inline-block;
}
.week_slide .pe_005T thead th{
width: 3%;
}
.week_slide {min-width: 1200px;}
/*20191028*/
.loading{
 height: 70px;top: 51%;left: 46.2%;z-index: 9999;background-color: rgba( 0, 0, 0, 0.8 );}
.loading span{background: url(../img/loading.png) no-repeat center;padding-top: 85px;line-height: 114px;}

.pop_footer {margin: 50px 0 35px !important;}
.pop_btn {padding: 8px 0 !important; border-radius: 2px;}


