<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohoki.backoffice.cus.com.mapper.UserInfoManageMapper">

    <select id="selectUserInfoManageListByPagination"  resultType="lmap">
		    SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
	               TB.* 
	        FROM (
					    SELECT b.USER_ID, b.USER_NAME, b.USER_NO, b.COM_CODE, b.USER_RANK, b.USER_POSITION, b.USER_EMAIL,
							   b.USER_TEL, b.USER_STATE, b.USER_CELLPHONE, 
							   DATE_FORMAT(b.USER_UPDATE,'%Y-%m-%d %H:%i:%s') USER_UPDATE, 
							   b.USER_UPDATEID, c.CODE_NM, a.COM_NAME        
					    FROM  TB_COMPANYINFO a, TB_USERINFO b, LETTCCMMNDETAILCODE c, TB_CENTERINFO d, TB_FLOORINFO e
					    WHERE a.COM_CODE = b.COM_CODE 
					          AND b.USER_STATE = c.CODE    
					          AND a.CENTER_ID = d.CENTER_ID
					          AND d.CENTER_ID = e.CENTER_ID
					          <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
						          <choose>
						              <when test="params.searchCondition == 'comName'">
						                  AND b.COM_NAME LIKE CONCAT('%',#{params.searchKeyword},'%')  
						              </when>
						              <otherwise>
						                  AND (b.USER_NO LIKE CONCAT('%',#{params.searchKeyword},'%')  
									           OR b.USER_ID LIKE CONCAT('%',#{params.searchKeyword},'%')  
									           OR b.USER_NAME LIKE CONCAT('%',#{params.searchKeyword},'%') 
									           )
						              </otherwise>
						          </choose>
					          </if>
						      <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.comCode)">
								  AND a.COM_CODE = #{params.comCode}
							  </if>
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.comCode)">
								  AND a.COM_CODE = #{params.comCode}
							  </if>
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchCenter)">
							      AND d.CENTER_ID = #{params.searchCenter}
							  </if>
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchFloorSeq)">
							      AND e.FLOOR_SEQ = #{params.searchFloorSeq}
							  </if>
					    ORDER BY b.USER_UPDATE  DESC
	        ) TB  
	        ORDER BY TB.USER_UPDATE  DESC
	        LIMIT   ${params.firstIndex},   ${params.recordCountPerPage}  		 	    
    </select>
    <select id="selectUserInfoManageCombo" resultType="lmap">
	       SELECT a.EMP_NO , a.EMP_NAME 
	       FROM TB_USERINFO a
	       WHERE a.COM_CODE =  #{comCode}
	       ORDER BY a.EMP_NO ASC
    </select>
    <select id="selectUserInfoManageDetail"  resultType="lmap">
           SELECT USER_ID, USER_NAME, USER_NO, COM_CODE, USER_RANK, USER_POSITION, USER_EMAIL,
			      USER_TEL, USER_STATE, USER_CELLPHONE, 
			      USER_REGDATE, USER_REGID, USER_UPDATE, USER_UPDATEID, AUTHOR_CODE
		    FROM TB_USERINFO a
		    WHERE USER_NO = #{userNo}
    </select>
    <insert id="insertUserInfoManage" >
         INSERT INTO TB_USERINFO(USER_ID, USER_NAME, USER_NO, COM_CODE, USER_RANK, USER_POSITION, USER_EMAIL,
							     USER_TEL, USER_STATE, USER_CELLPHONE, 
							     USER_REGDATE, USER_REGID, USER_UPDATE, USER_UPDATEID)
         VALUES (#{userId ,jdbcType=VARCHAR}, #{userName}, #{userNo}, #{comCode}, #{userRank,jdbcType=VARCHAR}, #{userPosition,jdbcType=VARCHAR},  #{userEmail,jdbcType=VARCHAR},  
                 #{userTel,jdbcType=VARCHAR}, #{userState,jdbcType=VARCHAR},  #{userCellphone,jdbcType=VARCHAR},
                 NOW(), #{updateId,jdbcType=VARCHAR},  NOW(), #{updateId,jdbcType=VARCHAR});
                 
         INSERT INTO TB_EMPINFO (EMPID, EMPNO, EMPNAME, COM_CODE,  EMPJIKW, EMPGRAD, EMPHANDPHONE, EMPTELPHONE, EMPMAIL,  AUTHOR_CODE, 
                                 EMP_STATE, UPDATE_DATE)
         VALUES (#{userId ,jdbcType=VARCHAR}, #{userNo}, #{userName},  #{comCode}, #{userPosition,jdbcType=VARCHAR}, #{userRank,jdbcType=VARCHAR},   
                 #{userCellphone,jdbcType=VARCHAR},  #{userTel,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, 'ROLE_USER', 
                 #{userState,jdbcType=VARCHAR},  NOW());
                
    </insert>
    <update id="updateUserInfoManage" >
        UPDATE  TB_USERINFO SET USER_ID = #{userId,jdbcType=VARCHAR} 
                                , USER_NAME = #{userName} 
                                , COM_CODE = #{comCode}
                                , USER_RANK = #{userRank,jdbcType=VARCHAR}
                                , USER_POSITION = #{userPosition,jdbcType=VARCHAR} 
                                , USER_EMAIL = #{userEmail,jdbcType=VARCHAR} 
                                , USER_STATE = #{userState,jdbcType=VARCHAR} 
                                , USER_CELLPHONE = #{userCellphone,jdbcType=VARCHAR} 
                                , USER_TEL = #{userTel,jdbcType=VARCHAR} 
                                , USER_UPDATE = NOW()
                                , USER_UPDATEID = #{updateId,jdbcType=VARCHAR}
	    WHERE USER_NO = #{userNo} ;
	    
	    UPDATE TB_EMPINFO SET  EMPID = #{userId,jdbcType=VARCHAR} 
                                , EMPNAME = #{userName} 
                                , COM_CODE = #{comCode}
                                , EMPGRAD = #{userRank,jdbcType=VARCHAR}
                                , EMPJIKW = #{userPosition,jdbcType=VARCHAR} 
                                , USER_EMAIL = #{userEmail,jdbcType=VARCHAR} 
                                , USER_STATE = #{userState,jdbcType=VARCHAR} 
                                , EMPHANDPHONE = #{userCellphone,jdbcType=VARCHAR} 
                                , EMPTELPHONE = #{userTel,jdbcType=VARCHAR}
                                , UPDATE_DATE = NOW()
	    WHERE EMPNO = #{userNo} ;
    </update> 
    
    <delete id="deleteUserInfoManage">
        <choose>
            <when test="!@org.apache.commons.lang3.StringUtils@isEmpty(comCode)">
                DELETE FROM TB_USERINFO WHERE COM_CODE = #{comCode} ;
                DELETE FROM TB_EMPINFO WHERE COM_CODE = #{comCode} ;
            </when>
            <otherwise>
                DELETE FROM TB_USERINFO WHERE USER_NO = #{userNo} ;
                DELETE FROM TB_EMPINFO WHERE EMPNO = #{userNo} ;
            </otherwise>
        </choose>
       
    </delete>
</mapper>