<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohoki.backoffice.sym.sat.mapper.SeatInfoManageMapper">

   <select id="selectSeatManageListByPagination" resultType="SeatInfoVO">     	      
		 	SELECT    TA.* FROM 
				 	      ( SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, TB.* 
							FROM ( SELECT a.SWC_SEQ
				              						, a.SEAT_NAME
							                        , b.CENTER_NM
				                                    , a.SWC_USEYN
				                                    , fn_DetailCodeNm(a.ROOM_TYPE) AS roomTypeTxt
								                    , a.LAST_UPDT_PNTTM, a.LAST_UPDUSR_ID
								                    , a.MAX_CNT
								                    , a.SEAT_IMG1, a.SEAT_IMG2
								                    , a.AVAYA_CONFI_ID, a.AVAYA_USERID
				                                    , a.TERMINAL_ID, a.END_NAME, a.TERMINAL_NUMBER, a.TERMINAL_TEL
				                                    , a.USER_FIRST_NM, a.USER_LAST_NM, a.USER_EMAIL
				                                    , a.SEAT_VIEW , a.SEAT_ORDER
				                                    , a.SEAT_EQUPGUBUN, a.SEAT_CONFIRMGUBUN
				                                    , a.SEAT_ADMINID
				                                    , a.MAIL_SENDCHECK, a.SMS_SENDCHECK
													, a.SEAT_MAINVIEW
													, CASE WHEN LENGTH(a.SEAT_ADMINID) >5 THEN 
													   FN_ATTENTLIST(SUBSTR(a.SEAT_ADMINID, 2))
													   ELSE
													    ''
													   END AS seatAdminidTxt
				                       FROM  tb_meeting_room a ,tb_centerinfo b
				                       WHERE a.CENTER_ID = b.CENTER_ID 
								        <if test="searchKeyword != ''">
								        	<choose>
								        		<when test="searchCondition == 0 ">
								        			AND a.SEAT_NAME LIKE CONCAT('%',#{searchKeyword},'%') 
								        		</when>
								        		<otherwise>
													<![CDATA[    
													   AND c.CENTER_NM LIKE CONCAT('%',#{searchKeyword},'%') 
													]]>
												</otherwise>
											</choose>
										</if>		  
										<if test=" searchAdminid != '' ">
										      AND a.SEAT_ADMINID = #{searchAdminid}
										</if>      
										<if test="searchCenterId != ''">
											<![CDATA[    
										     AND a.CENTER_ID = #{searchCenterId}
										     ]]>
										</if>		     
										<if test="searchRoomType != ''">
										     AND a.ROOM_TYPE = #{searchRoomType}
										</if>	
										<if test="searchRoomView != ''">
										     AND a.SEAT_VIEW = #{searchRoomView}
										</if>	
										<if test="notSearchSeq !=''">
										    <![CDATA[  
										     AND a.SWC_SEQ != #{notSearchSeq}
										     ]]>
										</if>
										<if test="searchSwcUseyn != ''">
										     AND a.SWC_USEYN = #{searchSwcUseyn}
										</if>
							        	ORDER BY a.SEAT_ORDER ASC,  a.SWC_SEQ  DESC 
							     ) TB 
			) TA
			ORDER BY TA.SEAT_ORDER ASC,  TA.SWC_SEQ  DESC 
			LIMIT   #{firstIndex},   #{recordCountPerPage}  		    		 	    
   </select>
   <select id="selectSeatEmptyManageList" resultType="SeatInfoVO">
		SELECT 	a.SWC_SEQ, a.SEAT_NAME, a.EQUIPMENT_STATE, a.CENTER_ID
		FROM 	tb_swc_room a
		WHERE  1=1 
		       AND a.SWC_USEYN = 'Y'
		  <choose>
			 <when test="searchCenterId != '' and searchRoomType == '' ">
			    AND a.CENTER_ID = #{searchCenterId}	
		     </when>
			  <when test="searchCenterId == '' and searchRoomType == '' ">
			      AND a.CENTER_ID =  ( SELECT X.CENTER_ID FROM ( SELECT CENTER_ID FROM tb_centerinfo order by CENTER_ID ASC ) X  ORDER BY X.CENTER_ID ASC  LIMIT 1 ) 
		     </when>
		  </choose>
		   <if test="searchSeatView !=''">
		         AND SEAT_VIEW = #{searchSeatView} 
		     </if>
		   <if test="searchRoomType !=''">
		         AND ROOM_TYPE = #{searchRoomType} 
		     </if>
		   <if test="searchMainview !=''">
		         AND SEAT_MAINVIEW = #{searchMainview} 
		   </if>
	    ORDER BY SEAT_ORDER ASC , SEAT_NAME ASC, SWC_SEQ ASC
   </select>
   
   <select id="selectSeatEmptyIntervalStatus" resultType="SeatInfoVO">
   <![CDATA[
		SELECT 	X.SWC_SEQ
						, X.SEAT_NAME
				        , CASE WHEN (chCount <= realCnt AND resCnt =0) THEN 'O'
				          ELSE 'F'
				          END seatDayCheck
				        , SEAT_CHECK(#{noEmp}, x.SWC_SEQ) AS seatCheck
		FROM (
						SELECT 	a.SWC_SEQ , a.AVAYA_CONFI_ID
								        , a.SEAT_NAME
								        , (		SELECT		ifnull(COUNT(*),0) 
							        			FROM 		TB_SWCTIME c 
							       				WHERE 		a.SWC_SEQ = c.SWC_SEQ 
								            	AND 			c.SWC_RESDAY BETWEEN #{seatStartDay} AND #{seatEndDay}
								            	AND 			c.SWC_TIME < 1800)
							       			AS realCnt
								        ,	(	SELECT 	ifnull(COUNT(*),0) 
								        		FROM 		TB_SWCTIME c 
								          		WHERE		a.SWC_SEQ = c.SWC_SEQ 
								            	AND 			c.SWC_RESDAY BETWEEN #{seatStartDay} AND #{seatEndDay}
								            	AND 			c.RES_SEQ != 0 
								            	AND 			c.SWC_TIME < 1800)
							       			AS resCnt
								        , (((STR_TO_DATE(#{seatEndDay},'%Y%m%d') - STR_TO_DATE(#{seatStartDay},'%Y%m%d')) +1) * 18) AS chCount 
						FROM 		tb_swc_room a , tb_centerinfo b
						WHERE  	a.CENTER_ID = b.CENTER_ID
						AND 			a.ROOM_TYPE = #{roomType}
						AND 			a.CENTER_ID = #{centerId}
					) X
		ORDER BY X.SEAT_NAME ASC
    ]]>
   </select>
   <select id="selectSeatManageCombo" resultType="SeatInfo">
	      SELECT SWC_SEQ, SEAT_NAME
	      FROM  tb_swc_room
	      WHERE SWC_USEYN ='Y'
	            <if test="searchCenterId != ''">
	             AND CENTER_ID = #{searchCenterId}
	            </if>
	      ORDER by SEAT_NAME asc
   </select>
   <select id="selectConferenceList" parameterType="java.util.List" resultType="SeatInfoVO">
	      SELECT a.SWC_SEQ, a.SEAT_NAME, b.CENTER_NM
	      FROM tb_swc_room a,  tb_centerinfo b    
		  WHERE a.CENTER_ID = b.CENTER_ID
		         AND SWC_SEQ IN 
		         <foreach collection="list" item="item" open="(" close=")" separator=",">
		           #{item}
		         </foreach>
   </select>
   <select id="selectSeatManageView" resultType="SeatInfoVO">
	     SELECT	a.SWC_SEQ , a.CENTER_ID , b.CENTER_NM, a.SEAT_NAME, a.AVAYA_CONFI_ID
				, a.EQUIPMENT_STATE 
				, a.AVAYA_CONFI_ID, a.ROOM_TYPE  
				, a.MAX_CNT , a.SWC_USEYN 
				, a.AVAYA_ROOMCODE   
				, a.SEAT_IMG1, a.SEAT_IMG2
				, a.AVAYA_CONFI_ID, a.AVAYA_USERID
                , a.TERMINAL_ID, a.END_NAME, a.TERMINAL_NUMBER, a.TERMINAL_TEL
                , a.USER_FIRST_NM, a.USER_LAST_NM, a.USER_EMAIL
                , fn_DetailCodeNm(a.ROOM_TYPE) AS roomTypeTxt
                , a.SEAT_VIEW, a.SEAT_ORDER
                , a.SEAT_EQUPGUBUN, a.SEAT_CONFIRMGUBUN
                , CASE a.SEAT_EQUPGUBUN WHEN 'Y' THEN 
                     FN_ATTENTLIST(a.SEAT_ADMINID)
                  ELSE 
                    ''
                  END seatAdminTxt
                , a.SEAT_ADMINID
                , a.MAIL_SENDCHECK, a.SMS_SENDCHECK
				, a.SEAT_MAINVIEW
				, a.RES_MESSAGE_MAIL
				, a.RES_MESSAGE_SMS
				, a.CAN_MESSAGE_MAIL
				, a.CAN_MESSAGE_SMS
				, CASE a.MAIL_SENDCHECK WHEN 'Y' THEN  fn_MessageTitle( a.RES_MESSAGE_MAIL )
					   ELSE '메세지 없음' 
				    END resMessageMailTxt
				  , CASE a.MAIL_SENDCHECK WHEN 'Y' THEN fn_MessageContent( a.RES_MESSAGE_MAIL )
					  ELSE '메세지 없음' 
				    END resMessageMailContextTxt
				  , CASE a.SMS_SENDCHECK WHEN 'Y' THEN fn_MessageTitle( a.RES_MESSAGE_SMS )
					  ELSE '메세지 없음' 
					END resMessageSmsTxt
				  , CASE a.MAIL_SENDCHECK WHEN 'Y' THEN fn_MessageTitle( a.CAN_MESSAGE_MAIL )
					  ELSE '메세지 없음' 
					 END canMessageMailTxt
				  , CASE a.MAIL_SENDCHECK WHEN 'Y' THEN fn_MessageContent( a.CAN_MESSAGE_MAIL )
					  ELSE '메세지 없음' 
				  END resMessageMailContextTxt
				  , CASE a.SMS_SENDCHECK WHEN 'Y' THEN fn_MessageTitle( a.CAN_MESSAGE_SMS )
					  ELSE '메세지 없음' 
				   END canMessageSmsTxt
	     FROM  tb_swc_room a,  tb_centerinfo b    
	     WHERE SWC_SEQ = #{swcSeq}
	                  AND a.CENTER_ID = b.CENTER_ID
   </select>   
   
   <insert id="insertSeatManage">
	      INSERT INTO tb_swc_room(  SEAT_NAME,  CENTER_ID, ROOM_TYPE, MAX_CNT, SWC_USEYN, EQUIPMENT_STATE,
	                               FRST_REGIST_PNTTM, FRST_REGISTER_ID, LAST_UPDT_PNTTM, LAST_UPDUSR_ID, AVAYA_CONFI_ID,
	                               SEAT_IMG1, SEAT_IMG2, 
	                               AVAYA_USERID,
	                               TERMINAL_ID, END_NAME, TERMINAL_NUMBER, TERMINAL_TEL,
	                               USER_FIRST_NM, USER_LAST_NM, USER_EMAIL, SEAT_VIEW, SEAT_ORDER, 
	                               SEAT_EQUPGUBUN, SEAT_CONFIRMGUBUN, SEAT_ADMINID,
	                               MAIL_SENDCHECK, SMS_SENDCHECK, SEAT_MAINVIEW,
	                               RES_MESSAGE_MAIL, RES_MESSAGE_SMS, CAN_MESSAGE_MAIL, CAN_MESSAGE_SMS
	                               )
	      VALUES ( #{seatName}, #{centerId}, #{roomType}, #{maxCnt}, #{swcUseyn}, #{equipmentState,jdbcType=VARCHAR },
	      NOW(), #{userId, jdbcType=VARCHAR}, NOW(), #{userId, jdbcType=VARCHAR}, #{avayaConfiId, jdbcType=VARCHAR},
	      #{seatImg1, jdbcType=VARCHAR}, #{seatImg2, jdbcType=VARCHAR},
	      #{avayaUserid, jdbcType=VARCHAR},
	      #{terminalId, jdbcType=VARCHAR}, #{endName, jdbcType=VARCHAR}, #{terminalNumber, jdbcType=VARCHAR} , #{terminalTel, jdbcType=VARCHAR},
	      #{userFirstNm, jdbcType=VARCHAR}, #{userLastNm, jdbcType=VARCHAR} , #{userEmail, jdbcType=VARCHAR}
	      , #{seatView, jdbcType=VARCHAR}, #{seatOrder, jdbcType=VARCHAR}
	      , #{seatEqupgubun, jdbcType=VARCHAR}, #{seatConfirmgubun, jdbcType=VARCHAR}
	      , #{seatAdminid, jdbcType=VARCHAR}, #{mailSendcheck, jdbcType=VARCHAR}, #{smsSendcheck, jdbcType=VARCHAR}, #{seatMainview, jdbcType=VARCHAR},
	      , #{resMessageMail, jdbcType=VARCHAR}, #{resMessageSms, jdbcType=VARCHAR}
	      , #{canMessageMail, jdbcType=VARCHAR}, #{canMessageSms, jdbcType=VARCHAR}
	      
	      )
   </insert>
   <update id="updateSeatAdminManage">
          UPDATE tb_swc_room SET SEAT_ADMINID = #{seatAdminid, jdbcType=VARCHAR}
           WHERE SWC_SEQ = #{swcSeq}
   </update>
   <update id="updateSeatSync">
         UPDATE tb_swc_room set TERMINAL_ID  = #{terminalId, jdbcType=VARCHAR}
                                                        , TERMINAL_NUMBER  = #{terminalNumber, jdbcType=VARCHAR}   
         WHERE AVAYA_USERID  = #{avayaUserid}
   </update>
   <update id="updateSeatManage">
	      UPDATE tb_swc_room SET SEAT_NAME = #{seatName}
	                             , CENTER_ID = #{centerId}
	                             , SWC_USEYN = #{swcUseyn, jdbcType=VARCHAR }
								 , ROOM_TYPE = #{roomType,jdbcType=VARCHAR}
								 , MAX_CNT = #{maxCnt, jdbcType=VARCHAR}
								 , EQUIPMENT_STATE = #{equipmentState, jdbcType=VARCHAR }
								 , LAST_UPDT_PNTTM = NOW()
								 , LAST_UPDUSR_ID =  #{userId, jdbcType=VARCHAR}
								 , AVAYA_CONFI_ID = #{avayaConfiId, jdbcType=VARCHAR}
								 <if test="seatImg1 != ''">
								 ,SEAT_IMG1 = #{seatImg1}
								 </if>
								 <if test="seatImg2 != ''">
								 ,SEAT_IMG2 = #{seatImg2}
								 </if>
								 , AVAYA_USERID  = #{avayaUserid, jdbcType=VARCHAR}
								 , TERMINAL_ID  = #{terminalId, jdbcType=VARCHAR}
								 , END_NAME   = #{endName, jdbcType=VARCHAR}
								 , TERMINAL_NUMBER  = #{terminalNumber, jdbcType=VARCHAR}
								 , TERMINAL_TEL  = #{terminalTel, jdbcType=VARCHAR}
	                             , USER_FIRST_NM  = #{userFirstNm, jdbcType=VARCHAR}
	                             , USER_LAST_NM  = #{userLastNm, jdbcType=VARCHAR}
	                             , USER_EMAIL  = #{userEmail, jdbcType=VARCHAR}
								 , SEAT_VIEW  = #{seatView, jdbcType=VARCHAR}
								 , SEAT_ORDER  = #{seatOrder, jdbcType=VARCHAR}
								  , SEAT_EQUPGUBUN  = #{seatEqupgubun, jdbcType=VARCHAR}
								  , SEAT_CONFIRMGUBUN  = #{seatConfirmgubun, jdbcType=VARCHAR}
								  <if test="seatAdminid != ''">
								  , SEAT_ADMINID = #{seatAdminid, jdbcType=VARCHAR}
                                  </if>
                                  , RES_MESSAGE_MAIL = #{resMessageMail, jdbcType=VARCHAR}
								  , RES_MESSAGE_SMS = #{resMessageSms, jdbcType=VARCHAR}
								  , CAN_MESSAGE_MAIL = #{canMessageMail, jdbcType=VARCHAR}
								  , CAN_MESSAGE_SMS = #{canMessageSms, jdbcType=VARCHAR}
								  , MAIL_SENDCHECK = #{mailSendcheck, jdbcType=VARCHAR}
								  , SMS_SENDCHECK  = #{smsSendcheck, jdbcType=VARCHAR}
								  , SEAT_MAINVIEW  = #{seatMainview, jdbcType=VARCHAR}
	      WHERE SWC_SEQ = #{swcSeq}
   </update>
   <delete id="deleteSeatManage">
	      DELETE FROM tb_swc_room
	      WHERE SWC_SEQ = #{swcSeq}   
   </delete>

	<select id="selectRoomId" resultType="SeatInfoVO">     	      
	      SELECT 	b.* 
			FROM 	(
							SELECT 	DISTINCT(a.ROOM_ID) as roomId
										, (SELECT 	CODE_NM 
											FROM 	LETTCCMMNDETAILCODE 
											WHERE 	CODE=a.ROOM_ID) as roomNm 
							FROM 		tb_swc_room a
							WHERE 		a.ROOM_TYPE=#{roomType} 
							AND 			a.CENTER_ID=#{centerId}
							
			      		)b
		ORDER BY roomNm
   </select>

	<select id="selectRoomSeat" resultType="SeatInfoVO">     	      
			SELECT 	SWC_SEQ
							, seat_name
					        , room_id
					        , center_id
					        , room_type 
					        , max_cnt
			FROM 		tb_swc_room 	
			<![CDATA[  
			WHERE 		room_id=#{roomId}
			AND			center_id=#{centerId}
			AND			room_type=#{roomType}
			AND 			SWC_USEYN='Y'
			]]>
   </select>
   
   <select id="selectRoomEquipmentList" resultType="SeatInfoVO">
			SELECT		EQUP_CODE
							, EQUIPMENT_ID
					        , EQUIPMENT_NAME
					        , CENTER_ID
					        , ROOM_ID
					        , ROOM_TYPE
					        , SWC_SEQ
					        , CNT 
			FROM  tb_equipmentinfo
			WHERE		CENTER_ID = #{centerId}
			              AND	ROOM_ID = #{roomId}
			              AND	SWC_SEQ = #{swcSeq}
			              AND SWC_USEYN='Y'
   </select>
   
   
</mapper>