<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohoki.backoffice.sym.space.mapper.OfficeSeatInfoManageMapper">
   <select id="selectOfficeSeatInfoManageListByPagination"  resultType="lmap">
		SELECT TB.* FROM (
					    SELECT  SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
					           ROW_NUMBER() OVER (ORDER BY a.SEAT_ORDER DESC) AS RNUM, 
					           a.CENTER_ID, a.FLOOR_SEQ, a.PART_SEQ, a.SEAT_ID, a.SEAT_NAME, a.SEAT_USEYN, 
							   a.SEAT_TOP, a.SEAT_LEFT, a.SEAT_FIX_USERYN, a.SEAT_FIX_USER_ID, a.ORG_CD,
							   a.SEAT_QR_CODE, a.SEAT_QR_CODE_PATH, a.SEAT_QR_CODE_FULL_PATH, a.SEAT_ORDER, a.SEAT_NUMBER, 
							   FORMAT(a.UPDATE_DATE,'yyyy-MM-dd HH:mm:ss') UPDATE_DATE, 
							   b.CENTER_NM, c.FLOOR_NAME, a.UPDATE_ID, 
							   d.CODE_NM , dbo.FN_DETAILCODENM(a.PAY_CLASSIFICATION) AS PAY_CLASSIFICATION_TXT, a.PAY_CLASSIFICATION,
							   dbo.FN_DETAILCODENM(a.PAY_GUBUN) AS PAY_GUBUN_TXT, a.PAY_GUBUN, a.PAY_COST, c.FLOOR_INFO, a.RES_REQDAY,
							   CASE WHEN (SEAT_FIX_USERYN = 'Y' AND LEN(SEAT_FIX_USER_ID) > 0) THEN 
							      dbo.FN_USERNM(a.SEAT_FIX_USER_ID)
								ELSE 
								  ''
							  END USER_NAME,
							  CASE a.SEAT_CONFIRMGUBUN WHEN 'Y' THEN '관리자승인'
							       ELSE '바로사용'
							  END SEAT_CONFIRMGUBUN, QR_PLAYYN, a.SEAT_LABEL_USEYN, a.SEAT_LABEL_STATUS, a.SEAT_LABEL_CODE, a.SEAT_LABEL_TEMPLATE,
							  dbo.FN_DETAILCODENM(a.SEAT_LABEL_TEMPLATE) LABEL_TEMPLATE_TXT, a.SEAT_FIX_GUBUN
					    FROM  TB_SEATINFO a, TB_CENTERINFO b, TB_FLOORINFO c, LETTCCMMNDETAILCODE d
					    WHERE a.CENTER_ID = b.CENTER_ID  
					          AND a.FLOOR_SEQ = c.FLOOR_SEQ     
					          AND a.SEAT_GUBUN = d.CODE
						      <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
								  AND (a.SEAT_NAME LIKE CONCAT('%',#{params.searchKeyword},'%'))
							  </if>	
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchQrplay)">
								  AND a.QR_PLAYYN = #{params.searchQrplay}
							  </if>		
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchCenter)">
								<![CDATA[    
							    AND a.CENTER_ID = #{params.searchCenter}
							    ]]>
							  </if>
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchFloorSeq)">
								<![CDATA[    
							    AND a.FLOOR_SEQ = #{params.searchFloorSeq}
							    ]]>
							  </if>
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchPartSeq)">
								<![CDATA[    
							    AND a.PART_SEQ = #{params.searchPartSeq}
							    ]]>
							  </if>	
							  
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.seatLabelUseyn)">
								<![CDATA[    
							    AND a.SEAT_LABEL_USEYN = #{params.seatLabelUseyn}
							    ]]>
							  </if>	
	        ) TB  
	        WHERE RNUM  BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}  
	        ORDER BY  CAST(REPLACE(TB.FLOOR_INFO, 'CENTER_FLOOR_','') AS INT) ASC, TB.SEAT_ORDER  DESC
	        		 	    
    </select>
    <select id="selectOfficeSeatInfoManageDetail"  resultType="lmap">
          SELECT  CENTER_ID, FLOOR_SEQ, PART_SEQ, SEAT_ID, SEAT_NAME, SEAT_USEYN, QR_PLAYYN,
				  SEAT_TOP, SEAT_LEFT, SEAT_FIX_USERYN, SEAT_FIX_USER_ID, ORG_CD,
				  SEAT_ORDER, SEAT_NUMBER,
				  REG_ID, UPDATE_ID, REG_DATE, UPDATE_DATE,
				  SEAT_GUBUN, PAY_CLASSIFICATION, PAY_GUBUN, PAY_COST, SEAT_CONFIRMGUBUN, RES_REQDAY, 
				  CASE  
				      WHEN SEAT_FIX_USERYN = 'Y' AND SEAT_FIX_USER_ID IS NOT NULL AND SEAT_FIX_GUBUN = 'G'  THEN 
				         ( SELECT EMPNAME FROM tb_empInfo WHERE EMPNO = a.SEAT_FIX_USER_ID )
				      WHEN SEAT_FIX_USERYN = 'Y' AND SEAT_FIX_USER_ID IS NOT NULL AND SEAT_FIX_GUBUN = 'C'  THEN 
				         ( SELECT USER_NAME FROM tb_userinfo WHERE USER_NO = a.SEAT_FIX_USER_ID )
				  ELSE 
				      ''
				  END EMPNAME, 
				  SEAT_LABEL_USEYN, SEAT_LABEL_STATUS, SEAT_LABEL_CODE, SEAT_LABEL_TEMPLATE,
				  dbo.FN_DETAILCODENM(SEAT_LABEL_TEMPLATE) LABEL_TEMPLATE_TXT, SEAT_FIX_GUBUN
		  FROM TB_SEATINFO a
		  WHERE SEAT_ID = #{seatId}
    </select>
    <select id="selectOfficeSeatUserInfoManage"  resultType="lmap">
          SELECT EMPNAME, EMPTELPHONE, DEPT_NM, WORKINFO from dbo.fn_userinfo(#{seatFixGubun}, #{seatFixUserId})
    </select>
    <select id="selectCenterLabelInfo"   resultType="lmap">
	     SELECT a.SEAT_ID, a.SEAT_NAME, a.SEAT_FIX_USERYN, a.SEAT_FIX_USER_ID,
		       a.SEAT_LABEL_USEYN, a.SEAT_LABEL_STATUS, a.SEAT_LABEL_CODE, a.SEAT_LABEL_TEMPLATE,
			   dbo.FN_DETAILCODENM(a.SEAT_LABEL_TEMPLATE) LABEL_TEMPLATE_TXT, a.SEAT_FIX_GUBUN,
			   bb.EMPNAME, bb.DEPTNAME,  bb.EMPTELPHONE,  WORKINFO 
		FROM TB_SEATINFO a
		LEFT OUTER JOIN
		(
			SELECT X.* 
			FROM (
			SELECT b.EMPNAME, b.DEPTNAME,  b.EMPTELPHONE, dbo.FN_DETAILCODENM(b.PRE_WORKINFO) WORKINFO , EMPNO
			FROM TB_EMPINFO b
			) X 
			WHERE CAST( CONVERT(time,GETDATE()) AS VARCHAR(5)) BETWEEN SUBSTRING(X.WORKINFO, 0,	  CHARINDEX('~',X.WORKINFO)) AND SUBSTRING(X.WORKINFO,   CHARINDEX('~',X.WORKINFO)+1 , 10)
		) bb
		ON a.SEAT_FIX_USER_ID = bb.EMPNO
		WHERE CENTER_ID = 'C21052601' AND FLOOR_SEQ in (6, 7,  8)
		      AND SEAT_LABEL_USEYN ='Y' AND SEAT_LABEL_CODE IS NOT NULL
		UNION ALL
	    SELECT a.SEAT_ID, a.SEAT_NAME, a.SEAT_FIX_USERYN, a.SEAT_FIX_USER_ID,
		       a.SEAT_LABEL_USEYN, a.SEAT_LABEL_STATUS, a.SEAT_LABEL_CODE, a.SEAT_LABEL_TEMPLATE,
			   dbo.FN_DETAILCODENM(a.SEAT_LABEL_TEMPLATE) LABEL_TEMPLATE_TXT, a.SEAT_FIX_GUBUN,
			   bb.EMPNAME, bb.DEPTNAME,  bb.EMPTELPHONE,  WORKINFO 
		FROM TB_SEATINFO a
		LEFT OUTER JOIN
		(
			SELECT b.ITEM_ID, c.EMPNAME, c.DEPTNAME,  c.EMPTELPHONE,  EMPNO, CONCAT(dbo.fn_TimeSplit(RES_STARTTIME), '~', dbo.fn_TimeSplit(dbo.FN_UPSTIMEDOWN(RES_ENDTIME))) WORKINFO
            FROM TB_SWCRESERVATION b, TB_EMPINFO c
            WHERE  b.RES_STARTDAY = convert(varchar(8), getdate(), 112) 
				   AND ITEM_GUBUN = 'ITEM_GUBUN_2'
				   AND b.USER_ID = c.EMPNO
				    AND  replace(cast( CONVERT(time,GETDATE()) as varchar(5)), ':','') between  RES_STARTTIME and dbo.FN_UPSTIMEDOWN(RES_ENDTIME)
				   AND b.RESERV_PROCESS_GUBUN in ( 'PROCESS_GUBUN_2', 'PROCESS_GUBUN_6')
		) bb
		ON a.SEAT_ID = bb.ITEM_ID
		WHERE CENTER_ID = 'C21052601' AND FLOOR_SEQ in (10, 3)
		      AND SEAT_USEYN ='Y' 
    </select>
    <insert id="insertOfficeSeatInfoManage" >
         <selectKey resultType="String"  keyProperty="seatId" order="BEFORE">
            SELECT dbo.FN_SEATID(#{floorSeq}) as seatId
         </selectKey>
         INSERT INTO TB_SEATINFO(CENTER_ID, FLOOR_SEQ, PART_SEQ, SEAT_ID, SEAT_NAME, SEAT_USEYN, 
								 SEAT_TOP, SEAT_LEFT, SEAT_FIX_USERYN, SEAT_FIX_USER_ID, ORG_CD,
								 SEAT_ORDER, SEAT_NUMBER,
								 REG_ID, REG_DATE, UPDATE_ID,  UPDATE_DATE, 
								 SEAT_GUBUN, PAY_CLASSIFICATION, PAY_GUBUN, PAY_COST, 
								 SEAT_CONFIRMGUBUN, SEAT_FIX_GUBUN , RES_REQDAY, QR_PLAYYN, SEAT_LABEL_USEYN, SEAT_LABEL_CODE, SEAT_LABEL_TEMPLATE)
         VALUES (#{centerId}, #{floorSeq},  #{partSeq,jdbcType=VARCHAR}, #{seatId},  #{seatName}, 'Y', 
                 #{seatTop,jdbcType=VARCHAR}, #{seatLeft,jdbcType=VARCHAR},  #{seatFixUseryn, jdbcType=VARCHAR}, #{seatFixUserId, jdbcType=VARCHAR}, #{orgCd,jdbcType=VARCHAR},
                 #{seatOrder,jdbcType=VARCHAR}, #{seatNumber,jdbcType=VARCHAR}, 
                 #{userId,jdbcType=VARCHAR}, GETDATE(), #{userId,jdbcType=VARCHAR}, GETDATE(),
                 #{seatGubun,jdbcType=VARCHAR},#{payClassification,jdbcType=VARCHAR},#{payGubun,jdbcType=VARCHAR},#{payCost,jdbcType=VARCHAR},
                 #{seatConfirmgubun,jdbcType=VARCHAR} , #{seatFixGubun,jdbcType=VARCHAR}  ,  #{resReqday, jdbcType=VARCHAR} ,  #{qrPlayyn, jdbcType=VARCHAR}
                 #{seatLabelUseyn,jdbcType=VARCHAR}, #{seatLabelCode,jdbcType=VARCHAR}, #{seatLabelTemplate,jdbcType=VARCHAR}
                 );
                 
         UPDATE tb_floorinfo SET SEAT_CNT = SEAT_CNT + 1
		 WHERE FLOOR_SEQ = #{floorSeq};
    </insert>
    <insert id="insertFloorInfoOfficeSeatInfoManage">
        <choose>
           <when test='params.viewMode == "S"'>
                <choose>
		           <when test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.partSeq)">
		                INSERT INTO TB_SEATINFO(SEAT_ID, CENTER_ID, FLOOR_SEQ, PART_SEQ,  SEAT_NAME, SEAT_USEYN, SEAT_TOP, SEAT_LEFT, SEAT_ORDER,
		                                        REG_DATE, UPDATE_DATE, REG_ID, UPDATE_ID,
		                                        SEAT_GUBUN, PAY_CLASSIFICATION, PAY_GUBUN, PAY_COST, SEAT_FIX_USERYN
		                                        )
						SELECT dbo.FN_SEATID_INSERT(TA.FLOOR_SEQ, RNUM) , TA.CENTER_ID , TA.FLOOR_SEQ,  TA.PART_SEQ, TA.RN, 'Y', 0, 0, TA.RNUM, 
						       GETDATE(), GETDATE(), #{params.userId}, #{params.userId},
						       #{params.seatGubun},#{params.payClassification},#{params.payGubun},#{params.payCost} , #{params.seatFixUseryn, jdbcType=VARCHAR}
						FROM (
						      <![CDATA[
							  SELECT  a.CENTER_ID , a.FLOOR_SEQ , a.PART_SEQ, 
							          CONCAT(a.PART_SEATRULE,'_', a.PART_NAME,'_', REPLICATE('0',4 - LEN( b.rn)) , b.rn) RN, 
							          ROW_NUMBER() OVER(ORDER BY b.RN DESC) as RNUM
							  FROM tb_floorpart a, ( select * from dbo.FN_ROWTABLE(${params.seatStr}, ${params.seatEnd} ) )b 
							  WHERE PART_SEQ = #{params.partSeq}
							  
							  ]]>
						)TA
						ORDER BY TA.RN ASC ;
		           </when>
		           <otherwise>
		                INSERT INTO TB_SEATINFO(SEAT_ID, CENTER_ID, FLOOR_SEQ, SEAT_NAME, SEAT_USEYN, SEAT_TOP, SEAT_LEFT, SEAT_ORDER,
		                                        REG_DATE, UPDATE_DATE, REG_ID, UPDATE_ID,
		                                        SEAT_GUBUN, PAY_CLASSIFICATION, PAY_GUBUN, PAY_COST, SEAT_FIX_USERYN
		                                        )
						SELECT dbo.FN_SEATID_INSERT(TA.FLOOR_SEQ, RNUM) , TA.CENTER_ID , TA.FLOOR_SEQ, TA.RN, 'Y', 0,0 , TA.RNUM,
						       GETDATE(), GETDATE(), #{params.userId}, #{params.userId},
						       #{params.seatGubun},#{params.payClassification},#{params.payGubun},#{params.payCost}, #{params.seatFixUseryn, jdbcType=VARCHAR}
						FROM (
						      <![CDATA[
							  SELECT  a.CENTER_ID , a.FLOOR_SEQ , 0 PART_SEQ, 
							          CONCAT(a.FLOOR_NAME, '_', REPLICATE('0',4 - LEN( b.rn)) , b.rn) RN, 
							          ROW_NUMBER() OVER(ORDER BY b.RN DESC) as RNUM
							  FROM tb_floorinfo a, ( select * from dbo.FN_ROWTABLE(${params.seatStr}, ${params.seatEnd} ) )b 
							  WHERE FLOOR_SEQ = #{params.floorSeq}
							  
							  ]]>
						)TA
						ORDER BY TA.RN ASC ;
		
		           </otherwise>
		        </choose>
		        UPDATE TB_FLOORINFO SET SEAT_CNT = (SELECT ISNULL(count(*),0) 
						                            FROM tb_seatinfo 
						                            WHERE FLOOR_SEQ = #{params.floorSeq} )
				WHERE FLOOR_SEQ = #{params.floorSeq};
           </when>
           <when test='params.viewMode == "M"'>
                 <choose>
		           <when test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.partSeq)">
		                INSERT INTO TB_MEETING_ROOM(MEETING_ID, CENTER_ID, FLOOR_SEQ, PART_SEQ,  MEETING_NAME, MEETING_USEYN, MEETING_TOP, MEETING_LEFT, MEETING_ORDER,
		                                            REG_DATE, UPDATE_DATE, REG_ID, UPDATE_ID,
		                                            MEETING_MAINVIEW, MEETING_VIEW, MAX_CNT, MAIL_SENDCHECK, SMS_SENDCHECK,
		                                            ROOM_TYPE, MEETING_CONFIRMGUBUN, PAY_CLASSIFICATION, PAY_GUBUN, PAY_COST
		                                            )
						SELECT dbo.FN_MEETINGID_INSERT(TA.FLOOR_SEQ, RNUM) , TA.CENTER_ID , TA.FLOOR_SEQ,  TA.PART_SEQ, TA.RN, 'Y', 0, 0, TA.RNUM, 
						       GETDATE(), GETDATE(), #{params.userId}, #{params.userId},
						       'Y','Y',0, 'N','N',
						       #{params.roomType}, #{params.meetingConfirmgubun}, #{params.payClassification},#{params.payGubun},#{params.payCost}
						FROM (
						      <![CDATA[
							  SELECT  a.CENTER_ID , a.FLOOR_SEQ , a.PART_SEQ, 
							          CONCAT(''M_', a.PART_SEATRULE,'_', a.PART_NAME,'_', REPLICATE('0',4 - LEN( b.rn)) , b.rn) RN, 
							          ROW_NUMBER() OVER(ORDER BY b.RN DESC) as RNUM
							  FROM tb_floorpart a, ( select * from dbo.FN_ROWTABLE(${params.seatStr}, ${params.seatEnd} ) )b 
							  WHERE PART_SEQ = #{params.partSeq}
							  
							  ]]>
						)TA
						ORDER BY TA.RN ASC ;
		           </when>
		           <otherwise>
		                INSERT INTO TB_MEETING_ROOM(MEETING_ID, CENTER_ID, FLOOR_SEQ, PART_SEQ,  MEETING_NAME, MEETING_USEYN, MEETING_TOP, MEETING_LEFT, MEETING_ORDER,
		                                            REG_DATE, UPDATE_DATE, REG_ID, UPDATE_ID,
		                                            MEETING_MAINVIEW, MEETING_VIEW, MAX_CNT, MAIL_SENDCHECK, SMS_SENDCHECK,
		                                            ROOM_TYPE, MEETING_CONFIRMGUBUN, PAY_CLASSIFICATION, PAY_GUBUN, PAY_COST
		                                            )
						SELECT dbo.FN_MEETINGID_INSERT(TA.FLOOR_SEQ, RNUM) , TA.CENTER_ID , TA.FLOOR_SEQ,  TA.PART_SEQ, TA.RN, 'Y', 0, 0, TA.RNUM, 
						       GETDATE(), GETDATE(), #{params.userId}, #{params.userId},
						       'Y','Y',0, 'N','N',
						       #{params.roomType}, #{params.meetingConfirmgubun}, #{params.payClassification},#{params.payGubun},#{params.payCost}
						FROM (
						      <![CDATA[
							  SELECT  a.CENTER_ID , a.FLOOR_SEQ , 0 PART_SEQ, 
							          CONCAT('M_',a.FLOOR_NAME, '_', REPLICATE('0',4 - LEN( b.rn)) , b.rn) RN, 
							          ROW_NUMBER() OVER(ORDER BY b.RN DESC) as RNUM
							  FROM TB_FLOORINFO a, ( SELECT * FROM dbo.FN_ROWTABLE(${params.seatStr}, ${params.seatEnd} ) )b 
							  WHERE FLOOR_SEQ = #{params.floorSeq}
							  
							  ]]>
						)TA
						ORDER BY TA.RN ASC 
						;
		
		           </otherwise>
		        </choose>
		        UPDATE tb_floorinfo SET MEET_CNT = (SELECT ISNULL(count(*),0) 
						                            FROM tb_meeting_room 
						                            WHERE FLOOR_SEQ = #{params.floorSeq} )
				WHERE FLOOR_SEQ = #{params.floorSeq};
           </when>
        </choose>
    </insert>
    <update id="updateOfficeSeatInfoManage" >
        UPDATE TB_SEATINFO SET CENTER_ID = #{centerId} 
	                              , FLOOR_SEQ = #{floorSeq,jdbcType=VARCHAR} 
	                              , PART_SEQ = #{partSeq,jdbcType=VARCHAR} 
	                              , SEAT_NAME = #{seatName}
	                              , SEAT_USEYN = #{seatUseyn, jdbcType=VARCHAR}
	                              , SEAT_TOP = #{seatTop,jdbcType=VARCHAR}
	                              , SEAT_LEFT = #{seatLeft,jdbcType=VARCHAR}
	                              , SEAT_FIX_USERYN = #{seatFixUseryn, jdbcType=VARCHAR}
	                              , SEAT_FIX_USER_ID = #{seatFixUserId, jdbcType=VARCHAR}
	                              , ORG_CD = #{orgCd,jdbcType=VARCHAR} 
	                              , SEAT_ORDER  = #{seatOrder,jdbcType=VARCHAR} 
	                              , SEAT_NUMBER = #{seatNumber,jdbcType=VARCHAR} 
	                              , UPDATE_DATE = GETDATE()
	                              , UPDATE_ID = #{userId,jdbcType=VARCHAR}
	                              , SEAT_GUBUN = #{seatGubun,jdbcType=VARCHAR}
	                              , PAY_CLASSIFICATION = #{payClassification,jdbcType=VARCHAR}
	                              , PAY_GUBUN = #{payGubun,jdbcType=VARCHAR}
	                              , PAY_COST = #{payCost,jdbcType=VARCHAR}
	                              , SEAT_CONFIRMGUBUN = #{seatConfirmgubun,jdbcType=VARCHAR}
	                              , SEAT_FIX_GUBUN = #{seatFixGubun,jdbcType=VARCHAR}
	                              , RES_REQDAY = #{resReqday, jdbcType=VARCHAR}
	                              , SEAT_LABEL_USEYN = #{seatLabelUseyn}
	                              , QR_PLAYYN  = #{qrPlayyn, jdbcType=VARCHAR}
	                              , SEAT_LABEL_CODE  =  #{seatLabelCode}
	                              , SEAT_LABEL_TEMPLATE = #{seatLabelTemplate}
	    WHERE SEAT_ID = #{seatId}           
    </update>
    <update id="updateOfficeLabelSeatInfoManage" >
        UPDATE TB_SEATINFO SET SEAT_LABEL_STATUS = #{seatLabelStatus}
                               , SEAT_LABEL_DATE = getdate()
        WHERE SEAT_ID = #{seatId}
    </update>
    
    <update id="updateOfficeSeatPositionInfoManage" parameterType="java.util.List">
        <choose>
            <when test='type == "S"'>
                <foreach collection="list" item="item" separator=";">
			        UPDATE TB_SEATINFO SET SEAT_TOP = #{item.seatTop,jdbcType=VARCHAR}
				                           , SEAT_LEFT = #{item.seatLeft,jdbcType=VARCHAR}
				                           , UPDATE_DATE = GETDATE()
				                           , UPDATE_ID = #{item.userId,jdbcType=VARCHAR}
				    WHERE SEAT_ID = #{item.seatId} 
			    </foreach> 
            </when>
            <otherwise>
                <foreach collection="list" item="item" separator=";">
		            UPDATE TB_MEETING_ROOM SET MEETING_TOP = #{item.seatTop,jdbcType=VARCHAR}
					                           , MEETING_LEFT = #{item.seatLeft,jdbcType=VARCHAR}
					                           , UPDATE_DATE = GETDATE()
					                           , UPDATE_ID = #{item.userId,jdbcType=VARCHAR}
				    WHERE MEETING_ID = #{item.seatId} 
	            </foreach> 
            </otherwise>
        </choose>
           
    </update> 
    <delete id="deleteOfficeSeatQrInfoManage">
        UPDATE TB_FLOORINFO SET SEAT_CNT = SEAT_CNT - b.CNT
        from TB_FLOORINFO a , (SELECT COUNT(*) CNT , FLOOR_SEQ 
						       FROM TB_SEATINFO
						       WHERE SEAT_ID IN 
					           <foreach collection="seatList" item="item"  open="(" separator="," close=")">
						            #{item}
						       </foreach>
						       GROUP  by FLOOR_SEQ) b
        WHERE a.FLOOR_SEQ = b.FLOOR_SEQ;
        
        DELETE FROM TB_SEATINFO WHERE SEAT_ID IN
        <foreach collection="seatList" item="item"  open="(" separator="," close=")">
            #{item}
        </foreach>
        ;
       
    </delete>
</mapper>