<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohoki.backoffice.sym.space.mapper.QrcodeInfoManageMapper">
   <select id="selectQrCodeList" resultType="lmap">
        SELECT TB.* 
		FROM (
				SELECT  SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
				        ROW_NUMBER() OVER (ORDER BY A.DEVICE_ID DESC) AS RNUM, 
						A.DEVICE_ID, A.DEVICE_NM, A.DEVICE_IP, A.DEVICE_MAC, A.DEVICE_URL,
						A.DEVICE_OS, A.DEVICE_STARTTIME, A.DEVICE_ENDTIME, A.DEVICE_REMARK, A.DEVICE_ENDCONNTIME,
						B.CENTER_NM, dbo.FN_MEETINGNM(A.MEETING_ID) as MEETING_NAME,
						<![CDATA[ 
							CASE 
								WHEN DATEADD(minute, 3, A.DEVICE_ENDCONNTIME) >= GETDATE() THEN 'ON'
								ELSE 'OFF'
							END AS net_status,
					  ]]>
					  A.DEVICE_STATUS, A.USE_YN, 
					  FORMAT(A.UPDATE_DATE,'yyyy-MM-dd HH:mm:ss') UPDATE_DATE,
					  C.FLOOR_NAME, A.UPDATE_ID
				FROM TB_DEVICEINFO A, TB_CENTERINFO B, TB_FLOORINFO C
				WHERE A.CENTER_ID = B.CENTER_ID
				      AND A.FLOOR_SEQ = C.FLOOR_SEQ
				<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
					<choose>
						<when test="params.searchKeyword == 'deviceNm'">
							AND A.DEVICE_NM LIKE CONCAT('%',#{params.searchKeyword},'%')
						</when>
						<when test="params.searchKeyword == 'deviceId'">
							AND A.DEVICE_ID = #{params.searchKeyword}
						</when>
						<otherwise>
							AND A.DEVICE_NM LIKE CONCAT('%',#{params.searchKeyword},'%')
						</otherwise>
					</choose>
				</if>
			   )TB
	    WHERE RNUM  BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}  
		ORDER BY TB.DEVICE_ID DESC 
   </select>
   
   <select id="selectQrCodeDetail">
        SELECT ITME_ID, QR_GUBUN, QR_CODE, QR_PATH, QR_FULL_PATH
        FROM TB_QRCODE
        WHERE ITME_ID = #{itemId}
   </select>
   <insert id="insertQrcodeManage">
       <selectKey resultType="int"  keyProperty="cnt" order="BEFORE">
              SELECT ISNULL(COUNT(ITME_ID),0)  as cnt
              FROM TB_QRCODE 
              WHERE ITME_ID = #{itemId}
       </selectKey>
       <choose>
          <when test="cnt == 0">
              INSERT INTO TB_QRCODE(ITME_ID, QR_GUBUN, QR_CODE, QR_PATH, QR_FULL_PATH)
              VALUES(#{itemId}, #{qrGubun}, #{qrCode}, #{qrPath} , #{qrFullPath})
          </when>
          <otherwise>
              UPDATE TB_QRCODE SET QR_GUBUN = #{qrGubun},
                                   QR_CODE = #{qrCode},
                                   QR_PATH = #{qrPath},
                                   QR_FULL_PATH = #{qrFullPath}
              WHERE ITME_ID = #{itemId}
          </otherwise>
       </choose>
       ;
       <choose>
          <when test="qrGubun == 'ITEM_GUBUN_2'">
              UPDATE TB_SEATINFO set QR_UPDATE_DATE = getdate() where SEAT_ID = #{itemId};
          </when>
          <otherwise>
              UPDATE TB_MEETING_ROOM set QR_UPDATE_DATE = getdate() where MEETING_ID = #{itemId};
          </otherwise>
       </choose>
   </insert>
   <update id="updateQrcodeManage">
        UPDATE TB_QRCODE SET QR_GUBUN = #{qrGubun},
                                   QR_CODE = #{qrCode},
                                   QR_PATH = #{qrPath},
                                   QR_FULL_PATH = #{qrFullPath}
        WHERE ITME_ID = #{itemId}
        <choose>
          <when test="qrGubun == 'ITEM_GUBUN_2'">
              UPDATE TB_SEATINFO set QR_UPDATE_DATE = getdate() where SEAT_ID = #{itemId};
          </when>
          <otherwise>
              UPDATE TB_MEETING_ROOM set QR_UPDATE_DATE = getdate() where MEETING_ID = #{itemId};
          </otherwise>
       </choose>
   </update>

</mapper>