<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohoki.backoffice.cus.ten.mapper.TennantInfoManageMapper">

    <select id="selectTennantInfoManageListByPagination"  resultType="lmap">
		SELECT TB.* FROM (
					    SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
					           ROW_NUMBER() OVER (ORDER BY a.TENN_SEQ DESC) AS RNUM, 
					           a.TENN_SEQ, b.COM_NAME, TENN_REC_DATE, TENN_REC_COUNT, TENN_REC_PLAY_CNT,
						       TENN_REC_NOW_CNT, TENN_REC_END, TENN_REMARK,  	
						       FORMAT(a.UPDATE_DATE,'yyyy-MM-dd HH:mm:ss') USER_UPDATE, UPDATE_ID
						FROM  TB_COMPAY_TENNANT a, TB_COMPANYINFO b
					    WHERE a.COM_CODE = b.COM_CODE       
					          <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
							    AND b.COM_NAME LIKE CONCAT('%',#{params.searchKeyword},'%') 
							  </if>
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.comCode)">
							    AND a.COM_CODE =  #{params.comCode}
							  </if>	
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.tennRecEnd)">
							    AND a.TENN_REC_END =  #{params.tennRecEnd}
							  </if>	
	        ) TB  
	        WHERE RNUM  BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}   
	        <choose>
	           <when test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.tennRecEnd)">
	              ORDER BY TB.TENN_SEQ  ASC
	           </when>
	           <otherwise>
	              ORDER BY TB.TENN_SEQ  DESC
	           </otherwise>
	        </choose>
	        		 	    
    </select>
    
    <select id="selectTennantSubInfoManageListByPagination"  resultType="lmap">
		SELECT TB.* FROM (
					    SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT,
					           ROW_NUMBER() OVER (ORDER BY a.HIS_SEQ DESC) AS RNUM, 
					           a.HIS_SEQ, a.TENN_SEQ, a.COM_CODE, a.USER_NO, a.REG_ID, a.TENN_CNT, a.TENN_PLAY_GUBUN,
					           a.TENN_APPRIVAL, b.CODE_NM, d.COM_NAME,
					           CASE  WHEN a.USER_NO IS NOT NULL THEN 
								    ( SELECT USER_NAME  FROM tb_userinfo WHERE USER_NO = a.USER_NO )
							   ELSE 
								    '관리자'
							   END USER_NAME ,
							   CASE c.ITEM_GUBUN WHEN 'ITEM_GUBUN_1' THEN '회의실 사용'
							        ELSE '좌석 사용'
							   END AS ITEM_GUBUN, c.RES_TITLE,
							   CASE c.ITEM_GUBUN WHEN 'ITEM_GUBUN_1' THEN 
							        (SELECT MEETING_NAME FROM tb_meeting_room WHERE tb_meeting_room.MEETING_ID = c.ITEM_ID)
							        ELSE 
							        (SELECT SEAT_NAME FROM tb_seatinfo WHERE tb_seatinfo.SEAT_ID = c.ITEM_ID)
							   END AS ITEM_NAME, 
							   FORMAT(a.UPDATE_DATE,'yyyy-MM-dd HH:mm:ss') REG_DATE
					    FROM  TB_COMPAY_TENNANT_HISTORY a, LETTCCMMNDETAILCODE b, 
					          TB_SWCRESERVATION c, TB_COMPANYINFO d
					    WHERE a.TENN_PLAY_GUBUN = b.CODE       
					          AND a.RES_SEQ = c.RES_SEQ 
					          AND a.COM_CODE = d.COM_CODE
					          <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
							      AND a.COM_NAME LIKE CONCAT('%',#{params.searchKeyword},'%') 
							  </if>	
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchComCode)">
							      AND a.COM_CODE =  #{params.searchComCode}
							  </if>	
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchCenter)">
							      AND c.CENTER_ID = #{params.searchCenter}
							  </if>
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchFloorSeq)">
							      AND c.FLOOR_SEQ = #{params.searchFloorSeq}
							  </if>
	        ) TB  
	        <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.mode)">
	        WHERE RNUM  BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}   
	        </if>  
	        ORDER BY TB.HIS_SEQ  DESC
	       		 	    
    </select>
    
    <select id="selectTennantInfoManageCombo" resultType="lmap">
	       SELECT  a.TENN_SEQ , a.TENN_REC_NOW_CNT 
	       FROM TB_COMPAY_TENNANT a
	       WHERE a.COM_CODE =  #{comCode}
	       ORDER BY  a.TENN_SEQ ASC
    </select>
    <select id="selectTennantInfoManageDetail"  resultType="lmap">
           SELECT  a.HIS_SEQ, a.TENN_SEQ, a.COM_CODE, a.USER_NO, a.REG_ID, a.REG_DATE
                   a.TENN_CNT, a.TENN_PLAY_GUBUN, a.TENN_APPRIVAL, b.CODE_NM
		   FROM TB_COMPAY_TENNANT_HISTORY a,  LETTCCMMNDETAILCODE b
		   WHERE a.TENN_PLAY_GUBUN = b.CODE  
		          AND TENN_SEQ = #{comCode}
    </select>
    <select id="selectTennantHistorylInfoManageDetail"  resultType="lmap">
           SELECT  TENN_SEQ, COM_CODE, TENN_REC_DATE, TENN_REC_COUNT, TENN_REC_PLAY_CNT, 
			       TENN_REC_NOW_CNT, TENN_REC_END, TENN_REMARK, REG_ID, REG_DATE, UPDATE_ID, UPDATE_DATE
		   FROM TB_COMPAY_TENNANT a
		   WHERE TENN_SEQ = #{comCode}
    </select>
    <insert id="insertTennantInfoManage">
         
         <selectKey resultType="int"  keyProperty="tennSeq" order="BEFORE">
               SELECT ISNULL(MAX(TENN_SEQ) + 1,1)  as tennSeq
               FROM TB_COMPAY_TENNANT 
	     </selectKey>               
         INSERT INTO TB_COMPAY_TENNANT(COM_CODE, TENN_REC_DATE, TENN_REC_COUNT, TENN_REC_PLAY_CNT, 
									   TENN_REC_NOW_CNT, TENN_REC_END, TENN_REMARK,
									   REG_ID, REG_DATE, UPDATE_ID, UPDATE_DATE)
         VALUES (#{comCode}, #{tennRecDate}, #{tennRecCount,jdbcType=VARCHAR}, 0, 
                 #{tennRecCount,jdbcType=VARCHAR},  #{tennRecEnd,jdbcType=VARCHAR}, #{tennRemark,jdbcType=VARCHAR}, 
                 #{userId,jdbcType=VARCHAR}, getdate(), #{userId,jdbcType=VARCHAR}, getdate());
                 
         INSERT INTO   TB_COMPAY_TENNANT_HISTORY (COM_CODE, TENN_SEQ,  REG_ID, REG_DATE, TENN_CNT, TENN_PLAY_GUBUN, TENN_APPRIVAL)
         VALUES (#{comCode}, ${tennSeq}, #{userId,jdbcType=VARCHAR}, getdate(),  #{tennRecCount,jdbcType=VARCHAR}, 'TENN_PLAY_GUBUN_1', 'Y')
    </insert>
    <insert id="insertTennantInfoManages" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";" close=";">
           INSERT INTO TB_COMPAY_TENNANT(COM_CODE, TENN_REC_DATE, TENN_REC_COUNT, TENN_REC_PLAY_CNT, 
									   TENN_REC_NOW_CNT, TENN_REC_END, TENN_REMARK,
									   REG_ID, REG_DATE, UPDATE_ID, UPDATE_DATE)
           VALUES (#{item.comCode}, #{item.tennRecDate}, #{item.tennRecCount,jdbcType=VARCHAR}, 0, 
                   #{item.tennRecCount,jdbcType=VARCHAR},  'Y', #{item.tennRemark,jdbcType=VARCHAR}, 
                   #{item.userId,jdbcType=VARCHAR}, getdate(),  #{item.userId,jdbcType=VARCHAR},   getdate()
                   );
                                    
           INSERT INTO   TB_COMPAY_TENNANT_HISTORY (COM_CODE, REG_ID, REG_DATE, TENN_CNT, TENN_PLAY_GUBUN, TENN_APPRIVAL,TENN_SEQ)
           VALUES (#{item.comCode}, #{item.userId,jdbcType=VARCHAR}, getdate(),  #{item.tennRecCount,jdbcType=VARCHAR}, 'TENN_PLAY_GUBUN_1', 'Y',
                   (SELECT ISNULL(MAX(TENN_SEQ),1) FROM tb_compay_tennant WHERE COM_CODE = #{item.comCode} )
                   )
	    </foreach>    
    </insert> 
    
    
    
		
		
    <update id="updateTennantInfoManage" >
           UPDATE  TB_COMPAY_TENNANT SET COM_CODE = #{comCode} 
		                                , TENN_REC_DATE = #{tennRecDate,jdbcType=VARCHAR} 
		                                , TENN_REC_COUNT = #{tennRecCount,jdbcType=VARCHAR}
		                                , TENN_REC_PLAY_CNT = #{tennRecPlayCnt,jdbcType=VARCHAR}
		                                , TENN_REC_NOW_CNT = #{tennRecNowCnt,jdbcType=VARCHAR}
		                                , TENN_REC_END = #{tennRecEnd,jdbcType=VARCHAR} 
		                                , TENN_REMARK = #{tennRemark,jdbcType=VARCHAR} 
		                                , UPDATE_DATE = getdate()
		                                , UPDATE_ID = #{userId,jdbcType=VARCHAR}
	      WHERE TENN_SEQ = #{tennSeq}           
    </update> 
    <update id="updatePlayTennantInfoManage" >
           UPDATE  TB_COMPAY_TENNANT SET TENN_REC_PLAY_CNT = TENN_REC_PLAY_CNT + #{tenn.tennCnt,jdbcType=VARCHAR}
		                                 , TENN_REC_NOW_CNT = TENN_REC_NOW_CNT - #{tenn.tennCnt,jdbcType=VARCHAR}
		                                 , UPDATE_DATE = getdate()
		                                 , UPDATE_ID = #{tenn.userId,jdbcType=VARCHAR}
	       WHERE TENN_SEQ = #{tenn.tennSeq}   ;
	       INSERT INTO TB_COMPAY_TENNANT_HISTORY (TENN_SEQ, COM_CODE, USER_NO, REG_DATE, TENN_CNT, TENN_PLAY_GUBUN, TENN_APPRIVAL, RES_SEQ)   
	       VALUE (#{tenn.tennSeq}, #{tenn.comCode} , #{tenn.userId,jdbcType=VARCHAR}, getdate(), #{tenn.tennCnt}, 'TENN_PLAY_GUBUN_2', 'Y', #{tenn.resSeq});
	         
    </update> 
    <update id="updateRetireTennantInfoManage" >
         <selectKey resultType="int"  keyProperty="cnt" order="BEFORE">
	            SELECT  DATEDIFF (MINUTE  , getdate(), 
		                         DATEADD(minute,  -(SELECT TENN_RETRIEVE FROM TB_SWCINFO),  convert(datetime, concat(RES_STARTDAY,' ', dbo.fn_TimeSplit(RES_STARTTIME), ':00')) )
							  ) as cnt
				FROM TB_SWCRESERVATION
				WHERE RES_SEQ = #{tenn.resSeq}
	    </selectKey>     
       	<if test='cnt > 0'>
			    INSERT INTO TB_COMPAY_TENNANT_HISTORY
				(TENN_SEQ, COM_CODE, USER_NO, REG_DATE, TENN_CNT, TENN_PLAY_GUBUN, TENN_APPRIVAL, RES_SEQ)
				SELECT TENN_SEQ, COM_CODE, USER_NO, REG_DATE, TENN_CNT, 'TENN_PLAY_GUBUN_3', TENN_APPRIVAL, RES_SEQ
				FROM TB_COMPAY_TENNANT_HISTORY WHERE RES_SEQ =  #{tenn.resSeq};
				
				UPDATE TB_COMPAY_TENNANT
				SET a.TENN_REC_PLAY_CNT = a.TENN_REC_PLAY_CNT - b.TENN_CNT
				    , a.TENN_REC_NOW_CNT = a.TENN_REC_NOW_CNT + b.TENN_CNT
				    , UPDATE_DATE = getdate()
					, UPDATE_ID = #{tenn.updateId,jdbcType=VARCHAR}
				from TB_COMPAY_TENNANT a, TB_COMPAY_TENNANT_HISTORY b
				WHERE a.COM_CODE  = b.COM_CODE
				      AND a.TENN_SEQ  = b.TENN_SEQ
				      AND b.TENN_PLAY_GUBUN = 'TENN_PLAY_GUBUN_2'
				      AND b.RES_SEQ =  #{tenn.resSeq};
		</if>    
    </update>


     
</mapper>