<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohoki.backoffice.sym.avaya.mapper.AvayMessageManageMapper">
	
    <select id="selectAvayaInfoManageListByPagination"  resultType="AvayaMessageInfoVO">
		
		 
	SELECT TA.* FROM ( 
		 	SELECT  SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, TB.* FROM (
				    SELECT  REQUESTID, REQ_MESSAGE, REQ_MESSAGE_TXT, RES_MESSAGE, RES_MESSAGE_TXT,
		                        REQ_REGDATE		        
				    FROM    tb_avayasendmessage
				    WHERE 1=1		        
				        <if test="searchKeyword != ''">
				             AND DATE_FORMAT(REQ_REGDATE, '%Y%m%d) BETWEEN  #{searchStrDay} AND #{searchEndDay} 
						</if>		        		     
		             ORDER BY REQUESTID  DESC
	           ) TB 
	        ) TA
	        ORDER BY TA.REQUESTID  DESC
	       LIMIT   #{firstIndex},   #{recordCountPerPage}  	 
	        		 	    
     </select>
    
    
     <select id="selectRequestId" resultType="java.lang.String">
        select fn_AvayaReqID()
     </select>
    
     <select id="selectAvayaInfoManageDetail"  resultType="AvayaMessageInfoVO">
           SELECT  REQUESTID, REQ_MESSAGE, REQ_MESSAGE_TXT, RES_MESSAGE, RES_MESSAGE_TXT,
                       REQ_REGDATE
		    FROM tb_avayasendmessage
		    WHERE REQUESTID = #{requestid}		  
    </select>
     
    
    <select id="selectAvayaMessageManageListTotCnt_S"  resultType="java.lang.Integer">        
       SELECT IFNULL(COUNT(*),0) 
       FROM    tb_avayasendmessage
	   WHERE 1=1		        
		        <if test="searchKeyword != ''">
		            AND DATE_FORMAT(REQ_REGDATE, '%Y%m%d) BETWEEN  #{searchStrDay} AND #{searchEndDay} 
					
				</if>	  
    </select>
    <insert id="insertAvayaInfoInsertManage" >
        <![CDATA[
             INSERT INTO tb_avayasendmessage (REQUESTID, REQ_MESSAGE, REQ_MESSAGE_TXT, RES_MESSAGE, RES_MESSAGE_TXT)
             VALUES (fn_AvayaReqID(), #{reqMessage},    #{reqMessageTxt}, #{resMessage,jdbcType=VARCHAR},  #{resMessageTxt,jdbcType=VARCHAR}
             )
         ]]>
    </insert>
    <insert id="insertAvayaInfoInsertManageList" >
       <foreach collection="list" item="item" separator=";">
        <![CDATA[
             INSERT INTO tb_avayasendmessage (REQUESTID, REQ_MESSAGE, REQ_MESSAGE_TXT, RES_MESSAGE, RES_MESSAGE_TXT)
             VALUES (fn_AvayaReqID(), #{reqMessage},    #{reqMessageTxt}, #{resMessage,jdbcType=VARCHAR},  #{resMessageTxt,jdbcType=VARCHAR}
             )
         ]]>
        </foreach>
    </insert>
    <delete id="deleteAvayaInfoManage">
       DELETE FROM tb_avayasendmessage
       WHERE REQUESTID = #{requestid}
    </delete>
</mapper>