<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohoki.backoffice.sym.cnt.mapper.FloorPartInfoManageMapper">
     <select id="selectFloorPartInfoManageListByPagination"  resultType="lmap">
		SELECT TB.* , SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT
	    FROM (
					    SELECT ROW_NUMBER() OVER (ORDER BY c.PART_SEQ DESC) AS RNUM, 
					           c.PART_SEQ, c.PART_NAME, b.FLOOR_SEQ, b.FLOOR_INFO, b.FLOOR_NAME,
					           a.CENTER_ID,  a.CENTER_NM  ,
						       CASE  WHEN  length(PART_MAP1) > 0 THEN 
				  	               PART_MAP1
							   ELSE 
						          'no_image.gif'
						       END PART_MAP1, 
						       b.FLOOR_PART,  c.UPDATE_ID,     	
						       DATE_FORMAT(c.UPDATE_DATE,'%Y-%m-%d %H:%i:%s') UPDATE_DATE,
				               c.PART_SEATRULE, c.PART_MINI_CSS, c.PART_MINI_TOP, c.PART_MINI_LEFT, 
			 	               c.PART_USEYN, c.PART_ORDER, c.PART_CSS
					    FROM  TB_CENTERINFO a, TB_FLOORINFO b, TB_FLOORPART c
					    WHERE a.CENTER_ID = b.CENTER_ID       
					          AND b.FLOOR_SEQ = c.FLOOR_SEQ
					          <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
							      AND (    b.FLOOR_NAME LIKE CONCAT('%',#{params.searchKeyword},'%')  OR a.CENTER_NM LIKE CONCAT('%',#{params.searchKeyword},'%')  )
							  </if>
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.floorSeq)">
							      AND b.FLOOR_SEQ = #{params.floorSeq}
							  </if>	
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.centerId)">
							      AND b.CENTER_ID = #{params.centerId}
							  </if>	
							  <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.partUseyn)">
							      AND c.PART_USEYN = #{params.partUseyn}
							  </if>		
	        ) TB  
	    WHERE RNUM  BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage} 
        ORDER BY TB.PART_ORDER asc ,  TB.PART_SEQ  DESC
    </select>
    <select id="selectFloorPartInfoManageCombo" resultType="lmap">
	       SELECT  PART_SEQ , PART_NAME 
	       FROM TB_FLOORPART
	       WHERE PART_USEYN = 'Y'
	             <if test="centerId != '' ">  
	             AND CENTER_ID = #{centerId}
	             </if>
	             <if test="floorSeq != '' ">  
	             AND FLOOR_SEQ = #{floorSeq}
	             </if>
	       ORDER BY  PART_SEQ  ASC
    </select>
    <select id="selectFloorPartInfoManageDetail"  resultType="lmap">
           SELECT  a.CENTER_ID, a.FLOOR_SEQ, a.PART_MAP1, a.PART_MAP2, a.PART_CSS, a.PART_NAME,
				   a.PART_SEATRULE, a.PART_MINI_CSS, a.PART_MINI_TOP, a.PART_MINI_LEFT, 
			 	   a.PART_USEYN, a.PART_ORDER,
				   a.REG_DATE, a.REG_ID, a.UPDATE_DATE, a.UPDATE_ID, b.FLOOR_NAME
		    FROM TB_FLOORPART a, TB_FLOORINFO b
		    WHERE PART_SEQ = #{partSeq}  
		          AND a.FLOOR_SEQ = b.FLOOR_SEQ	  
    </select>
    <insert id="insertFloorPrartInfoManage" >
         INSERT INTO TB_FLOORPART(CENTER_ID, FLOOR_SEQ, PART_MAP1, PART_MAP2, PART_CSS, PART_NAME,
								  PART_SEATRULE, PART_MINI_CSS, PART_MINI_TOP, PART_MINI_LEFT, 
								  PART_USEYN, PART_ORDER,
								  REG_DATE, REG_ID, UPDATE_DATE, UPDATE_ID)
         VALUES (#{centerId}, #{floorSeq}, #{partMap1,jdbcType=VARCHAR}, #{partMap2,jdbcType=VARCHAR}, #{partCss,jdbcType=VARCHAR}, #{partName,jdbcType=VARCHAR}, 
                 #{partSeatrule,jdbcType=VARCHAR},#{partMiniCss,jdbcType=VARCHAR},  #{partMiniTop,jdbcType=VARCHAR}, #{partMiniLeft,jdbcType=VARCHAR},
                 #{partUseyn,jdbcType=VARCHAR}, #{partOrder,jdbcType=VARCHAR},
                 GETDATE(), #{userId,jdbcType=VARCHAR},  GETDATE(), #{userId,jdbcType=VARCHAR})
                
    </insert>
    <update id="updateFloorPrartInfoManage" >
         UPDATE  TB_FLOORPART SET CENTER_ID = #{centerId} 
	                              , FLOOR_SEQ = #{floorSeq, jdbcType=VARCHAR} 
	                              , PART_CSS = #{partCss,jdbcType=VARCHAR}
	                              , PART_NAME = #{partName,jdbcType=VARCHAR}
	                              , PART_SEATRULE = #{partSeatrule,jdbcType=VARCHAR} 
	                              , PART_MINI_CSS = #{partMiniCss,jdbcType=VARCHAR} 
	                              , PART_MINI_TOP = #{partMiniTop,jdbcType=VARCHAR} 
	                              , PART_MINI_LEFT = #{partMiniLeft,jdbcType=VARCHAR} 
	                              , PART_USEYN = #{partUseyn,jdbcType=VARCHAR} 
	                              , PART_ORDER = #{partOrder,jdbcType=VARCHAR} 
                                  <if test="partMap1 != '' ">                                    
                                    , PART_MAP1 = #{partMap1,jdbcType=VARCHAR}
                                  </if>
                                  <if test="partMap2 !=  '' ">                     
                                    , FLOOR_MAP2 = #{partMap2,jdbcType=VARCHAR}
                                  </if>      
	                              , UPDATE_DATE = GETDATE()
	                              , UPDATE_ID = #{userId,jdbcType=VARCHAR}
	     WHERE PART_SEQ = #{partSeq}           
    </update> 

</mapper>