.nav li a:hover, .dropdown:hover .dropbtn {
  color: #0072c5;
}
.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 145px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: absolute;
}
.dropdown-content a {
  color: black;
  padding: 12px 0;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px !important;
  text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.nav li {float: left;width: 145px;text-align: center; padding-left: 0 !important;}