/*setting*/
html,body{background: #f4f4f4;}
a{cursor: pointer;}
.clear { clear: both; }
.float_right { float: right; }
.float_left { float: left; }
.margin_top10{ margin-top:10px; }
.margin_top20 { margin-top: 20px }
.margin_top30 { margin-top: 30px; }
.padding_left15 {padding-left: 15px}
.padding_right15 {padding-right: 15px}
.margin_left15 { margin-left: 10px }
.margin_left5{margin-left: 5px;}
.w150 { width: 150px }
.w200 { width: 200px }
.w300{ width: 300px }
.w87 { width:87%; }
.w100 { width:100%; }
/* radio 
input[type="radio"] { 
	position:relative; 
	opacity:1; 
	width:20px; 
	height:20px; 
	cursor:pointer; 
	background: #fff; 
	border:1px solid #fff;
	vertical-align: sub;
 }*/
/* checkbox 
input[type="checkbox"] { vertical-align: middle;position:relative; opacity:1; width:20px; height:20px; cursor:pointer; appearance:none; -webkit-appearance:none; -moz-appearance:none; border:1px solid #d4d4d4; background:#fff; outline:0; }
input[type="checkbox"]:checked { border:0; background-image:url("../img/bg_checkbox_checked.png"); -webkit-transition: .2s ease-out; transition: .2s ease-out; }*/
/* ie */

input[type="text"], input[type=password], select, textarea, input[type="number"] {
	height: 32px; 
	box-sizing: border-box;
	padding-left: 8px; 
	border:1px solid #ccc;
	vertical-align: middle;
	font-size: 14px;
}
/*BUTTON*/
.defaultBtn::-moz-focus-inner { padding:0; border:0; }
.defaultBtn { 
	display: inline-block;
	min-width:50px;  
	padding:7px 20px; 
	color:#868686; 
	border:1px solid #ccc; 
	background-color:#fff; 
	border-radius: 2px;
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	vertical-align:middle;
	margin-right:10px;
	float:right;
}
.blueBtn { 
	display: inline-block;
	min-width:50px;  
	padding:7px 20px; 
	color:#999b9e; 
	border:1px solid #dedede; 
	background-color:#fff; 
	border-radius: 2px;
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	vertical-align:middle;
	margin-right:10px;
	float:right;
	cursor: pointer;
}
.blueBtn:hover {color:#747474;  background: #d2d2d2;border:1px solid #747474;}
.redBtn{
	display: inline-block;
	min-width:50px;
	padding:7px 20px;
	color:#d43636;
	border: 1px solid #efb4b4;
	background-color:#fff;
	border-radius: 2px;
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	vertical-align:middle;
	}
.redBtn:hover { background-color: #ffe6e6; border:1px solid #d43636; }
.grayBtn{
	display: inline-block;
	min-width:50px;  
	padding:7px 20px; 
	color:#fff; 
	border:1px solid #4a4a4a; 
	background-color:#545454; 
	border-radius: 2px;
	font-size: 14px;
	text-align: center;
	font-weight: 400;}
.grayBtn:hover { background-color: #333; border:1px solid #333; }
/*PAGE NUMBER*/
.page_num { text-align: center; margin-top: 20px;}
.page_num a { 
	display: inline-block;
    width: 22px;
    line-height: 26px;
    height: 22px;
    text-align: center;
    color: #ccc;
    border: 1px solid #dedede;
    font-size: 12px;
    vertical-align: middle;
    margin: 0 2px;
    line-height: 23px;
}
.page_num a.active{ background: #5a5a5a; border:1px solid #5a5a5a; color: white;}
.page_num a.left {background: url("../img/left_icon.png") center no-repeat;  }
.page_num a.right {background: url("../img/right_icon.png") center no-repeat;  }

/*TABLE_STYLE*/
/*#resultList tr:hover{background:#f9f9f9;}*/
.sel_tab{ border-top: 2px solid #909397; width: 100% ;}
.sel_tab td, .sel_tab th { color:#afafaf; padding: 4px 16px ; border-bottom: 1px solid #d6d6d7; border-right: 1px solid #f2f2f2;}
.sel_tab tr td:last-child, .sel_tab tr th:last-child { border-right: none; }
.search_tab {font-size: 14px;margin-bottom:20px;}
.search_tab th{text-align: left;font-weight:400;padding:0 20px 0 20px}
.search_tab th:first-child{padding:0 20px 0 0;}
.total_tab {width: 100%; font-size: 14px;box-sizing: border-box;padding:0 10px;}
.total_tab td, .total_tab th{text-align: center; position:relative; }
.total_tab th{border-bottom: 1px solid #dce1e5; font-weight: 400;padding:14px 0;}
.total_tab td{padding:12px 0;color: #636363;}
/*.total_tab tr{cursor: pointer;}*/



.content{width: 100%;overflow:hidden;}
.title {font-size: 18px;font-weight: 400; width: 98%;margin:30px auto;}
.box_x2 {
	width: 50%;
	float: left;
}
.con_tit {font-size: 18px; color:#616161; margin-bottom: 10px;  }
.list_rad li{ padding: 12px 0; border-bottom: 1px solid #e7e7e7;  }
.list_rad li:last-child { border:none; }
.list_rad li span {padding-left: 10px; font-weight: 500;}
.list_rad li span em{ font-weight: 200; color: #afafaf }
.admin_tab tr td:first-child {text-align: center; width: 15%;}
.border_box { border:1px solid #eaeaea; padding: 30px ; margin-bottom: 25px;}
.box_shadow {margin-bottom: 25px;}
.gLabel{ margin-right: 8px; }
.btn_bot {float:right; text-align: center; margin-top: 20px;}
.btn_bot input{float: left;}
.btn_bot a { 
	margin-right: 10px;vertical-align:top;float: left;
}
.btn_botTop a{margin:5px 5px;}
.btn_top {float: right; margin-bottom: 15px;}

.btn_top select{ height: 32px;vertical-align: top }
.click { cursor: pointer; }
/*20191023*/
.sub_textarea{width: 100%; height: 100px; padding: 8px;}
.errorBox{border: 1px solid #d60000 !important; }
.errorText{color:#d60000;}
.vertical_top{vertical-align: top;}

.login{   
	background-color: #fff;
    width: 500px;
    margin: 10% auto;
    padding: 20px 20px;
}
.login .content{margin:0 auto; /*padding-top: 220px; */width:100%;/* width: 500px; */}
.login h1{text-align: center;}
.login img{margin:12px 0 12px 0;}
.login .box_shadow{border-top: 1px solid #e2e2e2;}
.login p{    
	margin: 20px 0 10px 0;
    color: #737373;
    font-size: 14px;
}
.login input[type=text],.login input[type=password]{width: 100%; height: 50px; padding: 10px; margin-bottom: 5px;}
.login button{text-align: center;height: 50px;width: 100%;background-color: #424242;border: none;color: white;font-weight: 500;margin-top: 20px;padding: 10px;}
.ui-datepicker select.ui-datepicker-month{height: auto; border: 1px solid #b9b9b9;}
.half{width: 600px;}


/*20200226*/
table a{color: #5a5a5a;}
#floor_desc{height: 80px;}
/*mapArea*/
.mapArea{width: 1245px;height: 965px;background-size: contain !important;}
.map_box_sizing {width:1170px;position:relative;width: 1200px;height: 852px;border:1px solid #e2e1e1;border-radius:5px;overflow-x:scroll;}
.mapArea section{cursor:pointer; box-shadow: 3px 3px 6px 1px #292929; position:absolute; box-sizing:border-box; font-size:30px; background-color:rgba(0,0,0,0.65); border-radius:3px; text-align:center; font-weight:500; color:white;}
.mapArea section span{font-size:60px; display:block;}
.mapArea ul li{width: 32px;height: 32px;position: absolute;box-sizing: border-box;cursor: pointer;letter-spacing: -0.5px;font-size: 14px;font-weight: 500;text-align: center;line-height: 30px;border-radius: 3px;}
.mapArea ul li.onSeat{border: 2px solid #929292; background-color: #929292; color: white;}
.mapArea ul li.seat{background-color: #ffffff;color: #464646;border: 2px solid #006ecd;}
.mapArea ul li.select{border: 2px solid #eb6d2c; background-color: #eb6d2c; color: white;}
.mapArea ul li.info{border: 2px solid #98b8d1 !important;  background-color: #98b8d1 !important; color: white;}
.back_map{padding-top:20px;overflow:initial !important;}
.back_map .mapArea{margin:0 auto;float: none;padding: 25px;box-sizing: border-box;}
.back_map .gui_text{height: auto;overflow: hidden;/*overflow-y: scroll; margin-bottom: 10px; */max-height: 698px;width: 375px;background: #fff;border-radius:5px;box-shadow:1px 5px 5px rgba(0,0,0,0.2);}
.back_map .page{height: auto;overflow: inherit;/*overflow-x: scroll; width: 1170px;height: 804px;*/border:1px solid #eaeaea;margin-left:18px;border-radius:5px;box-shadow:1px 5px 5px rgba(0,0,0,0.2);}
#resultList tr{cursor: auto;}
.meeting_map_area{height:1000px !important;}
/*20200309*/
.w1000{ width:1000px;}
.left24 {margin-left:24px;}
.w570 {width:570px;}
#resultList input[type="text"] { width:55px; height:30px; margin:0 8px; padding-left:0; text-align:center;}
.up {display:block;width:15px;height:15px;background: url("/img/up_icon02.png")center no-repeat;position:absolute;right: 102px;top: 12px;}
.down {display:block;width:15px;height:15px;background:url("/img/down_icon02.png")center no-repeat;position:absolute;left: 102px;top: 12px;}
.leftB {display:block;width:15px;height:15px;background:url("/img/left_icon02.png")center no-repeat;position:absolute;left:14px;top: 11px;}
.rightB {display:block;width:15px;height:15px;background:url("/img/right_icon02.png")center no-repeat;position:absolute;top: 11px;right: 14px;}
.gui_table th:nth-child(5), .gui_table th:nth-child(6){ min-width:110px;}

table tr.select{border: 2px solid #acb1d2; background-color: #acb1d2;}

/*2020.04.07*/
.txt_con{padding:20px 20px 10px 20px;box-sizing: border-box;overflow:hidden;}
.txt_con p{float:left;display:block;color:#3d4c53;font-size:18px;font-weight:400;}
.txt_con .defaultBtn{color:#5f95b8;margin-right:0;}
.defaultBtn:hover{background: #f8fdff;border:1px solid #5f95b8;}
/*.txt_con .defaultBtn{margin-left:10px;}*/
.gui_table{color:#767676; margin-top: 20px;}
.white_bg{background: #fff;box-shadow: 5px 2px 5px rgba(0,0,0,0.2);overflow:hidden;}
.custom_bg{border:1px solid #e2e2e2;width:98%;margin:18px;border-radius:2px;padding:0 0 18px;box-shadow: 1px 2px 5px rgba(0,0,0,0.04);background: #fff;}
#resultList tr:nth-child(2n){background: #f9fdff;}
.btn_top>p{float:left;display:block;padding:3px 0;margin-right:14px;font-size:16px;font-weight:300;color:#3d4c53;}
.custom_bg02{margin:18px;padding:10px;background: #fff;border-radius:2px;border:1px solid #e2e1e1;box-shadow: 0 2px 5px rgba(0,0,0,0.04);}
.custom_bg02 .search_tab input{margin:10px 0;}
.custom_bg03{width: 600px;overflow:hidden;}
.custom_bg03 .btn_bot{text-align:left;}
.custom_bg03 .search_tab{margin-bottom:0;}
.custom_bg04{width: 802px;overflow:hidden;}
.lstop{margin:5px 0;}
.add_tab { width:100%; padding: 0 15px; margin-top:10px}
.add_tab td, .add_tab th { border-spacing:0; text-align:left}
.add_tab th{background:#e8eff3;  font-weight:300; padding:5px;}
.add_tab th{border-top:1px solid #fff}
.add_tab td{border-bottom:1px solid #eaeaea; padding: 5px}
.add_tab tr:nth-child(1) th {border-top:1px solid #eaeaea; }
.add_tab tr:nth-child(1) td {border-top:1px solid #eaeaea; }
#seatForm .content{overflow:inherit;}

/* scroll table */
.scroll_table{position: relative; padding-top: 40px; margin-top: 20px;}
.scroll_table table thead tr{
	position: absolute; top: 0; background-color: #fff; z-index: 999;
border-bottom: 1px solid #e6e6e6; width: 94%; box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.04);
}
.scroll_table table thead tr th{border-bottom: none; font-weight: 400;}
.scroll_div{max-height: 607px; overflow: auto;}

.top_option{border-bottom: 1px solid #e8e8e8; width: 98%; margin: 0 auto;}
.top_option input{margin-right: 2px;}
.top_option select{min-width: 120px;}
.btn_top a{float: left;}
.only_tit{margin:30px 0 2px 20px;}

/* popup */
.popup{display:none; position:relative;}
.popup .modalContent{width:700px; height:auto;overflow:hidden;border:1px solid #ccc; position:fixed; left:50%; top:50%;transform: translate(-50%,-50%); z-index:11; background:#f4f4f4;box-shadow: 1px 5px 5px rgba(0,0,0,0.2);border-radius: 5px;}
.popup .txt_con{background: #fff;box-shadow: 1px 2px 2px rgba(0,0,0,0.04);border-bottom: 1px solid #e2e2e2;}
.popup .search_tab{float:initial;width: 100%;overflow: hidden;padding:20px 0 10px !important;margin:0;}
.popup .search_tab input{margin-left:14px;}
.popup .search_tab .blueBtn{margin-left:10px;}
.popup .custom_bg{width:auto;padding:0 14px 18px;height:395px;overflow-y: auto;}
.popup .custom_bg table{width:100%;}
.popup .custom_bg thead th{text-align:center;border-bottom:1px solid #dce1e5;height: 40px;}
.popup .custom_bg tbody td{
	text-align: left;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 0;
    /* font-weight: 300; */
    color: #353535;
}
.popup .custom_bg tbody tr:nth-child(2n) td{background: #f9fdff;}
.popup .modalContent button{
	width: 20px;height: 20px;
	position:absolute;
	cursor:pointer;
	background: url('../img/btn_close.png') no-repeat center center;
	text-indent:-9999px;cursor:pointer;border:none;outline:none;right:18px;top:18px;
}
.modalContent .top_txt{color:#909090;}
.modalContent .search_tab table{margin-bottom: 12px}
.popup .modalContent button{
	width: 20px;height: 20px;
	position:absolute;
	cursor:pointer;
	background: url('../img/btn_close.png') no-repeat center center;
	text-indent:-9999px;cursor:pointer;border:none;outline:none;right:18px;top:18px;
}
/* Detail.jsp */
.detail{margin-bottom: 30px;}
.detail .box_shadow{padding-left: 17px;}
.detail .btn_bot{float: none; margin-top: 30px;}
.detail .custom_bg{padding:10px 20px 20px 20px; width: auto;display: inline-block;}
.detail table th, .detail table td{border-bottom: 1px solid #e8e8e8;}
.detail table td{padding:14px 20px 14px 0;}

.back_map .float_left .custom_bg{width: 374px;height: auto;margin:0 0 18px 0;padding:20px 20px 10px 20px;box-shadow: 1px 2px 5px rgba(0,0,0,0.1);}
.back_map .float_left .txt_con{border-bottom: 1px dashed #ccc; padding:0 0 20px 0;}
.back_map .float_left .custom_bg .btn_bot{margin-top: 0;}
.back_map .float_left .custom_bg .btn_bot a:first-child{margin-right: 10px;}
.back_map .float_left .custom_bg .search_tab{margin-bottom: 0px;padding:20px 0;margin-top: 10px;}
.back_map .gui_text {padding:20px 20px 10px 20px;}
table tr td input.selected{border:2px solid #eb6d2c;}

.userPop table tr{display: inline-block;width: 50%;}
.userPop table tr th{width: 80px;}
.userPop .modalContent, .userPop .custom_bg{height: auto;}

/*20200710*/
.ui-widget.ui-widget-content {padding-top:25px;}
.meeting_map_area ul li{width: 30px !important;height: 30px !important;line-height: 30px;}
.meeting_map_area ul li span{color:#000;line-height: 30px;}
#area_id {width: 230px;}
.w500{width:500px !important;}
.cbp-spmenu .title {background: #32383b;padding: 25px 40px;position: relative;left: 0;top: 0;color: white;margin: 0;width: 100%;}

.cbp-spmenu > a {
    position: absolute;
    right: 40px;
    top: 20px;
    color: white !important;
    z-index: 10;
}
.cbp-spmenu-vertical {
    width: 1645px !important;
}
.cbp-spmenu .gui_text td input {
    width: 65px;
    text-align: center;
}