<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohoki.backoffice.sts.res.mapper.ResInfoManageMapper">
	<select id="selectResManageListByPagination" resultType="lmap">
		SELECT TA.*
		  FROM (SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
		               ROW_NUMBER() OVER (ORDER BY TB.REG_DATE DESC) AS RNUM,
		               TB.* 
		        FROM (SELECT DISTINCT a.RES_SEQ , a.ITEM_ID , a.CENTER_ID, a.RES_GUBUN , dbo.FN_DETAILCODENM(a.RES_GUBUN) resGubunTxt,
		                     a.USER_ID, a.DEPT_ID, 
		                     CONVERT (DATE, a.RES_STARTDAY) resStartday,
		                     CONVERT (DATE, a.RES_ENDDAY) resEndday,
		                     dbo.FN_TIMESPLIT(a.RES_STARTTIME) resStarttime , dbo.FN_TIMESPLIT(dbo.FN_UPSTIMEDOWN(a.RES_ENDTIME)) resEndtime,
		                     FORMAT(a.REG_DATE,'yyyy-MM-dd HH:mm:ss') REG_DATE,
		                     dbo.FN_DETAILCODENM(a.RESERV_PROCESS_GUBUN) AS reservProcessGubunTxt ,
		                     a.RESERVATION_REASON, a.RESERV_PROCESS_GUBUN , a.CANCEL_REASON ,
		                     dbo.FN_DETAILCODENM(a.CANCEL_CODE) cancelCodeTxt ,
		                     CASE a.PROXY_YN WHEN 'P' THEN '승인 요청' 
		                            ELSE '본인'
		                     END proxyYnTxt, a.PROXY_YN, 
		                     a.PROXY_USER_ID , CONVERT(VARCHAR(10),a.UPDATE_DATE , 120 ) updateDate ,
		                     a.UPDATE_ID ,  CONVERT(VARCHAR(10),a.RES_REPLY_DATE , 120 ) resReplyDate ,
		                     a. ADMIN_REPLY_DATE, a.ADMIN_PROCESS_GUBUN, 
		                     a.USE_YN , b.DEPTNAME,  d.CENTER_NM, 
		                     b.EMPNAME, b.EMPHANDPHONE, c.FLOOR_NAME, b.EMPJIKW, b.EMPMAIL, b.EMPNO,
		                     a.RES_TITLE, a.RES_PASSWORD, a.MEETING_SEQ, a.RES_ATTENDLIST,
		                     dbo.FN_ATTENTLIST(a.RES_ATTENDLIST) attendListTxt    ,
		                     CASE WHEN a.RES_PASSWORD = 'N' THEN  
		                               '비공개' 
		                     ELSE '공개' 
		                     END AS resPassTxt,
		                     CONFERENCE_ID, CON_NUMBER, CON_PIN, 
                             CON_VIRTUAL_PIN, CON_ALLOWSTREAM, CON_BLACKDIAL, CON_SENDNOTI, RES_EQUPINFO,
                             dbo.FN_DETAILCODENM(a.RES_EQUPCHECK) AS resEqupcheckTxt, a.RES_EQUPCHECK,
                             dbo.FN_DETAILCODENM(a.ITEM_GUBUN) ITEM_GUBUN_T, ITEM_GUBUN,  
                             dbo.FN_RESNAMEINFO(a.RES_SEQ, 'CONFIRMGUBUN') ITEM_CONFIRMGUBUN,
                             dbo.FN_RESNAMEINFO(a.RES_SEQ, 'NAME') ITEM_NAME, a.TENN_CNT
                      FROM TB_SWCRESERVATION a, TB_EMPINFO b, TB_FLOORINFO c, TB_CENTERINFO d
		              WHERE a.USER_ID = b.EMPNO
			                AND a.CENTER_ID = d.CENTER_ID
			                AND a.FLOOR_SEQ = c.FLOOR_SEQ
	                        <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchResSeq)">
							      AND a.RES_SEQ = #{params.searchResSeq}
						    </if>
						    <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.empno)">
					            AND b.EMPNO =  #{params.empno}
							</if>
					        <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKeyword)">
					            <choose>
					               <when test="params.searchKeyword == 'b.EMPNO'">
					                   AND b.EMPNO LIKE CONCAT('%',#{params.searchKeyword},'%') 
					               </when>
					               <when test="params.searchKeyword == 'b.EMPNAME'">
					                   AND b.EMPNO LIKE CONCAT('%',#{params.searchKeyword},'%') 
					               </when>
					               <otherwise>
					                  AND ( b.EMPNO LIKE CONCAT('%',#{params.searchKeyword},'%')  or 
					                        b.EMPNAME LIKE CONCAT('%',#{params.searchKeyword},'%') 
					                      ) 
					               </otherwise>
					            </choose>
							</if>
							<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchUserId)">
								 AND (a.PROXY_USER_ID = #{params.searchUserId} or a.USER_ID  = #{params.searchUserId})
							</if>
							<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchCenter)">
							 	 AND a.CENTER_ID = #{params.searchCenterId}
							</if>
							<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchFloorSeq)">
								<![CDATA[    
							    AND a.FLOOR_SEQ = #{params.searchFloorSeq}
							    ]]>
							</if>
							<if test="params.adminLevel == 'ROLE_ANONYMOUS' ">
							     AND c.MEETING_ADMINID  LIKE CONCAT('%',(SELECT EMPNO FROM tb_empInfo WHERE empid= #{params.searchEmpno} ) ,'%') 
							</if>
							<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchProxyYn)">
							 	AND a.PROXY_YN = #{params.searchProxyYn}
							</if>
							<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchOrgId)">
							 	AND b.CD_DEPT = #{params.searchOrgId}
							</if>
							<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchReservProcessGubun)">
							 	AND a.RESERV_PROCESS_GUBUN = #{params.searchReservProcessGubun}
							</if>
							<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchNotProcessGubun)">
							    AND a.RESERV_PROCESS_GUBUN NOT IN ('PROCESS_GUBUN_5', 'PROCESS_GUBUN_6', 'PROCESS_GUBUN_3', 'PROCESS_GUBUN_7') 
							</if>
							<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchRoomType)">
							    AND a.ROOM_TYPE  = #{params.searchRoomType}
							</if>
							<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchTenn)">
							    AND a.TENN_CNT > 0
							</if>
							<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.itemGubun)">
							    AND a.ITEM_GUBUN = #{params.itemGubun}
							</if>
							<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchResStartday)">
							    AND a.RES_STARTDAY = #{params.searchResStartday}
							</if>
							<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.resGubun)">
						        <choose>
						           <when test="params.resGubun == 'SWC_GUBUN_3'">
						              AND RES_GUBUN  = 'SWC_GUBUN_3'
						           </when>
						           <otherwise>
						              AND RES_GUBUN IN ('SWC_GUBUN_1', 'SWC_GUBUN_2')
						           </otherwise>
						        </choose>
						    </if>	   
							
							<choose>
								<when test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchStartDay)  and 
								            !@org.apache.commons.lang3.StringUtils@isEmpty(params.searchEndDay)">						
								 <choose>
									 <when test="params.searchDayGubun == 'REG_DATE'">
									  <![CDATA[    			
										AND  CONVERT(varchar(8), A.REG_DATE, 112) >= #{params.searchStartDay}
                 					    AND CONVERT(varchar(8), A.REG_DATE, 112) <  CONVERT (VARCHAR(8), DATEADD(DAY,1,CONVERT(DATE,#{params.searchEndDay})), 112) 
                 					  ]]>
									  </when>
									  <otherwise>					      
										  <![CDATA[    			
										   AND a.RES_STARTDAY BETWEEN #{params.searchStartDay} and #{params.searchEndDay}
                 			 			  ]]>
									    </otherwise>
									</choose>
								</when>
							</choose>
		    ) TB 
	   ) TA 
	   WHERE RNUM  BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}  
	   ORDER BY 	TA.REG_DATE DESC 	
	</select>
	<select id="selectMessageInfoList" resultType="lmap">
	   SELECT  a.RES_SEQ,  a.ITEM_ID, a.ITEM_GUBUN, 
		       dbo.FN_TIMESPLIT(a.RES_STARTTIME) resStarttime , dbo.FN_TIMESPLIT(dbo.FN_UPSTIMEDOWN(a.RES_ENDTIME)) resEndtime,  
		       CONVERT (DATE, a.RES_STARTDAY) resStartday,
			   CONVERT (DATE, a.RES_ENDDAY) resEndday,
			   b.EMPNAME, b.EMPHANDPHONE, b.EMPJIKW, b.EMPMAIL, b.EMPNO, a.RES_TITLE,
			   CASE a.ITEM_GUBUN WHEN 'ITEM_GUBUN_2' THEN 
				    (SELECT  MEETING_NAME FROM  TB_MEETING_ROOM B WHERE b.MEETING_ID = a.ITEM_ID )
			      ELSE 
				    (SELECT  SEAT_NAME FROM  TB_SEATINFO C WHERE c.SEAT_ID = a.ITEM_ID )
			      END as ITEM_NAME 
	   FROM TB_SWCRESERVATION a , TB_EMPINFO b
	   WHERE a.USER_ID = b.EMPID AND a.SEND_MESSAGE = 'Y' 
	        <choose>
	            <when test="searchDay == 'DAY'">
	                   AND a.RES_STARTDAY = convert(varchar(8), dateadd(day, 1,  GETDATE()) , 112)
	                   AND a.RES_STARTTIME =  REPLACE(SUBSTRING(CONVERT (VARCHAR(12),  getdate(), 114), 1,5), ':','') 
	                   AND a.ITEM_GUBUN = 'ITEM_GUBUN_1' 
	                   AND a.RESERV_PROCESS_GUBUN IN('PROCESS_GUBUN_2', 'PROCESS_GUBUN_4')
	            </when>
	            <when test="searchDay == 'CAN'">
	                  AND a.RES_STARTDAY = convert(varchar(8), GETDATE() , 112)
	                  AND a.RES_STARTTIME = REPLACE(SUBSTRING(CONVERT (VARCHAR(12),  dateadd(MI, 10, getdate()), 114), 1,5), ':','') 
	                  AND a.ITEM_GUBUN = 'ITEM_GUBUN_1' 
	                  AND a.RESERV_PROCESS_GUBUN IN('PROCESS_GUBUN_2', 'PROCESS_GUBUN_4')
	                  AND ( CAST( REPLACE(SUBSTRING(CONVERT (VARCHAR(12),  ISNULL( a.IN_TIME, GETDATE()), 114), 1,5), ':','') AS INT) - CAST( a.RES_STARTTIME AS INT) ) > 10
	            </when>
	            <otherwise>
	                  AND a.RES_STARTDAY = convert(varchar(8), GETDATE() , 112)
	                  AND a.RES_STARTTIME = REPLACE(SUBSTRING(CONVERT (VARCHAR(12),  dateadd(MI, 20, getdate()), 114), 1,5), ':','') 
	                  AND a.ITEM_GUBUN = 'ITEM_GUBUN_1' 
	                  AND a.RESERV_PROCESS_GUBUN IN('PROCESS_GUBUN_2', 'PROCESS_GUBUN_4')
	            </otherwise>
	        </choose>
  

     

	 
	</select>
	<select id="selectTodayResSeatInfo" resultType="lmap">
	   SELECT TOP 1 b.SEAT_NAME, d.CENTER_NM, c.FLOOR_NAME, a.IN_TIME, a.OT_TIME
	   FROM TB_SWCRESERVATION a, TB_SEATINFO b, TB_FLOORINFO c, TB_CENTERINFO d
	   WHERE a.ITEM_ID = b.SEAT_ID
		      AND b.CENTER_ID = d.CENTER_ID
			  AND b.FLOOR_SEQ = c.FLOOR_SEQ
		      AND b.SEAT_GUBUN = 'SEAT_GUBUN_1'
			  AND a.ITEM_GUBUN = 'ITEM_GUBUN_2'
			  AND a.RES_STARTDAY = convert(varchar(8), getdate(), 112)
			  AND a.USER_ID  = #{empNo}
	   ORDER BY RES_SEQ desc     
	
	</select>
    <select id="selectCalenderInfo" resultType="ResInfoVO">
	    SELECT  CONCAT( YEAR, MONTH) as calenderTitle, CONCAT(YEAR , '-', MONTH, ' 월') as calenderTitleTxt
	    FROM TB_CALENDER
	    WHERE DATES BETWEEN CONVERT(varchar(8),  DATEADD(day, -3, getdate()), 112) AND CONVERT(varchar(8),  DATEADD(month, 3, getdate()), 112)  
	    GROUP BY YEAR, MONTH
	    ORDER BY YEAR ASC , month ASC 
    </select>
    <select id="selectCalenderDetailInfo"  resultType="ResInfoVO">
        SELECT DATES, 
               CASE WHEN DATES > CONVERT(VARCHAR(8), GETDATE(), 112) THEN 0
		            ELSE 1
		       END AS passDate ,DATEPART(WEEKDAY, CONVERT (DATE, DATES)) weekTxt,
		       COUNT(b.RES_STARTDAY) AS resCnt
		FROM TB_CALENDER a  
		LEFT OUTER JOIN
		(SELECT RES_STARTDAY  
         FROM TB_SWCRESERVATION 
         WHERE  SUBSTRING(RES_STARTDAY, 1, 6) = #{searchCalenderTitle}
                     AND RESERV_PROCESS_GUBUN NOT IN ('PROCESS_GUBUN_5', 'PROCESS_GUBUN_6', 'PROCESS_GUBUN_3', 'PROCESS_GUBUN_7')
                     <if test="searchCenterId != ''">
                          AND CENTER_ID = #{searchCenterId}
                      </if> 
                      <if test="searchRoomType != ''">
                        AND RES_GUBUN = #{searchRoomType}
                      </if>
         ) b
         ON a.DATES = b.RES_STARTDAY
         WHERE SUBSTRING(dates, 1, 6) =  #{searchCalenderTitle}
		 GROUP BY DATES 
		 ORDER BY a.DATES ASC  
		 
    </select>
    <select id="selectCalenderMeetingState"  resultType="ResInfoVO">
        SELECT DISTINCT X.DATES, X.weekTxt , X.passDate
                ,  STUFF(
				  (SELECT ',' + cast( CONCAT( b.MEETING_NAME,':', dbo.FN_SWCRESTATE( b.MEETING_ID, DATES)) as VARCHAR(max))
				   FROM TB_CALENDER a  , (SELECT MEETING_ID, MEETING_NAME, MEETING_ORDER
				                          FROM TB_MEETING_ROOM
				                          WHERE FLOOR_SEQ =  #{floorSeq}) b
	               WHERE SUBSTRING(dates, 1, 6) =  #{searchCalenderTitle}
				         AND DATES = X.DATES
			       GROUP BY DATES , MEETING_NAME, MEETING_ID, MEETING_ORDER
			       ORDER BY MEETING_ORDER ASC
				   FOR XML PATH('')
				  ), 1, 1, '') resState
        FROM ( 
	          SELECT DATES, 
	                 CASE WHEN DATES > CONVERT(VARCHAR(8), GETDATE(), 112) THEN 0
			             ELSE 1
			          END AS passDate ,DATEPART(WEEKDAY, CONVERT (DATE, DATES)) weekTxt
			  FROM TB_CALENDER a  
	          WHERE SUBSTRING(dates, 1, 6) =  #{searchCalenderTitle}
			  GROUP BY DATES 
		 ) X
		GROUP BY X.DATES, X.weekTxt, X.passDate
		ORDER BY X.DATES ASC
    </select>
    <select id="selectIndexList" resultType="lmap">
		    SELECT  c.RES_TITLE,  c.RES_STARTDAY,
                    dbo.FN_TIMESPLIT(c.RES_STARTTIME) resStartTimeT ,  
                    dbo.FN_TIMESPLIT(dbo.FN_UPSTIMEDOWN(c.RES_ENDTIME)) resEndTimeT , 
                    c.RES_STARTTIME, c.RES_ENDTIME, TA.MEETING_ID, c.RES_ATTENDLIST,
			        CASE WHEN (TA.RES_SEQ > 0) THEN 
			             dbo.FN_ATTENTLIST(c.RES_ATTENDLIST)
			        ELSE 
			          ''
			        END  attendListTxt,
			        TA.MEETING_USEYN, TA.RES_SEQ , TA.TIME_SEQ, TA.MEETING_NAME , TA.SWC_TIME, TA.CENTER_ID,
			        TA.MEETING_CONFIRMGUBUN, TA.MEETING_EQUPGUBUN, 
			        CASE WHEN (TA.RES_SEQ > 0) THEN 
			              (  SELECT CONCAT ( EMPNAME, '|', DEPTNAME)
                             FROM TB_EMPINFO
                             WHERE EMPNO =  c.USER_ID  
                          )
			        ELSE 
			          ''
			        END  EMPNAME, c.IN_TIME, c.OT_TIME, TA.MEETING_ORDER, TA.FLOOR_INFO, ISNULL( TA.RES_REQDAY, 0) RES_REQDAY, TA.ROOM_TYPE
            FROM  ( SELECT b.MEETING_USEYN, a.RES_SEQ , a.TIME_SEQ, b.MEETING_NAME , a.SWC_TIME, a.CENTER_ID, b.MEETING_ID, b.ROOM_TYPE,
                            b.MEETING_CONFIRMGUBUN, b.MEETING_EQUPGUBUN, b.MEETING_ORDER, cast(replace( c.FLOOR_INFO, 'CENTER_FLOOR_', '') as int)  FLOOR_INFO,
                            b.RES_REQDAY
					FROM TB_SWCTIME a, TB_MEETING_ROOM b, TB_FLOORINFO c
					WHERE a.ITEM_ID = b.MEETING_ID
					      <choose>
					          <when test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKisok)">
					            AND b.ROOM_TYPE IN ('SWC_GUBUN_1','SWC_GUBUN_2','SWC_GUBUN_3')
					          </when>
					          <otherwise>
					            AND b.ROOM_TYPE IN ('SWC_GUBUN_1','SWC_GUBUN_2')
					          </otherwise>
					      </choose>
					      AND b.ROOM_TYPE IN ('SWC_GUBUN_1','SWC_GUBUN_2','SWC_GUBUN_3')
					      AND b.FLOOR_SEQ = c.FLOOR_SEQ
		                  <choose>
		                    <when test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchMeetingid)">
		                           AND a.MEETING_ID= #{params.searchMeetingid}
		                           AND a.SWC_TIME  BETWEEN REPLACE(SUBSTRING(CONVERT (VARCHAR(12), DATEADD(minute, -30, GETDATE()), 114), 1,5), ':','') 
		                                           AND REPLACE(SUBSTRING(CONVERT (VARCHAR(12),  GETDATE(), 114), 1,5), ':','')
		                                         
					        </when>
					        <when test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchKisok)">
		                           AND a.SWC_TIME  BETWEEN REPLACE(SUBSTRING(CONVERT (VARCHAR(12), DATEADD(minute, -30, GETDATE()), 114), 1,5), ':','')  
		                           AND REPLACE(SUBSTRING(CONVERT (VARCHAR(12), DATEADD(minute, 30, GETDATE()), 114), 1,5), ':','') 
		                    </when>
		                    <otherwise>
		                             AND a.SWC_TIME  BETWEEN REPLACE(SUBSTRING(CONVERT (VARCHAR(12), DATEADD(minute, -30, GETDATE()), 114), 1,5), ':','')  
		                             AND REPLACE(SUBSTRING(CONVERT (VARCHAR(12),  GETDATE(), 114), 1,5), ':','') 
					        </otherwise>
		                  </choose>
		                  
		                  
					      AND a.SWC_RESDAY = CONVERT(VARCHAR(8), GETDATE(), 112)
					      <if test="@org.apache.commons.lang3.StringUtils@isEmpty(params.searchSeatSeq)">
					      AND b.MEETING_USEYN ='Y' and b.MEETING_MAINVIEW = 'Y'
					      </if>
					      <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.centerId)">
					      AND b.CENTER_ID = #{params.centerId}
					      </if>
					      <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.meetingId)">
					      AND b.MEETING_ID = #{params.meetingId}
					      </if>
					      <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.authorCode)">
					         <choose>
					            <when test="params.authorCode == 'ROLE_USER'">
					               AND b.FLOOR_SEQ IN ( SELECT strVALUE 
					                                    FROM dbo.UF_SPLICT(
					                                         ( SELECT COM_PLAY_FLOOR 
					                                           FROM TB_COMPANYINFO 
					                                           WHERE COM_CODE = #{params.comCode}) , ',')
					                                   )
					            </when>
					         </choose>
					      </if>
				         
			      ) TA
			LEFT OUTER JOIN TB_SWCRESERVATION  AS c 
			     ON TA.RES_SEQ = c.RES_SEQ 
			ORDER BY TA.CENTER_ID ASC, TA.FLOOR_INFO asc,  TA.MEETING_ORDER ASC
    </select>
    <select id="selectNameplate" resultType="lmap">
         { call SP_EMPSEATINFO( )   }
    </select>
    <select id="selectResManageView" resultType="lmap">
          { call SP_RESINFO(#{resSeq ,mode=IN, jdbcType=VARCHAR, javaType=string} )   }
    </select>
    
    <select id="selectCancelReason" resultType="ResInfoVO">
		SELECT	a.RES_SEQ
				, a.CANCEL_REASON
		        , dbo.FN_DETAILCODENM(RESERVATION_REASON) AS reservationReason 
		        , a.RESERVATION_REASON_DETAIL
		        , CASE a.COWORKER_YN WHEN '1' THEN 
		             CASE a.PROXY_YN WHEN 'P' THEN 
		                (SELECT EMPNAME FROM TB_EMPINFO WHERE EMPNO =a.proxy_user_id) 
				     ELSE (SELECT EMPNAME FROM TB_EMPINFO WHERE  EMPNO = a.USER_ID) 
				     END 
				  ELSE a.OUT_USER_NM
				  END userName, 
				  a.MOB_TEL_NO
		FROM TB_SWCRESERVATION a
		WHERE RES_SEQ = #{resSeq}
    </select>
    
   <select id="selectReport01" resultType="ResInfoVO">   
    SELECT XX.year, XX.month, (XX.cnt*XX.roomRealCnt) AS totalSeat, XX.resCount, XX.roomInCount,
	       ROUND(CASE   XX.resCount WHEN 0 THEN 0 
	          ELSE ((TO_NUMBER(XX.resCount)/(TO_NUMBER(XX.cnt)* TO_NUMBER(XX.roomRealCnt))) * 100)
	       END, 2) AS per, 
	       XX.resCancel , 
	       ROUND(CASE XX.resCancel  WHEN 0 THEN 0
	            ELSE (  ( TO_NUMBER(XX.resCancel) / TO_NUMBER(XX.regCount) ) * 100 ) 
	       END, 2) AS per1,
	       ((XX.cnt*XX.roomRealCnt) - XX.resCount) AS remindSeat
	FROM (       
	SELECT X.year, X.month, X.roomInCount, X.resCount, X.resCancel, X.regCount,
	       (SELECT COUNT(*) FROM tb_meeting_room WHERE Use_YN = 'Y' and ROOM_TYPE in ('swc_gubun_1', 'swc_gubun_3')) AS roomRealCnt,
	       (SELECT COUNT(*) FROM TB_CALENDER f WHERE f.YEAR = X.year AND f.MONTH = X.month AND f.DATES between #{searchStartDay} and #{searchEndDay} ) AS cnt 
	FROM (
		  SELECT a.year, a.month,
		        (SELECT ISNULL(COUNT(d.ATT_SEQ),0)  FROM TB_ATTENDANCE d , tb_meeting_room c, TB_SWCRESERVATION b
		              WHERE a.year = SUBSTR(d.RES_DAY,0,4) AND a.MONTH = SUBSTR(d.RES_DAY,5,2) AND d.ROOM_INTIME IS NOT NULL 
		                  AND c.MEETING_ID = b.MEETING_ID and c.ROOM_TYPE in ('swc_gubun_1', 'swc_gubun_3')
		                  and d.RES_SEQ = b.RES_SEQ                               
		        ) AS roomInCount,
		        ( SELECT ISNULL(COUNT(XX.RES_SEQ),0) FROM 
		            (
		                SELECT E.RES_SEQ, e.swc_resday FROM TB_SWCTIME e , tb_meeting_room c
		                WHERE e.MEETING_ID = c.MEETING_ID and c.ROOM_TYPE in ('swc_gubun_1', 'swc_gubun_3') AND e.RES_SEQ ! =0
		                GROUP BY   E.RES_SEQ, E.swc_resday
		            ) XX                 	
		           WHERE a.year = SUBSTR(XX.swc_resday,0,4) AND a.MONTH = SUBSTR(XX.swc_resday,5,2)  
		        )AS resCount,
		        ( SELECT ISNULL(COUNT(b.RES_SEQ),0) FROM  TB_SWCRESERVATION b , tb_meeting_room c
		              where  a.year = SUBSTR(to_char(b.REG_DATE,'yyyyMMdd'),0,4) AND a.MONTH = SUBSTR(to_char(b.REG_DATE,'yyyyMMdd'),5,2)
		                     AND b.MEETING_ID = c.MEETING_ID and c.ROOM_TYPE in ('swc_gubun_1', 'swc_gubun_3') 
		                     AND (b.RESERV_PROCESS_GUBUN = 'resProcess06' or b.RESERV_PROCESS_GUBUN = 'resProcess05')                                 
		        ) AS resCancel,
		       (SELECT ISNULL(COUNT(RES_SEQ),0) 
		          FROM TB_SWCRESERVATION b , tb_meeting_room c
		          WHERE b.MEETING_ID = c.MEETING_ID and c.ROOM_TYPE in ('swc_gubun_1', 'swc_gubun_3')
		                AND a.year = SUBSTR(to_char(b.REG_DATE,'yyyyMMdd'),0,4) AND a.MONTH = SUBSTR(to_char(b.REG_DATE,'yyyyMMdd'),5,2)         
		        ) AS regCount       
		  FROM  TB_CALENDER a 
		  WHERE a.DATES between #{searchStartDay} and #{searchEndDay}
		  GROUP BY a.year, a.month
		  ORDER BY a.month ASC 
	)  X
	) XX  	
   </select>
   <select id="selectReport02" resultType="ResInfoVO">
   	
    SELECT XX.year, XX.month, (XX.cnt*XX.roomRealCnt) AS totalSeat, XX.resCount, XX.roomInCount,
	       ROUND(CASE   XX.resCount WHEN 0 THEN 0 
	          ELSE ((CAST(XX.resCount AS INT)/(CAST(XX.cnt AS INT)* CAST(XX.roomRealCnt AS INT))) * 100)
	       END, 2) AS per, 
	       XX.resCancel , 
	       ROUND(CASE XX.resCancel  WHEN 0 THEN 0
	            ELSE (  ( CAST(XX.resCancel AS INT) / CAST(XX.regCount AS INT) ) * 100 ) 
	       END, 2) AS per1,
	       ((XX.cnt*XX.roomRealCnt) - XX.resCount) AS remindSeat
	FROM (       
	SELECT X.year, X.month, X.roomInCount, X.resCount, X.resCancel, X.regCount,
	       (SELECT COUNT(*) FROM TB_MEETING_ROOM WHERE Use_YN = 'Y' and ROOM_TYPE = 'swc_gubun_3') AS roomRealCnt,
	       (SELECT COUNT(*) FROM TB_CALENDER f WHERE f.YEAR = X.year AND f.MONTH = X.month AND f.DATES BETWEEN #{searchStartDay} AND #{searchEndDay} ) AS cnt
	FROM (
	  SELECT a.year, a.month,
	        (SELECT ISNULL(COUNT(d.ATT_SEQ),0)  FROM TB_ATTENDANCE d , tb_meeting_room c, TB_SWCRESERVATION b
	              WHERE a.year = SUBSTRING(d.RES_DAY,0,4) AND a.MONTH = SUBSTRING(d.RES_DAY,5,2) AND d.ROOM_INTIME IS NOT NULL 
	                  AND c.MEETING_ID = b.MEETING_ID and c.ROOM_TYPE = 'swc_gubun_3'
	                  and d.RES_SEQ = b.RES_SEQ                               
	        ) AS roomInCount,
	        ( SELECT ISNULL(COUNT(XX.RES_SEQ),0) FROM 
	            (
	                SELECT E.RES_SEQ, e.swc_resday 
	                FROM TB_SWCTIME e , TB_MEETING_ROOM c
	                WHERE e.MEETING_ID = c.MEETING_ID and c.ROOM_TYPE = 'swc_gubun_3' AND e.RES_SEQ ! =0
	                GROUP BY E.RES_SEQ, E.swc_resday
	            ) XX                 	
	           WHERE a.year = SUBSTRING(XX.swc_resday,0,4) AND a.MONTH = SUBSTRING(XX.swc_resday,5,2)  
	        )AS resCount,
	        ( SELECT ISNULL(COUNT(b.RES_SEQ),0) FROM  tb_swcreservation b , tb_meeting_room c
	              WHERE  a.year = SUBSTRING(CONVERT(VARCHAR(8), b.REG_DATE, 112),1,4) AND a.MONTH = SUBSTRING(CONVERT(VARCHAR(8), b.REG_DATE, 112),5,2) 
	                     AND b.MEETING_ID = c.MEETING_ID and c.ROOM_TYPE = 'swc_gubun_3'
	                     AND (b.RESERV_PROCESS_GUBUN = 'resProcess06' or b.RESERV_PROCESS_GUBUN = 'resProcess05')                                 
	        ) AS resCancel,
	       (SELECT ISNULL(COUNT(RES_SEQ),0) 
	          FROM TB_SWCRESERVATION b , TB_MEETING_ROOM c
	          WHERE b.MEETING_ID = c.MEETING_ID and c.ROOM_TYPE = 'swc_gubun_3'
	                AND a.year = SUBSTRING(CONVERT(VARCHAR(8), b.REG_DATE, 112),1,4) AND a.MONTH = SUBSTRING(CONVERT(VARCHAR(8), b.REG_DATE, 112),5,2)   
	                                  
	        ) AS regCount       
	  FROM  TB_CALENDER a 
	  WHERE a.DATES BETWEEN #{searchStartDay} AND #{searchEndDay}
	  GROUP BY a.YEAR, a.MONTH
	  ORDER BY a.MONTH ASC 
	)  X
	) XX  	
   </select>
   <select id="selectReport03"  resultType="ResInfoVO">
		   SELECT c.ORG_NAME, c.ORG_PARENT_ID, 
			       (SELECT COUNT(a.RES_SEQ) 
			        FROM TB_MEETING_ROOM b
			        WHERE a.MEETING_ID = b.MEETING_ID AND  b.ROOM_TYPE IN ('swc_gubun_1','swc_gubun_3')
			        ) AS woorkCnt,
			        (SELECT COUNT(a.RES_SEQ) 
			         FROM TB_MEETING_ROOM b 
			         WHERE a.MEETING_ID = b.MEETING_ID AND b.ROOM_TYPE = 'swc_gubun_3'
			        ) AS meetingCnt
			FROM TB_SWCRESERVATION a,  TB_ORGINFO c, TB_EMPINFO d, TB_SWCTIME e
			WHERE a.PROXY_USER_ID = d.USER_ID
				  AND d.USER_ID = c.CP_DEPT
				  AND A.RES_SEQ = E.RES_SEQ 
				  AND e.SWC_RESDAY between #{searchStartDay} and #{searchEndDay}
				  AND a.RESERV_PROCESS_GUBUN IN ('resProcess02','resProcess03')
			GROUP BY c.ORG_NAME, c.ORG_PARENT_ID, a.MEETING_ID, c.ORG_ODR, c.CP_DEPT  
			ORDER BY ORG_ODR asc, ORG_PARENT_ID asc, CP_DEPT asc, ORG_NAME asc 
   </select>
   <select id="selectReport04"  resultType="ResInfoVO">
			 SELECT f.GRADE_NAME,
			       (SELECT COUNT(a.RES_SEQ) 
			        FROM TB_MEETING_ROOM b
			        WHERE a.MEETING_ID = b.MEETING_ID AND  b.ROOM_TYPE IN ('swc_gubun_1','swc_gubun_3')
			        ) AS workCnt,
			        (SELECT COUNT(a.RES_SEQ) 
			         FROM TB_MEETING_ROOM b 
			         WHERE a.MEETING_ID = b.MEETING_ID AND b.ROOM_TYPE = 'swc_gubun_3'
			        ) AS meetingCnt
			FROM TB_SWCRESERVATION a,  TB_ORGINFO c, TB_EMPINFO d, TB_SWCTIME e
			WHERE a.PROXY_USER_ID = d.USER_ID
				      AND A.RES_SEQ = E.RES_SEQ 
				      AND e.SWC_RESDAY between #{searchStartDay} and #{searchEndDay}
				      AND a.RESERV_PROCESS_GUBUN IN ('resProcess02','resProcess03')
			GROUP BY c.ORG_NAME, c.ORG_PARENT_ID, a.MEETING_ID, c.ORG_ODR, c.CP_DEPT
			ORDER BY GRADE_NAME ASC
   </select>
   	<select id="selectMessagentList" resultType="ResInfoVO">
		     SELECT a.USER_ID, a.RES_ATTENDLIST, a.RES_TITLE, dbo.FN_TIMESPLIT(a.RES_STARTTIME) resStarttime , a.RES_GUBUN,
				    dbo.FN_TIMESPLIT(dbo.FN_UPSTIMEDOWN(a.RES_ENDTIME)) resEndtime,
				    CONVERT(DATE, a.RES_STARTDAY) resStartday,
				    CASE WHEN (a.RES_GUBUN = 'SWC_GUBUN_2') THEN 
				          (SELECT b.TERMINAL_TEL  FROM TB_MEETING_ROOM b WHERE b.MEETING_ID = a.MEETING_ID) 
				    ELSE
				           ''
				    END meetingTel 
			FROM TB_SWCRESERVATION a 
			WHERE RES_STARTDAY =CONVERT(VARCHAR(8), GETDATE(), 112) AND RESERV_PROCESS_GUBUN IN ('PROCESS_GUBUN_1','PROCESS_GUBUN_2', 'PROCESS_GUBUN_4')
	</select>
	<select id="selectKioskCalendarList" resultType="lmap" statementType="CALLABLE">
        { call SP_KIOSKCALDARLIST(#{ITEM_ID ,mode=IN, jdbcType=VARCHAR, javaType=string} )}
    </select> 
	<select id="selectTennInfo"  resultType="java.lang.String">
	    SELECT dbo.FN_TENNPLAYINFO(#{itemId}, #{itemGubun}, #{resStartday, jdbcType=VARCHAR}, #{resStarttime, jdbcType=VARCHAR}, #{resEndtime, jdbcType=VARCHAR}, #{userId}) as tenn
	</select>
    <insert id="insertResManage">
        INSERT INTO TB_SWCRESERVATION ( ITEM_ID, ITEM_GUBUN, CENTER_ID, RES_GUBUN, USER_ID,   
                                        RES_STARTDAY, RES_ENDDAY, RES_STARTTIME, RES_ENDTIME, REG_DATE, 
                                        RESERV_PROCESS_GUBUN, RESERVATION_REASON, RES_REMARK, PROXY_YN, PROXY_USER_ID, 
                                        UPDATE_DATE, UPDATE_ID, USE_YN, RES_TITLE, RES_PASSWORD, MEETING_SEQ, RES_ATTENDLIST,
                                        CONFERENCE_ID, CON_NUMBER, CON_PIN, 
                                        CON_VIRTUAL_PIN, CON_ALLOWSTREAM, CON_BLACKDIAL, CON_SENDNOTI, RES_EQUPINFO, RES_EQUPCHECK, 
                                        TENN_CNT, FLOOR_SEQ, SEND_MESSAGE , RES_PERSON)
         VALUES ( #{itemId}, #{itemGubun},  #{centerId}, #{resGubun, jdbcType=VARCHAR}, #{userId}
			     , #{resStartday, jdbcType=VARCHAR} , #{resEndday, jdbcType=VARCHAR } , #{resStarttime, jdbcType=VARCHAR} , #{resEndtime, jdbcType=VARCHAR}, GETDATE()
			     , 'PROCESS_GUBUN_1', #{reservationReason, jdbcType=VARCHAR}
			     , #{resRemark, jdbcType=VARCHAR} , #{proxyYn, jdbcType=VARCHAR}, #{proxyUserId, jdbcType=VARCHAR}
			     , GETDATE(), #{userId}, 'Y', #{resTitle}, #{resPassword , jdbcType=VARCHAR}, #{meetingSeq, jdbcType=VARCHAR}
			     , #{resAttendlist, jdbcType=VARCHAR}
			     , #{conferenceId, jdbcType=VARCHAR} , #{conNumber, jdbcType=VARCHAR} , #{conPin, jdbcType=VARCHAR}
			     , #{conVirtualPin, jdbcType=VARCHAR} , #{conAllowstream, jdbcType=VARCHAR} , #{conBlackdial, jdbcType=VARCHAR}
			     , #{conSendnoti, jdbcType=VARCHAR} , #{resEqupinfo, jdbcType=VARCHAR}  , #{resEqupcheck, jdbcType=VARCHAR}  
			     , #{tennCnt, jdbcType=VARCHAR}, #{floorSeq, jdbcType=VARCHAR}  , #{sendMessage, jdbcType=VARCHAR}  , #{resPerson, jdbcType=VARCHAR}  
			    )
         <selectKey resultType="String" keyProperty="resSeq" order="AFTER">
		   SELECT CAST(MAX(RES_SEQ) AS int) AS resSeq
		   FROM TB_SWCRESERVATION
		 </selectKey>
    </insert>
    <update id="updateResManageChange">
        UPDATE TB_SWCRESERVATION SET   RESERV_PROCESS_GUBUN = #{reservProcessGubun},
                                       UPDATE_DATE = GETDATE()
                                       <if test="resAttendlist != '' ">
                                       , RES_ATTENDLIST =  #{resAttendlist, jdbcType=VARCHAR}
                                       </if>
                                       <if test="reservProcessGubun == 'PROCESS_GUBUN_2' or reservProcessGubun == 'PROCESS_GUBUN_3'">
                                       , PROXY_USER_ID = #{userId}
                                       , RES_REPLY_DATE = GETDATE()
                                       </if> 
                                       <if test="reservProcessGubun == 'PROCESS_GUBUN_4' or reservProcessGubun == 'PROCESS_GUBUN_5'">
                                       , ADMIN_REPLY_DATE = GETDATE()
                                       , ADMIN_PROCESS_GUBUN = #{reservProcessGubun}
                                       </if>
                                       <if test="resTitle != '' ">
                                       , RES_TITLE = #{resTitle}
                                       </if>
                                       <if test="cancelCode != '' ">
                                       , CANCEL_CODE = #{cancelCode, jdbcType=VARCHAR}
                                       , CANCEL_REASON = #{cancelReason, jdbcType=VARCHAR} 
                                       </if>
                                       <if test="resPassword != ''">
                                       , RES_PASSWORD = #{resPassword , jdbcType=VARCHAR}
                                       </if>
                                       <if test="conferenceId != ''">
                                       ,CONFERENCE_ID = #{conferenceId}
                                       </if> 
									   <if test="conNumber != ''">
                                       , CON_NUMBER = #{conNumber, jdbcType=VARCHAR}
									   </if> 
									   <if test="conPin != ''">
                                       , CON_PIN = #{conPin, jdbcType=VARCHAR}
                                       , CON_VIRTUAL_PIN = #{conVirtualPin, jdbcType=VARCHAR}
                                       , CON_ALLOWSTREAM = #{conAllowstream, jdbcType=VARCHAR} 
                                       , CON_BLACKDIAL = #{conBlackdial, jdbcType=VARCHAR}
                                       , CON_SENDNOTI = #{conSendnoti, jdbcType=VARCHAR}
                                       </if>
                                       <if test="resEqupinfo != ''">
                                       , RES_EQUPINFO =  #{resEqupinfo, jdbcType=VARCHAR} 
                                       </if>
                                       <if test="tennCnt != '' ">
                                       , TENN_CNT = #{tennCnt, jdbcType=VARCHAR}  
                                       </if>
        WHERE RES_SEQ = #{resSeq} ;
    </update>
   
    <update id="updateResManageChangeAvaya">
        UPDATE TB_SWCRESERVATION SET  RES_SEND_RESULT =  #{resSendResult, jdbcType=VARCHAR}
                                      , RES_SEND_RESULT_TXT =  #{resSendResultTxt, jdbcType=VARCHAR}
                                      , CONFERENCE_ID = #{conferenceId, jdbcType=VARCHAR}
                                      , CON_NUMBER = #{conNumber, jdbcType=VARCHAR}
        WHERE RES_SEQ = #{resSeq}                                      
    </update>
    <update id="updateResEquipChnageManage">
        UPDATE TB_SWCRESERVATION SET RES_EQUPCHECK =  #{resEqupcheck, jdbcType=VARCHAR}
                                    <if test="resEqupinfo != ''">
                                    , RES_EQUPINFO =  #{resEqupinfo, jdbcType=VARCHAR}
                                    </if>
        WHERE RES_SEQ = #{resSeq}                                      
    </update>
    
    
   <update id="updateResManageDateChange">
        UPDATE TB_SWCRESERVATION SET   res_reply_date = GETDATE()
        WHERE RES_SEQ = #{resSeq}
    </update>
    

    <update id="updateDayChange">
        update TB_SWCRESERVATION set RES_STARTDAY = #{resStartday}, RES_ENDDAY = #{resEndday}
         where RES_SEQ = #{resSeq}
    </update>
    <!--  회의 내용 정리 -->
    <update id="updateResMeetingLog">
       UPDATE TB_SWCRESERVATION SET MEETINGLOG = #{meetinglog, jdbcType=VARCHAR}
                                   <if test="resFile1 != '' ">
                                   , RES_FILE1 = #{resFile1}
                                   </if>
                                   <if test="resFile2 != '' ">
                                   , RES_FILE2 = #{resFile2}
                                   </if>
       WHERE RES_SEQ = #{resSeq}
   </update>
    <update id="updateResCancel10MinLateEmpty">
         UPDATE TB_SWCRESERVATION SET RESERV_PROCESS_GUBUN = 'PROCESS_GUBUN_6',
								                              CANCEL_CODE = 'CANCEL_CODE_3',
								                              CANCEL_REASON = '10분 이후 입실 없음'
		WHERE RES_SEQ IN  (
			               SELECT b.RES_SEQ 
						   FROM TB_SWCTIME a, TB_SWCRESERVATION b
						   WHERE a.RES_SEQ = b.RES_SEQ
						         AND a.SWC_RESDAY  = CONVERT(VARCHAR(8), GETDATE(), 112)  
						         AND SWC_TIME BETWEEN REPLACE(SUBSTRING(CONVERT (VARCHAR(12), DATEADD(minute, -29, GETDATE()), 114), 1,5), ':','') 
						                      AND  REPLACE(SUBSTRING(CONVERT (VARCHAR(12),  GETDATE(), 114), 1,5), ':','')
						         AND ( CAST( REPLACE(SUBSTRING(CONVERT (VARCHAR(12),  ISNULL( b.IN_TIME, GETDATE()), 114), 1,5), ':','') AS INT) - CAST( b.RES_STARTTIME AS INT) ) > 10  
		                         AND b.ITEM_GUBUN =  'ITEM_GUBUN_1'
		                    );
		 UPDATE tb_swctime SET RES_SEQ = 0, APPRIVAL ='N'
		 WHERE RES_SEQ in (
			              SELECT b.RES_SEQ 
						  FROM TB_SWCTIME a, TB_SWCRESERVATION b
						  WHERE a.RES_SEQ = b.RES_SEQ
						      AND a.SWC_RESDAY  =  CONVERT(VARCHAR(8), GETDATE(), 112)
						      AND SWC_TIME BETWEEN  REPLACE(SUBSTRING(CONVERT (VARCHAR(12), DATEADD(minute, -29, GETDATE()), 114), 1,5), ':','')   
						                   AND  REPLACE(SUBSTRING(CONVERT (VARCHAR(12),  GETDATE(), 114), 1,5), ':','')
						      AND ( CAST( REPLACE(SUBSTRING(CONVERT (VARCHAR(12),  ISNULL( b.IN_TIME, GETDATE()), 114), 1,5), ':','') AS INT) - CAST( b.RES_STARTTIME AS INT) ) > 10 
						      AND b.ITEM_GUBUN =  'ITEM_GUBUN_1'
			              ) ; 
    </update>
    <delete id="deleteResManage">
        DELETE FROM TB_SWCRESERVATION WHERE RES_SEQ = #{resSeq};
        
        UPDATE TB_SWCTIME SET RES_SEQ = 0, APPRIVAL ='N' 
        WHERE RES_SEQ = #{resSeq};
    </delete>
    
    <!-- 취소 사유가 1시간 이전이면 테넌트 회수 하기  -->
    <update id="updateCancelReason">
	<![CDATA[
		UPDATE TB_SWCRESERVATION  SET CANCEL_REASON=#{cancelReason, jdbcType=VARCHAR}
		   			                  , UPDATE_ID = #{updateId,jdbcType=VARCHAR}
		   			                  , UPDATE_DATE = GETDATE()
		WHERE RES_SEQ = #{resSeq}
		]]>
	</update>
	
	<update id="errorResDateStep01" >
	    UPDATE TB_SWCTIME SET RES_SEQ = 0 WHERE RES_SEQ = #{resSeq};	    
	</update>
	<update id="errorResDateStep02" >
	    UPDATE TB_SWCRESERVATION SET RESERV_PROCESS_GUBUN = 'PROCESS_GUBUN_8' WHERE RES_SEQ = #{resSeq}	    
	</update>
	<update id="resStateChagenCheck" >
	    <choose>
	        <when test="resState == 'IN' ">
	              UPDATE TB_SWCRESERVATION SET IN_TIME = GETDATE()    WHERE RES_SEQ = #{resSeq}	 
	        </when>
	         <otherwise>
	              UPDATE TB_SWCRESERVATION SET OT_TIME = GETDATE()    WHERE RES_SEQ = #{resSeq}	
	         </otherwise>
	    </choose>
	</update>

   
</mapper>