<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohoki.backoffice.sts.res.mapper.VisitedInfoManageMapper">
    <resultMap type="lmap" id="visitedInfo"></resultMap>
    <resultMap type="lmap" id="visitedDetail"></resultMap>
    
    <select id="selectVisitedManageListByPagination" resultType="lmap">
       SELECT TA.*
		  FROM (SELECT SUM(1) OVER(PARTITION BY NULL) AS TOTAL_RECORD_COUNT, 
		               ROW_NUMBER() OVER (ORDER BY TB.VISITED_REGDATE DESC) AS RNUM,
		               TB.* 
		        FROM (SELECT DISTINCT a.VISITED_CODE, a.VISITED_STATUS, dbo.FN_DAYCONVERT(a.VISITED_RESDAY) VISITED_RESDAY, 
		                     dbo.fn_TimeSplit(a.VISITED_RESTIME) VISITED_RESTIME, a.VISITED_PERSON, 
		                     a.VISITED_PURPOSE, a.VISITED_GUBUN, a.VISITED_QRCODE, a.CENTER_ID, 
                             a.FLOOR_SEQ, a.VISITED_EMPNO, a.VISITED_REGDATE, CONVERT(varchar(10),a.VISITED_REGDATE,120) VISITEDREGDATE , a.VISITED_REGID, a.VISITED_UPDATEDATE, a.VISITED_UPDATEID, 
                             CAST(a.VISITED_REMARK as  varchar(4000)) VISITED_REMARK , e.CODE_NM,
                             a.VISITED_REQ_NAME, a.VISITED_REQ_CELPHONE, a.VISITED_REQ_ORG,  e.CODE,
                             a.VISITED_GROUP_NAME, a.VISITED_GROUP_CHECK, a.CANCEL_REASON
                             <if test="params.visitedGubun == 'VISITED_GUBUN_1'">   
                             , b.CENTER_NM, c.FLOOR_NAME, d.EMPNAME, d.EMPHANDPHONE
                             </if>
                      FROM TB_VISITEDINFO a, LETTCCMMNDETAILCODE e
                            <if test="params.visitedGubun == 'VISITED_GUBUN_1'">   
                            , TB_CENTERINFO b, TB_FLOORINFO c , TB_EMPINFO d
                            </if>
		              WHERE a.VISITED_GUBUN = #{params.visitedGubun}
		                    AND a.VISITED_STATUS = e.CODE
		                    <if test="params.visitedGubun == 'VISITED_GUBUN_1'"> 
			                    AND a.CENTER_ID = b.CENTER_ID
	                            AND a.FLOOR_SEQ = c.FLOOR_SEQ 
	                            AND a.VISITED_EMPNO = d.EMPNO
                            </if>
	                        <choose>
								<when test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.searchStartDay)  and 
								            !@org.apache.commons.lang3.StringUtils@isEmpty(params.searchEndDay)">						
								 <choose>
									 <when test="params.searchDayGubun == 'REG_DATE'">
									  <![CDATA[    			
										AND  CONVERT(varchar(8), A.VISITED_REGDATE, 112) >= #{params.searchStartDay}
                 					    AND CONVERT(varchar(8), A.VISITED_REGDATE, 112) <  CONVERT (VARCHAR(8), DATEADD(DAY,1,CONVERT(DATE,#{params.searchEndDay})), 112) 
                 					  ]]>
									  </when>
									  <otherwise>					      
										  <![CDATA[    			
										   AND a.VISITED_RESDAY BETWEEN #{params.searchStartDay} and #{params.searchEndDay}
                 			 			  ]]>
									    </otherwise>
									</choose>
								</when>
							</choose>
						    <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.empno)">
					            AND d.EMPNO =  #{params.empno}
							</if>
							<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.visitedCode)">
					            AND a.VISITED_CODE =  #{params.visitedCode}
							</if>
							<if test="!@org.apache.commons.lang3.StringUtils@isEmpty(params.seachName)  and 
								      !@org.apache.commons.lang3.StringUtils@isEmpty(params.seachCelphone)">
								AND a.VISITED_REQ_NAME = #{params.seachName} AND  a.VISITED_REQ_CELPHONE= #{params.seachCelphone}
								 <choose>
								     <when test="params.visitedGubun == 'VISITED_GUBUN_1'">
								        AND a.VISITED_STATUS IN ('VISITED_STATE_1', 'VISITED_STATE_2', 'VISITED_STATE_3')
								     </when>
								     <otherwise>
								        AND a.VISITED_STATUS IN ('VISITED_STATE_1', 'VISITED_STATE_2', 'VISITED_STATE_3', 'VISITED_STATE_4', 'VISITED_STATE_6')
								     </otherwise>
								 </choose>
							</if>
		    ) TB 
	   ) TA 
	   WHERE RNUM  BETWEEN #{params.firstIndex} + 1 AND #{params.firstIndex} + #{params.recordCountPerPage}  
	   ORDER BY 	TA.VISITED_REGDATE DESC 	
    </select>
    <select id="selectVisitedDetailInfoFront" resultType="lmap">
       SELECT  a.VISITED_SEQ, a.VISITED_CODE, a.VISITED_ORG, a.VISITED_NAME, a.VISITED_CELPHONE, a.VISITED_REGDATE,
               dbo.FN_DAYCONVERT(b.VISITED_RESDAY) VISITED_RESDAY, 
               c.EMPNAME, b.CANCEL_REASON
       FROM TB_VISITEDDETAIL a , TB_VISITEDINFO b, TB_EMPINFO c
       WHERE a.VISITED_CODE = #{visitedCode}
              AND a.VISITED_CODE = b.VISITED_CODE
              AND b.VISITED_EMPNO = c.EMPNO 
       ORDER BY a.VISITED_SEQ ASC
    </select>
    <select id="selectVisitedManageInfo" resultType="lmap">
       SELECT  a.VISITED_CODE, a.VISITED_STATUS, a.VISITED_RESDAY, a.VISITED_RESTIME, a.VISITED_PERSON,  
               a.VISITED_GUBUN, a.VISITED_QRCODE, a.CENTER_ID, 
               a.VISITED_PURPOSE, a.VISITED_GUBUN, a.VISITED_QRCODE, a.CENTER_ID, 
               a.FLOOR_SEQ, a.VISITED_EMPNO, a.VISITED_REGDATE, a.VISITED_REGID, a.VISITED_UPDATEDATE, a.VISITED_UPDATEID, 
               a.VISITED_REQ_NAME, a.VISITED_REQ_CELPHONE, a.VISITED_REQ_ORG, a.VISITED_GROUP_NAME, a.VISITED_GROUP_CHECK,
               b.VISITED_QRCODE, b.VISITED_NAME
       FROM TB_VISITEDINFO a , TB_VISITEDDETAIL b
       WHERE b.VISITED_SEQ = #{visitedCode}
             AND a.VISITED_CODE = b.VISITED_CODE
    </select>
    <select id="selectVisitedQrManageInfo" resultType="lmap">
       SELECT  a.VISITED_CODE, a.VISITED_STATUS, a.VISITED_RESDAY, a.VISITED_RESTIME, a.VISITED_PERSON,  
               a.VISITED_GUBUN, a.VISITED_QRCODE, a.CENTER_ID, 
               a.VISITED_PURPOSE, a.VISITED_GUBUN, a.VISITED_QRCODE, a.CENTER_ID, 
               a.FLOOR_SEQ, a.VISITED_EMPNO, a.VISITED_REGDATE, a.VISITED_REGID, a.VISITED_UPDATEDATE, a.VISITED_UPDATEID, 
               a.VISITED_REQ_NAME, a.VISITED_REQ_CELPHONE, a.VISITED_REQ_ORG, a.VISITED_GROUP_NAME, a.VISITED_GROUP_CHECK,
               b.VISITED_QRCODE, b.VISITED_NAME, b.VISITED_SEQ
       FROM TB_VISITEDINFO a , TB_VISITEDDETAIL b
       WHERE b.VISITED_CODE = #{params.visitedCode}
             AND b.VISITED_CELPHONE = #{params.visitedCelphone}
             AND a.VISITED_CODE = b.VISITED_CODE
    </select>
    <select id="selectVisitedDetailInfo" resultMap="visitedInfo, visitedDetail">
        { call SP_VISITEDINFO(#{visitedGubun ,mode=IN, jdbcType=VARCHAR, javaType=string} , 
                              #{visitedCode ,mode=IN, jdbcType=VARCHAR, javaType=string}
                              )
        }
        
    </select>
    <select id="selecttourCombo" resultType="lmap">
       select TOURDAY from dbo.FN_TOURCOMBO('')
    </select>
    <!-- 2021 메세지 신규 -->
    <select id="selectTourMessage" resultType="lmap">
       { call SP_TOURRESMESSAGE()}
    </select>
    
    
    <select id="selecttourInfo" resultType="lmap">
	   SELECT  dbo.FN_DAYCONVERT(TOURDAY) TOURDAY , CODE, CODE_NM, CODE_DC ,
	         (SELECT ISNULL(SUM(VISITED_PERSON),0) FROM TB_VISITEDINFO WHERE VISITED_RESDAY = tourDAY AND VISITED_RESTIME = CODE_DC) CNT
	   FROM  LETTCCMMNDETAILCODE a, dbo.FN_TOURCOMBO('tour')
	   WHERE CODE_ID = 'TOUR_TIME'
	   ORDER BY TOURDAY ASC, CODE_NM ASC 
    </select>
    <select id="selectTourCount" resultType="lmap">
       SELECT b.TOUR_ALLOW_PERSON,
	         (SELECT ISNULL(SUM(VISITED_PERSON),0)
			 FROM TB_VISITEDINFO
			 WHERE VISITED_RESDAY = #{params.visitedResday}
                  AND VISITED_RESTIME = #{params.visitedRestime}
				  ) TOUR_PERSON
	   FROM TB_SWCINFO b
    </select>
    <insert id="insertVisitedManageInfo">
       <selectKey resultType="String" keyProperty="visitedCode" order="BEFORE">
		   SELECT dbo.FN_VISITEDCODE(#{visitedGubun}) as visitedCode
	   </selectKey>
	   
	   
       INSERT INTO TB_VISITEDINFO (VISITED_CODE, VISITED_STATUS, VISITED_RESDAY, VISITED_RESTIME, 
                                   VISITED_PERSON, VISITED_PURPOSE, VISITED_GUBUN, 
                                   VISITED_QRCODE, CENTER_ID, FLOOR_SEQ, VISITED_EMPNO, VISITED_REMARK,
                                   VISITED_REGDATE, VISITED_REGID, VISITED_UPDATEDATE, VISITED_UPDATEID,
                                   VISITED_REQ_NAME, VISITED_REQ_CELPHONE, VISITED_REQ_ORG,
                                   VISITED_GROUP_NAME, VISITED_GROUP_CHECK )
       VALUES (#{visitedCode} , #{visitedStatus},  #{visitedResday}, #{visitedRestime}, 
               #{visitedPerson , jdbcType=VARCHAR}, #{visitedPurpose , jdbcType=VARCHAR}, #{visitedGubun}, 
               #{visitedQrcode , jdbcType=VARCHAR}, #{centerId}, #{floorSeq}, #{visitedEmpno}, #{visitedRemark , jdbcType=VARCHAR},
               getdate(), #{visitedRegid, jdbcType=VARCHAR}, getdate(), #{visitedUpdateid, jdbcType=VARCHAR},
               #{visitedReqName, jdbcType=VARCHAR} , #{visitedReqCelphone, jdbcType=VARCHAR} , #{visitedReqOrg, jdbcType=VARCHAR} ,
               #{visitedGroupName, jdbcType=VARCHAR} , #{visitedGroupCheck, jdbcType=VARCHAR} 
               );
       <if test="visitedGubun == 'VISITED_GUBUN_1'">       
	       <foreach collection="detailList" item="detailList" separator=";">
	           INSERT INTO TB_VISITEDDETAIL(VISITED_CODE, VISITED_ORG, VISITED_NAME, VISITED_CELPHONE, VISITED_REGDATE)
	           VALUES (#{visitedCode}, #{detailList.visitedOrg}, #{detailList.visitedName}, #{detailList.visitedCelphone}, getdate())
	       </foreach>
       </if> 
    </insert>
    
    <update id="updateQrInfo">
         <foreach collection="detailInfo" item="item" separator=";" >  
			UPDATE TB_VISITEDDETAIL	 SET VISITED_QRCODE = #{item.visitedQrcode ,jdbcType=VARCHAR}
			                             , VISITED_QRCODE_CK = 'N'
			WHERE VISITED_SEQ = #{item.visitedSeq}
		</foreach>
    </update>
    <update id="updateVisitedManageInfo">
       UPDATE TB_VISITEDINFO SET VISITED_STATUS = #{visitedStatus}, 
                                 VISITED_RESDAY = #{visitedResday}, 
                                 VISITED_RESTIME = #{visitedRestime}, 
                                 VISITED_PERSON = #{visitedPerson}, 
                                 VISITED_PURPOSE = #{visitedPurpose}, 
                                 VISITED_GUBUN = #{visitedGubun}, 
                                 VISITED_QRCODE = #{visitedQrcode}, 
                                 <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(centerId)">  
                                 CENTER_ID = #{centerId}, 
                                 </if>
                                 <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(floorSeq)"> 
                                 FLOOR_SEQ = #{floorSeq}, 
                                 </if>
                                 <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(visitedEmpno)"> 
                                 VISITED_EMPNO = #{visitedEmpno}, 
                                 </if>
                                 VISITED_REMARK = #{visitedRemark},
                                 VISITED_UPDATEDATE = getdate(), 
                                 VISITED_REQ_NAME = #{visitedReqName, jdbcType=VARCHAR}, 
                                 VISITED_REQ_CELPHONE = #{visitedReqCelphone, jdbcType=VARCHAR}, 
                                 VISITED_REQ_NAME =  #{visitedReqOrg, jdbcType=VARCHAR} ,
                                 VISITED_UPDATEID =  #{visitedUpdateid , jdbcType=VARCHAR}
       WHERE VISITED_CODE = #{visitedCode}
    </update>
    <update id="updateVisitedStateChangeInfoManage">
       UPDATE TB_VISITEDINFO SET VISITED_STATUS = #{visitedStatus}
                                 <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(visitedQrcode)">  
                                 , VISITED_QRCODE = #{visitedQrcode} 
                                 </if>
                                 , VISITED_UPDATEDATE = getdate()
                                 , VISITED_UPDATEID =  #{visitedUpdateid , jdbcType=VARCHAR}
                                 <if test="!@org.apache.commons.lang3.StringUtils@isEmpty(cancelReason)">  
                                 , CANCEL_REASON = #{cancelReason} 
                                 </if>
       WHERE VISITED_CODE = #{visitedCode}
    </update>
    <update id="updateVisitedDetailStateChangeInfoManage">
       UPDATE TB_VISITEDDETAIL SET VISITED_QRCODE_CK = 'Y'
       WHERE VISITED_SEQ = #{visitedSeq}
    </update>
</mapper>