body{touch-action:none;}
::-webkit-scrollbar{display:none;}
a{color: inherit;}
.wrap{
    position:relative;
    color: #fff;
    width: 1280px;
    height: 800px;
    overflow:hidden;
    background: #344049;
}
.contents{
    position:absolute; 
    margin:0 40px; width: 1200px; height: 640px; 
    box-shadow: 0 10px 28px 0 rgba(0, 0, 0, 0.2);
}
.leftBox{float:left;}
.rightBox{float:right;}
.clear{clear:both; position: inherit;}
/* header */
#header{height: 53px; line-height: 53px; padding:48px 40px 14px 40px;}
#header .logo{display: inline-block;margin-right: 26px;vertical-align:super;}
#header .leftBox span em{font-size: 48px; font-weight: 700;}
#header .leftBox span{font-size:28px;vertical-align: text-bottom; }
#header .day{font-size: 22px;}
#header .time{font-size: 48px; font-weight: 700; padding-left: 25px;}
#header .time em{font-size: 34px; font-weight: 400; vertical-align: text-bottom;}
/* contents */
.main_close{background:url(/img/ic_main_close.png)no-repeat; display: inline-block;width: 34px; height: 34px; position: absolute; right: 0; top:36px;}
.mainBox{position: relative;width: 616px;height: 100%;display: inline-block;background-color: #3d4f5d;}
.main_con{position: absolute; width: 544px; height: 100%; margin: 0 36px;}
.mainBox .state{
    width: 102px;
    height: 32px;
    line-height: 32px;
    font-weight: 800;
    font-size: 16px;
    margin: 64px 0 20px 0;
    text-align: center;
    border-radius: 100px;
}
.mainBox .state.before{background:#e5e5e5; color: #9d9d9d;}
.mainBox .state.now{background:#77e6d5; color: #43705c;}
.mainBox .state.after{background:#fff780;color: #5d4d19;}
.mainBox h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.mainBox h1.long_tit{font-size: 40px; line-height: 50px;}
.mid_con{position: absolute;bottom: 200px;width: 100%;}
.mid_con .time{background: url(/img/time.png) no-repeat;padding-left: 56px;font-size: 28px;line-height: 45px;color: #ebf7ff;}
.mid_con .info{background: url(/img/people.png) no-repeat;padding-left: 56px;margin-top: 26px;}
.mid_con .info em{font-size: 28px;padding-bottom: 10px;font-weight: 400;}
.mid_con .info span{font-size: 20px;color: #ebf7ff;display: inline-block;line-height: 35px;font-weight: 300;}
.mid_con .info .rightBox{
    vertical-align: text-top;
    border-radius: 100px;
    border: 1px solid #71818e;
    color: #ebf7ff;
    display: inline-block;
    width: 121px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 17px;
}
.mainBox .bottom_con{position: absolute;bottom: 40px;width: 100%;}
.bottom_con p{
    background-color: #4e6271;
    color: #ebf7ff;
    opacity: 0.7;
    border-radius: 2px;
    padding: 2px 20px;
    font-size: 14px;
    margin-bottom: 14px;
}
.btnBox{width: 100%;float: left;}
.btnBox a:last-child{float: right; margin-left:14px;}
.btnBox a{width: 48.7%;}
/* mainBox btn style */
.rightGBtn{
    background: #273a4f;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    width: 100%;
    height: 84px;
    line-height: 84px;
    font-size: 24px;
    font-weight: 700;
}
.darkGBtn{
    background: #122643;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    width: 100%;
    height: 84px;
    line-height: 84px;
    font-size: 24px;
    font-weight: 700;
}
/* meeting list */
.whiteBox{
    width: 504px;
    height: 100%;
    display: inline-block;
    float: right;
    background-color: #fafafa;
    color: #5d5d5d;
    padding: 0 40px;
}
.whiteBox .top{margin-top: 23px;}
.whiteBox .top span{font-size: 13px; color: #656565;}
.guide_icon{
    background:url(/img/guide_icon.png)no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: sub;
}
.darkBtn{
    width: 142px;
    height: 42px;
    line-height: 42px;
    color: #676767;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    font-size: 16px;
    background: #424644;
    background-position: 28px 10px;
}
.darkBtn.active{
    background: #575c59;
    color: #fff;
    background-position: 28px 10px;
}
/* box size */
.lg-3, .xs-6, .lg-4{float: left;position: relative;min-height: 1px;box-sizing: border-box;}
.xs-6 {width: 50%;}
@media (min-width: 1200px) { 
    .lg-3{width: 25%;} 
    .lg-4{width: 33.333%;}
}

/* schedule */
.scheduler{margin-top: 25px; height: 504px; overflow: auto;}
.fc-time-grid .fc-slats td span {
    display: block;
    font-size: 20px;
    color: #5d5d5d;
    font-weight: 700;
    text-align: left;
    width: 75px !important;
}
.scheduler .fc-widget-content {
    border-color: #dbdbdb !important;
    border-left: 0;
}
.fc-time-grid .fc-event, .fc-time-grid .fc-bgevent{
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.blank{background: url(/img/ic_blank.png)no-repeat center top 200px;}
.blank p{
    font-size: 28px;
    color: #cdd8e0;
    font-weight: 700;
    text-align: center;
    margin-top: 367px;
}
/* focusR css */
.mainBox h1 em{font-size: 28px; font-weight: 400;}
/* scheduler active color */
.before_active{
    border:1px solid #71d1d1!important;
    background-color: #c3e7e7!important;
    color: #9d9d9d!important;
}
.now_active{
    border:1px solid #71d1d1!important;
    background-color: #a9e4d9!important;
    color: #2f654d!important;
}
.after_active{
    border:1px solid #71d1d1!important;
    background-color: #c7e9d0!important;
    color: #647f5d!important;
}

.bookingPop{width: 476px; text-align: center;}
.bookingPop .top{text-align:left;padding-bottom: 16px; border-bottom:1px solid #383b39;}
.bookingPop .top p{font-size: 22px; display: inline-block; border-right: 1px solid #383b39; padding-right: 14px; margin-right: 14px; }
.bookingPop .con{margin:42px 0;}
.bookingPop .con select{width: 225px; padding: 14px;}