<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sohoki.backoffice.sts.iot.mapper.InoutManageInfoManageMapper">

    <select id="selectAttendManageListByPagination" resultType="InoutManageInfoVO">     	      
		 	SELECT	* 
			FROM 		(	SELECT		rownum RNUM
												, TB.* 
			          			FROM 		(	SELECT		a.RES_SEQ
				          											, a.ATT_SEQ
										                            ,	CASE b.PROXY_YN WHEN 'P' THEN b.PROXY_USER_ID
								                                        ELSE b.USER_ID                                           
								                                        END USER_ID
										                            , TO_CHAR(TO_DATE(a.RES_DAY, 'yyyyMMdd'), 'yyyy-MM-dd') as resDay
										                            , a.ROOM_INTIME
										                            , a.ROOM_OTTIME
										                            , TO_CHAR(a.LOGIN,'yyyy-MM-dd HH24:MI') AS logIn
										                            , TO_CHAR(a.LOGOUT,'yyyy-MM-dd HH24:MI') AS logOut
										                            , a.PC_PASSWORD
										                            , TO_CHAR(b.REG_DATE, 'yyyy-MM-dd') AS regDate
										                            , c.SEAT_NAME
										                            , b.COWORKER_YN
										                            , b.OUT_USER_NM
										                            , b.OUT_USER_TEL
										                            , b.OUT_USER_ORG_NM
										                            , (SELECT grade_name FROM TB_POS_GRD_INFO WHERE grade_id = (SELECT grade_cd FROM TB_EMP_INFO WHERE user_id=b.user_id) ) AS posGrdNm
										                            , (SELECT user_name FROM TB_EMP_INFO WHERE user_id=b.user_id) as empNm
										                            , fn_orgFullName(b.USER_ID) ORG_NAME
										                            , FN_TIMESPLIT(b.RES_STARTTIME) as resStarttime
										                            , CASE c.room_type WHEN 'swc_gubun_1' THEN CASE b.res_type WHEN 'swc_resGubun_1' THEN DECODE(INSTR(FN_TIMESPLIT(FN_TIMEUP(b.RES_ENDTIME)), ':', 1, 1), 1, '', FN_TIMESPLIT(FN_TIMEUP(b.RES_ENDTIME)) )
				                          																									  ELSE '18:00'
				                                                                   															  END
									                              	  ELSE DECODE(INSTR(FN_TIMESPLIT(b.RES_ENDTIME), ':', 1, 1), 1, '', FN_TIMESPLIT(FN_TIMEUP(b.RES_ENDTIME)) )
									                            	  END resEndtime
										                            , CRYPTION_AES256.DEC_AES(a.PC_PASSWORD) as pcPassword
										                            , (SELECT center_nm FROM TB_CENTERINFO WHERE center_id=b.CENTER_ID) centerNm
										                            , b.PROXY_YN
                                                					, (SELECT USER_NAME FROM TB_EMP_INFO WHERE USER_ID = b.PROXY_USER_ID) AS proxyUserNm
								                    FROM 		TB_ATTENDANCE a, TB_SWCRESERVATION b, TB_SWC_ROOM c
								                    WHERE		A.RES_SEQ = B.RES_SEQ 
								                    AND 			b.SEAT_ID = c.SEAT_ID								                    	
								                    <if test="searchKeyword != ''">
					                		<choose>
					                			<when test="searchCondition == 0">
					                				<![CDATA[    
														and (
																	 (b.USER_ID LIKE '%'|| #{searchKeyword} || '%' OR  (SELECT user_name FROM TB_EMP_INFO WHERE user_id=b.USER_ID) LIKE '%' || #{searchKeyword} || '%')
																OR (b.OUT_USER_NM LIKE '%' || #{searchKeyword} || '%') 
                                        						OR (b.PROXY_USER_ID LIKE '%' || #{searchKeyword} || '%' OR (SELECT user_name FROM TB_EMP_INFO WHERE user_id=b.PROXY_USER_ID) LIKE '%' || #{searchKeyword} || '%')
                                        					   ) 
                                    
													 ]]>
					                			</when>
					                			<otherwise>
					                				<choose>
														<when test="searchCondition == 1">
														<![CDATA[    
															and b.USER_ID LIKE '%'||  #{searchKeyword} || '%'
														 ]]>
														</when>
														<otherwise>						  
														<![CDATA[    
															and ( ( ( SELECT user_name FROM TB_EMP_INFO WHERE user_id=b.USER_ID) LIKE '%' || #{searchKeyword} || '%')
															OR  ( (SELECT user_name FROM TB_EMP_INFO WHERE user_id=b.PROXY_USER_ID) LIKE '%' || #{searchKeyword} || '%') 
															OR ( b.OUT_USER_NM LIKE '%' || #{searchKeyword} || '%') )
														 ]]>
														</otherwise>
													</choose>
					                			</otherwise>
					                		</choose>
											
										</if>
					                    <if test="searchCenterId != ''">
					                      and b.CENTER_ID = #{searchCenterId}
					                    </if>
					                    <if test="searchcoworkerYn != ''">
					                      and b.COWORKER_YN = #{searchcoworkerYn}
					                    </if>
					                    <if test="searchorgId != ''">
					                      and b.dept_id = #{searchorgId}
					                    </if>	
					                    <!-- <if test="userId != ''">
					                        and  b.USER_ID =#{userId}
					                    </if>	  -->
					                    <choose>
											<when test="searchStartDay != '' and searchEndDay != ''">						
												<choose>
													<when test="searchDayGubun == 1">						
												 and TO_CHAR(b.REG_DATE,'yyyyMMdd') between #{searchStartDay} and #{searchEndDay}	
													</when>
													<otherwise>					      
													<![CDATA[    
												and  a.RES_DAY between #{searchStartDay} and #{searchEndDay}		
													]]>	
												    </otherwise>
												</choose>
											</when>
										</choose>
						                    <choose>
												<when test="searchOdr != ''">						
										            <if test="searchOdr == 0">
										            ORDER BY 	a.RES_DAY desc  nulls last
										            </if>
										            <if test="searchOdr == 1">
										            ORDER BY 	a.RES_DAY asc  nulls last
										            </if>
										            <if test="searchOdr == 2">
										            ORDER BY 	b.REG_DATE desc nulls last
										            </if>
										            <if test="searchOdr == 3">
										            ORDER BY 	b.REG_DATE asc  nulls last
										            </if>
										            <if test="searchOdr == 4">
										            ORDER BY 	b.seat_id desc  nulls last
										            </if>
										            <if test="searchOdr == 5">
										            ORDER BY 	b.seat_id asc  nulls last
										            </if>
												</when>
												<otherwise>
													ORDER BY 	b.REG_DATE desc nulls last
												</otherwise>
											</choose>
								                    
		                  					) TB 
		                  					<if test="userId !='' ">
						                    WHERE			TB.USER_ID = #{userId}
						                    </if>
		        			)						       
			WHERE 	RNUM  BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}            
   </select>
      
   <select id="selectAttendManageDetail" resultType="InoutManageInfoVO">
     
   </select>
   <select id="selectAttendManageView" resultType="InoutManageInfoVO">
     
   </select>
   <select id="selectAttMax" resultType="java.lang.Integer">
       select max(ATT_SEQ) from TB_ATTENDANCE
   </select>
   
   <select id="selectKioskRoomIn" resultType="InoutManageInfoVO">
   SELECT b.SEAT_NAME, FN_TIMESPLIT(a.RES_STARTTIME) resStarttime, FN_TIMESPLIT(fn_TimeUp(a.RES_ENDTIME)) as resEndtime, c.ATT_SEQ
   FROM TB_SWCRESERVATION a, TB_SWC_ROOM b, TB_ATTENDANCE c
   WHERE a.SEAT_ID = b.SEAT_ID AND A.RES_SEQ = C.RES_SEQ AND c.RES_DAY  =  TO_CHAR(SYSDATE, 'yyyyMMdd')
         and a.RES_SEQ = #{resSeq}
   </select>
   <select id="roomInTimeResINSeq" resultType="java.lang.Integer">
    SELECT 	DECODE(a.res_seq, 0, NULL, a.res_seq) AS resSeq 
	FROM (    
			        SELECT NVL(res_seq, 0) AS res_seq 
			        FROM TB_ATTENDANCE right OUTER JOIN dual   
			        ON user_id=#{userId}
			        AND RES_DAY = TO_CHAR(SYSDATE, 'yyyyMMdd')
			        AND ROOM_INTIME IS NULL AND  ROOM_OTTIME IS NULL
			        ORDER BY RES_SEQ ASC 
	) a 
	WHERE		ROWNUM =1 
	ORDER BY A.RES_SEQ ASC
   </select>
   <select id="roomInTimeResOTSeq" resultType="java.lang.Integer">
    SELECT  A.RES_SEQ FROM ( 
		SELECT RES_SEQ FROM TB_ATTENDANCE 
		WHERE USER_ID = #{userId}
		      AND RES_DAY = TO_CHAR(SYSDATE, 'yyyyMMdd')
		      AND ROOM_INTIME IS NOT NULL AND  ROOM_OTTIME IS NULL
		      ORDER BY RES_SEQ ASC 
	) a WHERE ROWNUM =1 ORDER BY A.RES_SEQ ASC 
   </select> 
   <select id="selectAttendCreateCheck" resultType="java.lang.Integer">   
      select fn_resDayInterval(#{resSeq}) from dual
   </select>
   <select id="selectAttendManageListTotCnt_S" resultType="java.lang.Integer">
        SELECT		NVL(count(*),0)      
	         FROM 		(	SELECT		a.RES_SEQ
	                           , a.ATT_SEQ
	                             ,	CASE b.PROXY_YN WHEN 'P' THEN b.PROXY_USER_ID
	                                     ELSE b.USER_ID                                           
	                                     END USER_ID										                            
	                 FROM 		TB_ATTENDANCE a, TB_SWCRESERVATION b, TB_SWC_ROOM c
	                 WHERE		A.RES_SEQ = B.RES_SEQ 
	                 AND 			b.SEAT_ID = c.SEAT_ID								                    	
	                 <if test="searchKeyword != ''">
	           <choose>
	             <when test="searchCondition == 0">
	               <![CDATA[    
	         and (
	                (b.USER_ID LIKE '%'|| #{searchKeyword} || '%' OR  (SELECT user_name FROM TB_EMP_INFO WHERE user_id=b.USER_ID) LIKE '%' || #{searchKeyword} || '%')
	             OR (b.OUT_USER_NM LIKE '%' || #{searchKeyword} || '%') 
	                                 OR (b.PROXY_USER_ID LIKE '%' || #{searchKeyword} || '%' OR (SELECT user_name FROM TB_EMP_INFO WHERE user_id=b.PROXY_USER_ID) LIKE '%' || #{searchKeyword} || '%')
	                                  ) 
	                           
	        ]]>
	             </when>
	             <otherwise>
	               <choose>
	         <when test="searchCondition == 1">
	         <![CDATA[    
	           and b.USER_ID LIKE '%'||  #{searchKeyword} || '%'
	          ]]>
	         </when>
	         <otherwise>						  
	         <![CDATA[    
	           and ( ( ( SELECT user_name FROM TB_EMP_INFO WHERE user_id=b.USER_ID) LIKE '%' || #{searchKeyword} || '%')
	           OR  ( (SELECT user_name FROM TB_EMP_INFO WHERE user_id=b.PROXY_USER_ID) LIKE '%' || #{searchKeyword} || '%') 
	           OR ( b.OUT_USER_NM LIKE '%' || #{searchKeyword} || '%') )
	          ]]>
	         </otherwise>
	       </choose>
	             </otherwise>
	           </choose>
			
	 		</if>
	           <if test="searchCenterId != ''">
	             and b.CENTER_ID = #{searchCenterId}
	           </if>
	           <if test="searchcoworkerYn != ''">
	             and b.COWORKER_YN = #{searchcoworkerYn}
	           </if>
	           <if test="searchorgId != ''">
	             and b.dept_id = #{searchorgId}
	           </if>	
	           <!-- <if test="userId != ''">
	               and  b.USER_ID =#{userId}
	           </if>	  -->
	           <choose>
	   <when test="searchStartDay != '' and searchEndDay != ''">						
	     <choose>
	       <when test="searchDayGubun == 1">						
	      and TO_CHAR(b.REG_DATE,'yyyyMMdd') between #{searchStartDay} and #{searchEndDay}	
	       </when>
	       <otherwise>					      
	       <![CDATA[    
	     and  a.RES_DAY between #{searchStartDay} and #{searchEndDay}		
	       ]]>	
	         </otherwise>
	     </choose>
	   </when>
	 </choose>             
	                   
	      ) TB 
	      <if test="userId !='' ">
	      WHERE			TB.USER_ID = #{userId}
	      </if>
		        		
   </select>
   <select id="selectRoomCheck" resultType="java.lang.String">
     SELECT DECODE(ROOM_INTIME, null, 'T','C') 
     FROM TB_ATTENDANCE 
     WHERE ATT_SEQ = #{attSeq}
   </select>
   <select id="selectLoginCheck" resultType="java.lang.String">
     SELECT DECODE(LOGIN, null, 'T','C') 
     FROM TB_ATTENDANCE 
     WHERE ATT_SEQ = #{attSeq}
   </select>
   <!--  여기 수정 구문  -->
   <select id="selectPCAuthCheck" resultType="java.lang.Integer">
     SELECT NVL(a.ATT_SEQ,0)
     FROM TB_ATTENDANCE a,  TB_SWCRESERVATION b
     where a.RES_SEQ = b.RES_SEQ and b.PROXY_USER_ID = #{userId} and b.SWC_SEQ = #{swcSeq}
           and  RES_DAY = #{resDay} 
            
          and CRYPTION_AES256.DEC_AES(a.PC_PASSWORD) = #{pcPassword}
           <!--  
           and a.PC_PASSWORD = #{pcPassword}-->       
   </select>
    <!--  여기 수정 구문  끝 -->
   <select id="selectAttendPassword"  resultType="java.lang.String">
   	select ROUND(DBMS_RANDOM.VALUE(100001, 999999),0) as password from dual
   </select>
   
   <!--  신규 작업 -->
   <select id="selectAttendCnt" resultType="java.lang.Integer">
     select NVL(count(*),0)
     from TB_ATTENDANCE
     where RES_SEQ = #{resSeq}
    
   </select> 
   
   <insert id="insertAttendManage">   
	  insert into TB_ATTENDANCE( ATT_SEQ, RES_SEQ,  USER_ID, RES_DAY,  PC_PASSWORD)
   		 SELECT ATTEND_SEQ.NEXTVAL, aa.RES_SEQ,  aa.PROXY_USER_ID, aa.SWC_RESDAY, CRYPTION_AES256.ENC_AES(pcPassword) 
 		 FROM(
            SELECT XX.RES_SEQ, XX.PROXY_USER_ID, XX.SWC_RESDAY, XX.pcPassword, XX.holyCheck
            FROM (
                  SELECT X1.RES_SEQ, X1.PROXY_USER_ID, X1.SWC_RESDAY, X1.pcPassword, 
                         CASE HOL_DT_YN WHEN 'Y' THEN
                             CASE WHEN (SELECT NVL(COUNT(*),0) FROM  TB_HOLYWORKINFO c WHERE c.HOLY_DATE = X1.SWC_RESDAY AND EMP_NO = X1.PROXY_USER_ID) > 0 THEN 'N' 
                                 ELSE 'Y'
                             END 
                          ELSE 
                              HOL_DT_YN
                          END holyCheck
                  FROM TB_HOLY X,  (
                        SELECT A.RES_SEQ,   a.PROXY_USER_ID, b.SWC_RESDAY, <!--  ROUND(DBMS_RANDOM.VALUE(100000, 999999),0) AS ramdomCode    --> #{pcPassword} as pcPassword
                        FROM TB_SWCRESERVATION a, TB_SWCTIME b
                        WHERE A.RES_SEQ = B.RES_SEQ AND A.RES_SEQ = #{resSeq}
                        GROUP BY b.SWC_RESDAY, A.RES_SEQ, a.PROXY_USER_ID
                  ) X1
                  WHERE X.DT = X1.SWC_RESDAY  
                ) XX
            WHERE XX.holyCheck = 'N'
        ) aa
   </insert>
   <update id="updateAttPcPassChange">
      update TB_ATTENDANCE set   
      							PC_PASSWORD = ( SELECT a.pcPassword FROM (SELECT CRYPTION_AES256.ENC_AES(ROUND(DBMS_RANDOM.VALUE(100000, 999999),0))  AS pcPassword FROM dual) a )
      where res_seq = #{resSeq}
   </update>
   <update id="updateAttRoomState">
      update TB_ATTENDANCE set <if test="mode == 'IN'">
                                ROOM_INTIME = SUBSTR(TO_CHAR(SYSDATE, 'yyyy-MM-dd HH24:MI:SS'),12,5)
                               </if>
                               <if test="mode == 'OT'">
                               ROOM_OTTIME = SUBSTR(TO_CHAR(SYSDATE, 'yyyy-MM-dd HH24:MI:SS'),12,5)
                               </if>
      where ATT_SEQ = #{attSeq}
   </update>
   <update id="updateAttLoginState">
      update TB_ATTENDANCE set <if test="mode == 'IN'">
                                LOGIN = sysdate
                               </if>
                               <if test="mode == 'OT'">
                               LOGOUT = sysdate
                               </if>
      where ATT_SEQ = #{attSeq}
   </update>
   <update id="updateAttendManage">
      update TB_ATTENDANCE set  <if test="roomIntime != ''">
                                ROOM_INTIME = #{roomIntime}
                                </if> 
                                <if test="roomOttime != ''">
                                ROOM_OTTIME = #{roomOttime}
                                </if> 
                                <if test="login != ''">
                                LOGIN = #{login}
                                </if> 
                                <if test="logout != ''">
                                LOGOUT = #{logout}
                                </if> 
      where ATT_SEQ = #{attSeq}
   </update>
   
   <delete id="deleteAttendManage">
      delete from TB_ATTENDANCE
      where RES_SEQ = #{resSeq}
   </delete>
   <!--  신규 추가 구문 -->
   
   <delete id="deleteAttDayChange">
      delete from TB_ATTENDANCE
      where RES_SEQ = #{resSeq}
             <![CDATA[
             and (RES_DAY < #{resStartDay} or RES_DAY > #{resEndDay})
             ]]>
   </delete>
   <delete id="deleteAttDayChange_IFS">
      delete from TB_ATTENDANCE_IFS
      where RES_SEQ = #{resSeq}
             <![CDATA[
             and (RES_DAY < #{resStartDay} or RES_DAY > #{resEndDay})
             ]]>
   </delete>
   
   <insert id="insertAttendManageByEsign">
		INSERT INTO 	TB_ATTENDANCE ( 	ATT_SEQ
																, RES_SEQ
									                            , USER_ID
									                            , RES_DAY
									                            , PC_PASSWORD
														  )
		SELECT		ATTEND_SEQ.NEXTVAL
				        , aa.RES_SEQ
				        , aa.USER_ID
				        , aa.SWC_RESDAY
				        , CRYPTION_AES256.ENC_AES(aa.pcPassword) 
		  FROM	(	SELECT		A.RES_SEQ	
						                , a.USER_ID
						                , b.SWC_RESDAY
						                , <!-- ROUND(DBMS_RANDOM.VALUE(100000, 999999),0) AS ramdomCode -->   #{pcPassword} as pcPassword
				        FROM 		TB_SWCRESERVATION a, TB_SWCTIME b
				        WHERE 		A.RES_SEQ = B.RES_SEQ 
				        AND 			A.RES_SEQ = #{resSeq}
				        GROUP BY 	b.SWC_RESDAY, A.RES_SEQ, a.USER_ID
		        	) aa
   </insert>
   
   <insert id = "insertAttendManageIfs">
   		INSERT INTO TB_ATTENDANCE_IFS 
			(
			  SELECT 		b.RES_SEQ
					          	, b.ATT_SEQ
					           	, CASE a.proxy_yn WHEN 'P' THEN a.PROXY_USER_ID
		                		  ELSE b.user_id
		                  		  END user_id
					          	, b.RES_DAY
								, b.ROOM_INTIME
								, b.ROOM_OTTIME
								, b.LOGIN
								, b.LOGOUT
								, EAI_SEQ_NO.NEXTVAL
								, ''
								, SYSDATE
								, 'N'
								, ''
								, ''
			  	FROM 		TB_ATTENDANCE b, TB_SWCRESERVATION a
        		WHERE 		b.res_seq = a.res_seq 
			 	AND			att_seq=#{attSeq}
			)
   </insert>
   
   
   
   

</mapper>